{% extends "layout.html" %}
{% set title = 'Course with parts' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Experimental designs looking at breaking course fields onto different pages, based on a theme.</p>
      <p>Try listing courses like search.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course subject and description', id: 'course-subject-and-description' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'Requirements and qualifications', id: 'requirements-and-qualifications' },
  { text: 'School placements', id: 'school-placements' },
  { text: 'Application codes', id: 'application-codes' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/course-with-parts/thumbnails/01-courses.png', '/public/images/publish-teacher-training/course-with-parts/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/course-with-parts/thumbnails/02-course.png', '/public/images/publish-teacher-training/course-with-parts/02-course.png', '') }}

  {{ designHistory.screenshot('Course subject and description', 'course-subject-and-description', '/public/images/publish-teacher-training/course-with-parts/thumbnails/03-course-subject-and-description.png', '/public/images/publish-teacher-training/course-with-parts/03-course-subject-and-description.png', '') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/course-with-parts/thumbnails/04-about-this-course.png', '/public/images/publish-teacher-training/course-with-parts/04-about-this-course.png', '') }}

  {{ designHistory.screenshot('Requirements and qualifications', 'requirements-and-qualifications', '/public/images/publish-teacher-training/course-with-parts/thumbnails/05-requirements-and-qualifications.png', '/public/images/publish-teacher-training/course-with-parts/05-requirements-and-qualifications.png', '') }}

  {{ designHistory.screenshot('School placements', 'school-placements', '/public/images/publish-teacher-training/course-with-parts/thumbnails/06-school-placements.png', '/public/images/publish-teacher-training/course-with-parts/06-school-placements.png', '') }}

  {{ designHistory.screenshot('Application codes', 'application-codes', '/public/images/publish-teacher-training/course-with-parts/thumbnails/07-application-codes.png', '/public/images/publish-teacher-training/course-with-parts/07-application-codes.png', '') }}


{% endblock %}
