{% extends "layout.html" %}
{% set title = 'Find performance reports' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        <a href="/performance/2019-03">March 2019</a>
      </h2>
      <p>We’re 6 months into this year’s recruitment cycle and, for the first time, the Department has data on how candidates are searching for courses.</p>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        <a href="/performance/2019-05">May 2019</a>
      </h2>
      <p>After 4 months of transitioning providers from UCAS course management to DfE course management, this report focuses on the candidate facing tool and what sorts of behaviours have been coming out of our analytics.</p>
    </div>
  </div>

{% endblock %}
