{% extends "layout.html" %}
{% set title = 'Who did what and when' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>These are the beginnings of an audit trail for content. We will record the most recent author and publisher, and the times these events happen.</p>

      <p>For organisations where multiple users could be editing a course or organisation, this makes it clear who has been working on what. We won’t yet show what changed.</p>

      <p>This information will also help with support.</p>

      <p><a href="/publish-teacher-training/publish-changes/iteration-aug-15">All states in prototype</a></p>

      <p><a href="https://trello.com/c/MdtRyOft/129-surface-information-about-who-and-when-the-last-draft-about-your-org-was-saved">Trello</a></p>
    </div>
  </div>

  {% set contents = [
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Course', id: 'course' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('About your organisation', 'about-your-organisation', '/public/images/publish-teacher-training/who-did-what-when/thumbnails/01-about-your-organisation.png', '/public/images/publish-teacher-training/who-did-what-when/01-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/who-did-what-when/thumbnails/02-course.png', '/public/images/publish-teacher-training/who-did-what-when/02-course.png', '') }}


{% endblock %}
