{% extends "layout.html" %}
{% set title = 'Create account' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Start page', id: 'start-page' }, 
    { text: 'Create an account', id: 'create-an-account' }, 
    { text: 'Reset password', id: 'reset-password' }, 
    { text: 'Sign in', id: 'sign-in' }, 
    { text: 'Dashboard', id: 'dashboard' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}
  
  {{ designHistory.screenshot('Start page', 'start-page', '/public/images/apply-teacher-training/create-account/thumbnails/start-page.png', '/public/images/apply-teacher-training/create-account/start-page.png', '') }}

  {{ designHistory.screenshot('Create an account', 'create-an-account', '/public/images/apply-teacher-training/create-account/thumbnails/create-an-account.png', '/public/images/apply-teacher-training/create-account/create-an-account.png', '') }}

  {{ designHistory.screenshot('Reset password', 'reset-password', '/public/images/apply-teacher-training/create-account/thumbnails/reset-password.png', '/public/images/apply-teacher-training/create-account/reset-password.png', '') }}

  {{ designHistory.screenshot('Sign in', 'sign-in', '/public/images/apply-teacher-training/create-account/thumbnails/sign-in.png', '/public/images/apply-teacher-training/create-account/sign-in.png', '') }}

  {{ designHistory.screenshot('Dashboard', 'dashboard', '/public/images/apply-teacher-training/create-account/thumbnails/dashboard.png', '/public/images/apply-teacher-training/create-account/dashboard.png', '') }}

{% endblock %}
