{% extends "layout.html" %}
{% set title = 'Welcome email' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This is the email we send to users when they log in for the first time.</p>
      <p>We send our own welcome email so that users have an easy way back to our service, and to encourage them to bookmark the right URL.</p>
    </div>
  </div>

  {{ designHistory.screenshot('', 'welcome-email', '/public/images/publish-teacher-training/welcome-email/thumbnails/01-welcome-email.png', '/public/images/publish-teacher-training/welcome-email/01-welcome-email.png', '') }}

{% endblock %}
