{% extends "layout.html" %}
{% set title = 'A university’s view' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Universities are the simplest provider. There are no schools to apply to and <a href="/publish-teacher-training/imported-from-ucas">no course folding</a>.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>remove schools link in header</li>
        <li>hide accrediting provider</li>
        <li>don’t show any of the qualification or salary study option fields</li>
      </ul>

      <p>We showed this to universities at the <a href="http://ucet.ac.uk/">UCET</a> June meetup. Each table was given a printout of the screens below, which some commented on.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course details from ucas', id: 'course-details-from-ucas' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'About this training provider', id: 'about-this-training-provider' },
  { text: 'Course requirements', id: 'course-requirements' },
  { text: 'Organisation', id: 'organisation' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/01-courses.png', '/public/images/publish-teacher-training/simplified-university-view/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/02-course.png', '/public/images/publish-teacher-training/simplified-university-view/02-course.png', '') }}

  {{ designHistory.screenshot('Course details from ucas', 'course-details-from-ucas', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/03-course-details-from-ucas.png', '/public/images/publish-teacher-training/simplified-university-view/03-course-details-from-ucas.png', '') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/04-about-this-course.png', '/public/images/publish-teacher-training/simplified-university-view/04-about-this-course.png', '') }}

  {{ designHistory.screenshot('About this training provider', 'about-this-training-provider', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/05-about-this-training-provider.png', '/public/images/publish-teacher-training/simplified-university-view/05-about-this-training-provider.png', '') }}

  {{ designHistory.screenshot('Course requirements', 'course-requirements', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/06-course-requirements.png', '/public/images/publish-teacher-training/simplified-university-view/06-course-requirements.png', '') }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/simplified-university-view/thumbnails/07-organisation.png', '/public/images/publish-teacher-training/simplified-university-view/07-organisation.png', '') }}


{% endblock %}
