{% extends "layout.html" %}
{% set title = 'Language skills' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Language skills (English main language)', id: 'language-skills' },
    { text: 'Language skills (English not main language)', id: 'language-skills---no' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Language skills (English main language)', 'language-skills', '/public/images/apply-teacher-training/language-skills/thumbnails/language-skills.png', '/public/images/apply-teacher-training/language-skills/language-skills.png', '') }}

  {{ designHistory.screenshot('Language skills (English not main language)', 'language-skills---no', '/public/images/apply-teacher-training/language-skills/thumbnails/language-skills---no.png', '/public/images/apply-teacher-training/language-skills/language-skills---no.png', '') }}

{% endblock %}
