{% extends "layout.html" %}
{% set title = 'Request access' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>A small iteration on the <a href="/publish-teacher-training/check-ucas-data#request-access">initial design</a> adding a form legend, the new user’s organisation and success message.</p>
      <p>We’d like to record whether the new user is part of the same organisation or a different one.</p>
      <p>More about the request access process on the ticket: <a href="https://dfedigital.atlassian.net/browse/BATSA-384">BATSA-384</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Request access', id: 'request-access' },
  { text: 'Access requested', id: 'access-requested' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Request access', 'request-access', '/public/images/publish-teacher-training/request-access-iteration-june-29/thumbnails/01-request-access.png', '/public/images/publish-teacher-training/request-access-iteration-june-29/01-request-access.png', '') }}

  {{ designHistory.screenshot('Access requested', 'access-requested', '/public/images/publish-teacher-training/request-access-iteration-june-29/thumbnails/02-access-requested.png', '/public/images/publish-teacher-training/request-access-iteration-june-29/02-access-requested.png', '') }}


{% endblock %}
