{% macro email(subject, content) %}
  <div class="bat-email">
    <h2 class="govuk-heading-m bat-email-subject">{{ subject }}</h2>

    {{ markdown(content) | safe }}
  </div>
{% endmacro %}

{% macro item(href, title, description) %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
    <a href="{{ href }}">{{ title }}</a>
  </h3>
  <p>{{ description }}</p>
{% endmacro %}

{% macro bar(number, total) %}
  {% set percentage = (number/total) * 100 %}
  <div class="progress-bar-container">
    <span style="width: {{ percentage }}%" class="progress-bar"></span>
    <span class="progress-bar-number">{{ percentage | fixed }}%</span>
  </div>
{% endmacro %}

{% macro barChartTable(headers, rows) %}
  {% set total = totalFromRows(rows) %}
  <table class="govuk-table govuk-!-margin-bottom-7">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 50%">{{ headers[0] }}</th>
        <th class="govuk-table__header">{{ headers[1] }} ({{ total }})</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for row in rows %}
        {% set percentage = (row[1]/total) * 100 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ row[0] }}</td>
          <td class="govuk-table__cell">
            <div class="progress-bar-container" title="{{ row[1] }} out of {{ total }}">
              <span style="width: {{ percentage }}%" class="progress-bar"></span>
              <span class="progress-bar-number">{{ percentage | fixed }}%</span>
            </div>
          </td>
        </tr>
      {% endfor %}
  </table>
{% endmacro %}
