{% macro screenshotContents(contents) %}
<div class="govuk-!-margin-top-4 govuk-!-margin-bottom-9 design-history-dont-print">
  <h2 class="govuk-heading-m">Screenshots</h2>
  <ul class="govuk-list">
    {% for c in contents %}
      <li><a href="#{{ c.id }}">{{ c.text }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro breadcrumbs(items = [ { href: "/", text: "Design history" } ]) %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  <div class="design-history-dont-print">
    {{ govukBreadcrumbs({ items: items }) }}
  </div>
{% endmacro %}

{% macro screenshot(title, id, thumbnail, image, html = '', headingClass = 'govuk-heading-l', headingLevel = 'h2') %}
<div class="design-history-screenshot govuk-!-margin-bottom-9">
  <{{headingLevel}} class="{{headingClass}} design-history-screenshot__heading" id="{{ id }}">{{ title }}</{{headingLevel}}>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds design-history-screenshot__container">
      <div class="govuk-!-margin-bottom-6 design-history-screenshot__image-container">
        <a href="{{ image }}" class="design-history-screenshot__image-link">
          <img src="{{ thumbnail }}" width="630" alt="Screenshot of {{ title }}" class="design-history-screenshot__image" />
        </a>
      </div>
      <div class="design-history-screenshot__text">
        {{ html | safe }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro backLink(href = "/", text = "Back") %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({ text: text, href: href }) }}
{% endmacro %}
