{% extends "layout.html" %}
{% set title = 'Contact details' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Contact details', id: 'contact-details' }, 
    { text: 'What is your address', id: 'what-is-your-address' }, 
    { text: 'Select address', id: 'select-address' }, 
    { text: 'Manually add address', id: 'manually-add-address' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}
  
  {{ designHistory.screenshot('Contact details', 'contact-details', '/public/images/apply-teacher-training/contact-details/thumbnails/contact-details.png', '/public/images/apply-teacher-training/contact-details/contact-details.png', '') }}

  {{ designHistory.screenshot('What is your address', 'what-is-your-address', '/public/images/apply-teacher-training/contact-details/thumbnails/what-is-your-address.png', '/public/images/apply-teacher-training/contact-details/what-is-your-address.png', '') }}

  {{ designHistory.screenshot('Select address', 'select-address', '/public/images/apply-teacher-training/contact-details/thumbnails/select-address.png', '/public/images/apply-teacher-training/contact-details/select-address.png', '') }}

  {{ designHistory.screenshot('Manually add address', 'manually-add-address', '/public/images/apply-teacher-training/contact-details/thumbnails/manually-add-address.png', '/public/images/apply-teacher-training/contact-details/manually-add-address.png', '') }}

{% endblock %}
