{% extends "layout.html" %}
{% set title = 'Find postgraduate teacher training' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Prototype:<br />
        <a href="https://search-and-compare-prototype.herokuapp.com/">https://search-and-compare-prototype.herokuapp.com/</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--l" />

      <h2 class="govuk-heading-l govuk-visually-hidden">Public beta</h2>

      <h3 class="govuk-heading-l">February 2019</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/choose-how-to-apply-2">Choose how to apply – iteration and research</a>
      </h4>
      <p>
        An updated journey into UCAS or new Apply service, tested with users.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/choose-how-to-apply">Choose how to apply</a>
      </h4>
      <p>
        User journey into UCAS or new Apply service
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/send-survey">SEND Survey and Updates</a>
      </h4>
      <p>
        Research and findings into courses with a SEND specialism
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">November 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/maps-for-providers-with-many-partners">Maps for providers with many partner schools</a>
      </h4>
      <p>
        What does good look like for providers with many partner schools?
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/tweaked-course-titles">Iterate course titles</a>
      </h4>
      <p>
        Make it easier to differentiate between search results.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/static-service">Static failover service</a>
      </h4>
      <p>
        If we had to provide a site without any dynamic features, how would it look.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/map-4">Show a map in the filters column</a>
      </h4>
      <p>
        Clarify where a user is searching on the list view.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/sen-filter">Special educational needs (SEN) filter</a>
      </h4>
      <p>
        SEN is a subject, but also not a subject. Any subject could have an SEN focus.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">October 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/map-3">Results on a map – Text on labels</a>
      </h4>
      <p>
        A further map iteration
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/map-2">Results on a map – User research 18 October</a>
      </h4>
      <p>
        A combination of the full screen and original design.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/experimental-map/iteration">Results on a map – Full screen (iteration)</a>
      </h4>
      <p>
        Second pass at showing courses on a full screen map.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/experimental-map">Results on a map – Full screen</a>
      </h4>
      <p>
        First pass at showing courses on a full screen map.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/map-original">Results on a map – Early design with tweaks</a>
      </h4>
      <p>
        Map based on code written during alpha/private-beta with some recent tweaks.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/live-launch">What we launched – 2 October 2018</a>
      </h4>
      <p>
        Our live public beta launch.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/fe-and-pgde">Further education and PGDE courses</a>
      </h4>
      <p>
        We quickly iterated fixes to correctly indicate qualifications on these courses.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">September 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/subjects-bursaries-and-skes">Subjects, bursaries and SKE courses</a>
      </h4>
      <p>
        An iteration on the MVP, with full course pages and a subject filter with bursary and SKE information.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">July 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/mvp-iteration-jul-25">Just the UCAS data – iteration 25 July</a>
      </h4>
      <p>
        Tweaks to the minimum viable service including improved subject selection.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/all-courses-minimum">Just the UCAS data</a>
      </h4>
      <p>
        What an absolute minimum viable service might look like.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">June 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/course-options-user-research-june-8">Folded courses user research 8 June 2018</a>
      </h4>
      <p>
        Testing study options in search results and on the course information page.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/apply-variants">Apply variants</a>
      </h4>
      <p>
        Examples of ‘Apply’ sections for the variety of UCAS courses, focusing on how the folding down of courses extrapolates.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h3 class="govuk-heading-l">May 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/variants">Course listing variants</a>
      </h4>
      <p>
        Examples of optimal search results for the variety of UCAS courses, with discussion.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Private beta</h2>
      <p class="govuk-body-l">The private beta is a reduced version of the alpha, focusing on a single subject – business studies.</p>

      <p class="govuk-inset-text">
        <a href="https://search-and-compare-beta.herokuapp.com/">Private beta design on Heroku</a>
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/private-beta-iteration-may-15">Private beta iteration 15 May 2018</a>
      </h3>
      <p>
        Updated ‘choose your search’ page and added subject filter to results.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/user-research-may-10">User research 10 May 2018</a>
      </h3>
      <p>
        Testing with assisted digital, dyslexic and visually impaired users.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/user-research-may-3">User research 3 May 2018</a>
      </h3>
      <p>
        Testing with users middle to low on the digital inclusion scale, dyslexic and hearing impaired users.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/private-beta-launch">Private beta as launched</a>
      </h3>
      <p>
        The service as it was launched on 1 May 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/user-research-apr-25">User research 25 April 2018</a>
      </h3>
      <p>
        Testing with users in the <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#annex-2-digital-inclusion-scale-for-individuals">middle of the digital inclusion scale</a>.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/find-teacher-training/user-research-apr-12">User research 12 April 2018</a>
      </h3>
      <p>
        Testing business studies flow with users interested in becoming a teacher, but not necessarily within business studies.
      </p>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha</h2>
      <p class="govuk-inset-text">
        <a href="https://search-and-compare-alpha.herokuapp.com/">Alpha design on Heroku</a>
      </p>

      <ul class="govuk-list">
        <li>
          <a href="/find-teacher-training/alpha-version-4">Version 4</a>
        </li>
        <li>
          <a href="/find-teacher-training/alpha-version-3">Version 3</a>
        </li>
        <li>
          <a href="/find-teacher-training/alpha-version-2">Version 2</a>
        </li>
        <li>
          <a href="/find-teacher-training/alpha-version-1">Version 1</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Further resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="/publish-teacher-training">Manage courses design history (eg Course admin)</a>
        </li>
        <li>
          <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/138379265/Search+designs">Designs in confluence</a>
        </li>
        <li>
          <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/232325123/User+flow+for+beta">Initial user flow for beta</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
