// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Not in design system:
$button-colour: #00823b;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Design history styles
@import "design-history/design-history";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Markdown styles
.markdown {
  table {
    @extend .govuk-table;

    tr {
      @extend .govuk-table__row !optional;
    }

    tbody {
      @extend .govuk-table__body !optional;
    }

    thead {
      @extend .govuk-table__head !optional;
    }

    th {
      @extend .govuk-table__header;
    }

    td {
      @extend .govuk-table__cell;
    }
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  h1 {
    @extend .govuk-heading-xl;
  }

  h2 {
    @extend .govuk-heading-l;
  }

  h3 {
    @extend .govuk-heading-m;
  }

  h4 {
    @extend .govuk-heading-s;
  }
}

// Email styles

.bat-email {
  border: 5px solid $govuk-border-colour;
  padding: govuk-spacing(6);
  margin-bottom: govuk-spacing(4);
}

.bat-email-subject {
  padding-bottom: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  border-bottom: 2px solid $govuk-border-colour;
}

// Publish documentation styles
// /publish-teacher-training/publish-states

.phase-tag-small {
  padding: 4px 8px 1px;
}

.phase-tag-no-content {
  background: govuk-colour("white");
  color: govuk-colour("grey-1");
  border: 2px solid lighten(govuk-colour("grey-1"), 10%);
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-not-running {
  background: govuk-colour("grey-3");
  color: govuk-colour("black");
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-draft {
  background: govuk-colour("orange");
}

.phase-tag-published {
  background: $button-colour;
}

.empty {
  color: govuk-colour("grey-1");
}

.progress-bar-container {
  @include govuk-font(16);
  position: relative;
  height: 2em;
}

.progress-bar {
  background: govuk-colour("yellow");
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.progress-bar-number {
  position: absolute;
  padding: 8px 10px;
}
