{% extends "layout.html" %}
{% set title = 'Add a training location' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The first design for adding training locations to an organisation. It follows the same patterns as the <a href="/publish-teacher-training/new-course-iteration-14-jan">new course wizard</a> – one thing per page, check your answers at the end, back-and-forth editing once the wizard is finished.</p>

      <p>We’ve only designed the ‘school, college or university’ flow so far.</p>

      <h2 class="govuk-heading-l">Using a schools autocomplete</h2>
      <p>By using a <a href="/publish-teacher-training/schools-autocomplete">schools autocomplete</a> this design tries to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>minimise what information a provider needs to enter</li>
        <li>improve the accuracy and quality of data we have</li>
        <li>create the opportunity for future features that can use that data (eg Ofsted ratings, precise map locations, school type and size)</li>
      </ul>

      <p>This prototype does a URN lookup from <a href="https://github.com/fofr/schools-json">a flat-file repository</a>, as a sort of MVP schools API – <a href="https://github.com/fofr/schools-json/blob/master/schools/100005.json">example response</a>.</p>

      <h2 class="govuk-heading-l" id="user-research">User research</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/oDwREDkfjwjW5SpCi">Canterbury Christ Church University</a></li>
        <li><a href="https://lookback.io/watch/vw6eDzqmL4s24rR2Y">East of England Teacher Training</a> (a SCITT)</li>
        <li><a href="https://lookback.io/watch/qD9xw5pLPFuYHvevH">Doncaster ITT Partnership</a></li>
        <li><a href="https://lookback.io/watch/XkCjbzaEZNPrEnNcp">Gateway Alliance</a></li>
        <li><a href="https://lookback.io/watch/3FQ5u2nh8JRFJLtGF">Claremont Primary School</a></li>
        <li><a href="https://lookback.io/watch/pWYBvEpr8YfeF7pAx">University of Huddersfield</a></li>
        <li><a href="https://lookback.io/watch/iviAKDMGPxMK68voe">The Royal Borough Teaching School Alliance</a></li>
      </ul>

      <p>The ‘pick a school’ workflow works well if the provider can find the school they’re after. If the <a href="/publish-teacher-training/schools-autocomplete#user-research">quirks around the autocomplete</a> can be fixed then this should work well.</p>

      <p>An FE provider got confused with the label ‘School or university’, they wanted to add a college. We renamed type to include ‘college’.</p>

      <p>One user wanted to enter their school manually.</p>

      <p>No one has needed to edit the details pulled in from Edubase.</p>

      <p>On the summary screens we started with ‘Code’, which a user misunderstood. We renamed it to ‘UCAS campus code’ and haven’t seen any further issues. <a href="https://lookback.io/watch/vw6eDzqmL4s24rR2Y?t=51m43s">One provider wanted to change the code</a> to something which aligns with the schools, eg St Mary’s could be M, and St Peter’s could be P.</p>

      <p>
        <a href="https://docs.google.com/presentation/d/17wz2ZWJCNbbqsaywigok-fHv07IUjjiLRSaffCuim64/edit">Research playback presentation</a>
      </p>
    </div>
  </div>

  {% set contents = [
    { text: 'Training locations', id: 'training-locations' },
    { text: 'What type of training location?', id: 'what-type-of-training-location' },
    { text: 'Pick location', id: 'pick-location' },
    { text: 'Is this name and address correct?', id: 'is-this-name-and-address-correct' },
    { text: 'Something needs changing', id: 'something-needs-changing' },
    { text: 'Check your answers', id: 'check-your-answers' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Training locations', 'training-locations', '/public/images/publish-teacher-training/new-training-location/thumbnails/01-training-locations.png', '/public/images/publish-teacher-training/new-training-location/01-training-locations.png', '') }}

  {{ designHistory.screenshot('What type of training location?', 'what-type-of-training-location', '/public/images/publish-teacher-training/new-training-location/thumbnails/02-what-type-of-training-location.png', '/public/images/publish-teacher-training/new-training-location/02-what-type-of-training-location.png', '') }}

  {{ designHistory.screenshot('Pick location', 'pick-location', '/public/images/publish-teacher-training/new-training-location/thumbnails/03-pick-location.png', '/public/images/publish-teacher-training/new-training-location/03-pick-location.png', '') }}

  {{ designHistory.screenshot('Is this name and address correct?', 'is-this-name-and-address-correct', '/public/images/publish-teacher-training/new-training-location/thumbnails/04-is-this-name-and-address-correct.png', '/public/images/publish-teacher-training/new-training-location/04-is-this-name-and-address-correct.png', '') }}

  {{ designHistory.screenshot('Something needs changing', 'something-needs-changing', '/public/images/publish-teacher-training/new-training-location/thumbnails/01-something-needs-changing.png', '/public/images/publish-teacher-training/new-training-location/01-something-needs-changing.png', '') }}

  {{ designHistory.screenshot('Check your answers', 'check-your-answers', '/public/images/publish-teacher-training/new-training-location/thumbnails/05-check-your-answers.png', '/public/images/publish-teacher-training/new-training-location/05-check-your-answers.png', '') }}

{% endblock %}
