{% extends "layout.html" %}
{% set title = 'New course wizard – Iteration 14 January' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>In this iteration we changed:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>A second secondary subject</li>
        <li>Primary age ranges</li>
        <li>When does the course start?</li>
        <li>Minimum GCSE requirements with a change option</li>
        <li>Title in main wizard flow</li>
        <li>Accredited body title tweaks</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'What type of course?', id: 'what-type-of-course' },
    { text: 'Pick a subject', id: 'pick-a-subject' },
    { text: 'Pick languages', id: 'pick-languages' },
    { text: 'Pick a course outcome', id: 'pick-a-course-outcome' },
    { text: 'Fee paying or salaried?', id: 'fee-paying-or-salaried' },
    { text: 'Full time or part time?', id: 'full-time-or-part-time' },
    { text: 'Pick the training locations', id: 'pick-the-training-locations' },
    { text: 'Who is the accredited body?', id: 'who-is-the-accredited-body' },
    { text: 'Minimum GCSE requirements', id: 'minimum-gcse-requirements' },
    { text: 'When does the course start?', id: 'when-does-the-course-start' },
    { text: 'Is this course title right?', id: 'is-this-course-title-right' },
    { text: 'Check your answers', id: 'check-your-answers' },
    { text: 'Course created', id: 'course-created' },
    { text: 'Change course information', id: 'change-course-information' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('What type of course?', 'what-type-of-course', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/01-what-type-of-course.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/01-what-type-of-course.png', '') }}

  {{ designHistory.screenshot('Pick a subject', 'pick-a-subject', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/02-pick-a-subject.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/02-pick-a-subject.png', '') }}

  {{ designHistory.screenshot('Pick languages', 'pick-languages', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/03-pick-languages.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/03-pick-languages.png', '') }}

  {{ designHistory.screenshot('Pick a course outcome', 'pick-a-course-outcome', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/04-pick-a-course-outcome.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/04-pick-a-course-outcome.png', '') }}

  {{ designHistory.screenshot('Fee paying or salaried?', 'fee-paying-or-salaried', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/05-fee-paying-or-salaried.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/05-fee-paying-or-salaried.png', '') }}

  {{ designHistory.screenshot('Full time or part time?', 'full-time-or-part-time', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/06-full-time-or-part-time.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/06-full-time-or-part-time.png', '') }}

  {{ designHistory.screenshot('Pick the training locations', 'pick-the-training-locations', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/07-pick-the-training-locations.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/07-pick-the-training-locations.png', '') }}

  {{ designHistory.screenshot('Who is the accredited body?', 'who-is-the-accredited-body', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/08-who-is-the-accredited-body.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/08-who-is-the-accredited-body.png', '') }}

  {{ designHistory.screenshot('Minimum GCSE requirements', 'minimum-gcse-requirements', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/09-minimum-gcse-requirements.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/09-minimum-gcse-requirements.png', '') }}

  {{ designHistory.screenshot('When does the course start?', 'when-does-the-course-start', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/06-when-does-the-course-start.png', '/public/images/publish-teacher-training/new-further-education-course/06-when-does-the-course-start.png', '') }}

  {{ designHistory.screenshot('Is this course title right?', 'is-this-course-title-right', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/10-is-this-course-title-right.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/10-is-this-course-title-right.png', '') }}

  {{ designHistory.screenshot('Check your answers', 'check-your-answers', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/11-check-your-answers.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/11-check-your-answers.png', '') }}

  {{ designHistory.screenshot('Course created', 'course-created', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/12-course-created.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/12-course-created.png', '') }}

  {{ designHistory.screenshot('Change course information', 'change-course-information', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/13-change-course-information.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/13-change-course-information.png', '') }}

{% endblock %}
