{% extends "layout.html" %}
{% set title = 'Specific course requirements' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Providers can set specific requirements for their courses when setting up or editing their training programmes in UCAS web-link.</p>

      <p>This relates to minimum grades for Maths, English and Science – grades A* to C, 4 or more, or an equivalent (eg international baccalaureate).</p>

      <h2 class="govuk-heading-l">Options</h2>

      <p>Depending on the qualification selected in the Education section of apply and the course selected in the Choices section (and that course’s specific course requirements), applicants will get different warnings in the ‘Check form’ section:</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">1: Must&nbsp;have</th>
            <th class="govuk-table__header" scope="col">2: Taking</th>
            <th class="govuk-table__header" scope="col">3: Equivalency&nbsp;test</th>
            <th class="govuk-table__header" scope="col">9: Don’t&nbsp;care</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell bold">A* – C</th>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell bold">Pending</th>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell bold">Equivalence test</th>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell">No alert</td>
            <td class="govuk-table__cell">No alert</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell bold">D – G</th>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell"><span class="error-message">Alert</span></td>
            <td class="govuk-table__cell">No alert</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">1: Must have</h3>

      <p>Example course: <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/17B/225K">17B/225K</a></p>

      <blockquote class="govuk-inset-text">
        <p>You want the applicant to already have achieved the qualification at time of applying.</p>
      </blockquote>

      <p>The option most providers have chosen. It is the least flexible. It does not allow applicants with pending qualifications or those seeking to take an equivalency test.</p>

      <h3 class="govuk-heading-m">2: Taking</h3>

      <p>Example course: <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/12U/2527">12U/2527</a></p>

      <blockquote class="govuk-inset-text">
        <p>You will consider applicants who expect to achieve the necessary qualifications before the training programme begins.</p>
      </blockquote>

      <p>This option accepts applicants who have the qualification or have a pending qualification, but not those who seek an equivalency test.</p>

      <h3 class="govuk-heading-m">3: Equivalence test</h3>

      <p>Example course: <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/1PJ/236Y">1PJ/236Y</a></p>

      <blockquote class="govuk-inset-text">
        <p>You can offer applicants an equivalence test.</p>
      </blockquote>

      <p>This option accepts applicants who have the qualification, have a pending qualification or those who seek an equivalency test. It is the most flexible and most accommodating.</p>

      <p>An equivalency test is not the same as entering an equivalent qualification in the Education section (eg an international baccalaureate with a top score of 45)</p>

      <h3 class="govuk-heading-m">9: Don’t care (Further education only, ‘same as N/A’)</h3>

      <p>Example course: <a href="https://find-postgraduate-teacher-training.education.gov.uk/course/B60/X341">B60/X341</a></p>

      <blockquote class="govuk-inset-text">
        <p>You do not require an applicant to hold GCSE grades A-C, 4 or above, or equivalent. This code can only be used for further education or post-compulsory education courses.</p>
      </blockquote>

      <p>This option accepts all applicants, even if they have grades below a C.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Example warnings in UCAS apply', id: 'UCAS-apply-warnings' },
    { text: 'Qualification options in UCAS', id: 'UCAS-qualification-options' },
    { text: 'How UCAS explains the options to providers', id: 'UCAS-code-explanations' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

{{ designHistory.screenshot('Example warnings in UCAS apply', 'UCAS-apply-warnings', '/public/images/publish-teacher-training/specific-requirements/thumbnails/01-UCAS-apply-warnings.png', '/public/images/publish-teacher-training/specific-requirements/01-UCAS-apply-warnings.png', '') }}

{{ designHistory.screenshot('Qualification options in UCAS', 'UCAS-qualification-options', '/public/images/publish-teacher-training/specific-requirements/03-UCAS-qualification-options.png', '/public/images/publish-teacher-training/specific-requirements/03-UCAS-qualification-options.png', '') }}

{{ designHistory.screenshot('How UCAS explains the options to providers', 'UCAS-code-explanations', '/public/images/publish-teacher-training/specific-requirements/thumbnails/02-UCAS-code-explanations.jpg', '/public/images/publish-teacher-training/specific-requirements/02-UCAS-code-explanations.jpg', '') }}


{% endblock %}
