{% extends "layout.html" %}
{% set title = 'Minimum course requirements – iterations' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Progression of the minimum requirements page design:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Started with a subject choice and a sensible default</li>
        <li>Added the ability to change the choice</li>
        <li>Remove subject choice, instead defaulting to legal minimums. Page only asks for preference</li>
        <li>Make it clearer that this affects UCAS Apply</li>
        <li>Simplify preference choice using a table</li>
        <li>Remove table and switch to two questions</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Two questions', id: 'two-questions' },
    { text: 'Options in a table', id: 'options-in-a-table' },
    { text: 'Explicitly reference UCAS', id: 'explicitly-reference-ucas' },
    { text: 'Pick an option, remove subject choice', id: 'pick-an-option' },
    { text: 'Introduce options', id: 'minimum-gcse-requirements' },
    { text: 'Original design', id: 'minimum-course-requirements' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Two questions', 'two-questions', '/public/images/publish-teacher-training/minimum-requirements-iterations/thumbnails/two-questions.png', '/public/images/publish-teacher-training/minimum-requirements-iterations/two-questions.png', '') }}

  {{ designHistory.screenshot('Options in a table', 'options-in-a-table', '/public/images/publish-teacher-training/minimum-requirements-iterations/thumbnails/01-options-in-a-table.png', '/public/images/publish-teacher-training/minimum-requirements-iterations/01-options-in-a-table.png', '') }}

  {{ designHistory.screenshot('Explicitly reference UCAS', 'explicitly-reference-ucas', '/public/images/publish-teacher-training/minimum-requirements-iterations/thumbnails/01-explicitly-reference-ucas.png', '/public/images/publish-teacher-training/minimum-requirements-iterations/01-explicitly-reference-ucas.png', '') }}

  {{ designHistory.screenshot('Pick an option, remove subject choice', 'pick-an-option', '/public/images/publish-teacher-training/minimum-requirements-iterations/thumbnails/01-pick-an-option.png', '/public/images/publish-teacher-training/minimum-requirements-iterations/01-pick-an-option.png', '') }}

  {{ designHistory.screenshot('Introduce options', 'minimum-gcse-requirements', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/09-minimum-gcse-requirements.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/09-minimum-gcse-requirements.png', '') }}

  {{ designHistory.screenshot('Original design', 'minimum-course-requirements', '/public/images/publish-teacher-training/minimum-course-requirements/thumbnails/01-minimum-course-requirements.png', '/public/images/publish-teacher-training/minimum-course-requirements/01-minimum-course-requirements.png', '') }}
{% endblock %}
