{% extends "layout.html" %}
{% set title = 'UCAS onboarding form' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>The form completed by new training providers when they begin offering initial teacher training courses.</p>
    <p>
      <a href="https://www.ucasdigital.com/misc/UTT_form/uttform.html">Live form</a>
    </p>
  </div>
</div>

  {% set contents = [
    { text: 'Onboarding form', id: 'onboarding-form' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

{{ designHistory.screenshot('Onboarding form', 'onboarding-form', '/public/images/publish-teacher-training/ucas-onboarding-form/thumbnails/01-onboarding-form.png', '/public/images/publish-teacher-training/ucas-onboarding-form/01-onboarding-form.png', '') }}


{% endblock %}
