{% extends "layout.html" %}
{% set title = 'Course with variants' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Exploration of a course page with fields to capture variants of a course and the differences between them.</p>
      <p>Based on UCAS course descriptions it’s often unclear how courses vary between qualification, funding, subject and accrediting provider – use fields on a course page to prompt providers to indicate these differences, helping candidates make an informed choice.</p>

      <h3 class="govuk-heading-m remove-top-margin">Qualification variants</h3>

      <p>Providers set up courses with the following qualifications in UCAS:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>QTS, Postgraduate, Professional: 4661 courses</li>
        <li>QTS, Postgraduate: 3919 courses</li>
        <li>QTS: 3098 courses</li>
        <li>QTS, Professional: 95 courses</li>
      </ul>

      <p>Some providers have separate courses for their QTS and PGCE variants. We’ve seen examples of QTS only courses in UCAS that do actually offer a PGCE, the qualification isn’t set up correctly in UCAS. We don’t know the extent of this problem.</p>

      <p>The opposite exists too, some use PGCE with QTS but highlight at interview or application stage that candidates can opt for the QTS only route if appropriate.</p>

      <p>We cannot infer the variants available from the UCAS data.</p>

      <h2 class="govuk-heading-m">Salary variants</h2>

      <p>Salaried courses have their own course and are defined by their route:</p>

      <p>Routes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>School Direct: 7033</li>
        <li>School Direct (salaried): 1910</li>
        <li>SCITT: 1603</li>
        <li>Higher Education: 1235</li>
      </ul>

      <h2 class="govuk-heading-m">Schools</h2>

      <p>Schools (campus/location in UCAS) will be imported with the course and associated with the training provider.<p>

      <p>We may want each school to have its own information: description, address and type. When a candidate can express a preference for a school, this information can be shown on the course page to aid their decision making.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Course', id: 'course' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'Course requirements', id: 'course-requirements' },
  { text: 'Qualification options', id: 'qualification-options' },
  { text: 'Salary options', id: 'salary-options' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/course-with-variants/thumbnails/01-course.png', '/public/images/publish-teacher-training/course-with-variants/01-course.png', '
    <p>When a salary variant is available, include the "Salary options" field. Use these fields to explain how this variant is different – eg more time in school, limited places, more experience needed.</p>
  ') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/course-with-variants/thumbnails/02-about-this-course.png', '/public/images/publish-teacher-training/course-with-variants/02-about-this-course.png', '
    <p>Course information that does not change between variants. Add a specific field to indicate how this course differs from other subjects offered by the same provider.</p>

    <p>Some of these fields may end up being associated with the training provider or some sort of default course detail so they can be easily shared across courses.</p>
  ') }}

  {{ designHistory.screenshot('Course requirements', 'course-requirements', '/public/images/publish-teacher-training/course-with-variants/thumbnails/03-course-requirements.png', '/public/images/publish-teacher-training/course-with-variants/03-course-requirements.png', '
    <p>Fields copied from the <a href="/publish-teacher-training/original-onboarding">spreadsheet onboarding</a>. These may also be shared between courses.</p>
  ') }}

  {{ designHistory.screenshot('Qualification options', 'qualification-options', '/public/images/publish-teacher-training/course-with-variants/thumbnails/04-qualification-options.png', '/public/images/publish-teacher-training/course-with-variants/04-qualification-options.png', '
    <p>Allow training providers to describe a QTS only course, and then point out the differences in a PGCE with QTS course. A key difference is the fee which can be noted separately.</p>
    <p>Fee fields might need to be standardised.</p>
  ') }}

  {{ designHistory.screenshot('Salary options', 'salary-options', '/public/images/publish-teacher-training/course-with-variants/thumbnails/05-salary-options.png', '/public/images/publish-teacher-training/course-with-variants/05-salary-options.png', '
    <p>Allow training providers to explain how this variant is different – eg more time in school, limited places, more experience needed. Note the salary provided – this is important for comparison with fees and financial support such as bursaries and scholarships.</p>
  ') }}


{% endblock %}
