{% extends "layout.html" %}
{% set title = 'Copy content – Iteration 14 September' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukWarningText({
        text: "We didn’t build this design. Instead we used an MVP ‘you can find copy here’ – ie a signpost where people were looking for the feature.",
        iconFallbackText: "Warning"
      }) }}

      <p>An iteration on where the copy content feature sits.</p>

      <p>Because of its position in the right hand column it’s too easily missed by users completing the form. For users who search for the feature because they’ve read about it, it’s missed because they’re searching on the course overview page.</p>

      <p>This design aims to make the feature more discoverable by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>putting the form on each section of the course overview (behind a disclosure)</li>
        <li>moving the form from the right to below the title, in the main flow of the document (also behind a disclosure)</li>
      </ul>

      <p>There are subtle differences in the copy for the two pages.</p>

      <h2 class="govuk-heading-l">Course overview</h2>
      <p>Notes on implementation:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the disclosure must have unique but hidden text for screenreaders (like the edit links)</li>
        <li>when the form is submitted the behaviour is the same, eg the ‘About this course’ page is loaded with <a href="/publish-teacher-training/copy-content-from-another-course-live#copying-content-on-about-this-course">the orange prompt</a></li>
      </ul>

      <p>The disclosure is placed below the empty sections. It might be better above them as the primary action, this might draw attention away from the edit link. We’ll need to test this positioning and iterate.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Course with copy content prompts', id: 'course-with-copy-content-prompts' },
    { text: 'Copy content on form page', id: 'copy-content-on-form-page' },
    { text: 'Copy content disclosure when open', id: 'copy-content-disclosure-when-open' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Course with copy content prompts', 'course-with-copy-content-prompts', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/thumbnails/01-course-with-copy-content-prompts.png', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/01-course-with-copy-content-prompts.png', '') }}

  {{ designHistory.screenshot('Copy content on form page', 'copy-content-on-form-page', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/thumbnails/02-copy-content-on-form-page.png', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/02-copy-content-on-form-page.png', '') }}

  {{ designHistory.screenshot('Copy content disclosure when open', 'copy-content-disclosure-when-open', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/thumbnails/03-copy-content-disclosure-when-open.png', '/public/images/publish-teacher-training/copy-content-from-another-course-14-sept/03-copy-content-disclosure-when-open.png', '') }}


{% endblock %}
