{% extends "layout.html" %}
{% set title = 'Submitted application' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Applications', id: 'applications' }, 
    { text: 'Submitted application', id: 'submitted-application' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}
  
  {{ designHistory.screenshot('Applications', 'applications', '/public/images/apply-teacher-training/submitted-application/thumbnails/applications.png', '/public/images/apply-teacher-training/submitted-application/applications.png', '') }}

  {{ designHistory.screenshot('Submitted application', 'submitted-application', '/public/images/apply-teacher-training/submitted-application/thumbnails/submitted-application.png', '/public/images/apply-teacher-training/submitted-application/submitted-application.png', '') }}

{% endblock %}
