{% extends "layout.html" %}
{% set title = 'Managing multiple organisations' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The way DfE models organisations is different to the way they’ve been modelled in UCAS. Some users will have access to multipe UCAS institutions.</p>

      <p>We are still tightly coupled with UCAS’s course model. To avoid creating mental load between our tool and UCAS’s we are not merging organisations and their courses. Users will instead see a list of organisations that they have access to when they log in.</p>

      <p>Examples of ‘SCITT-schools’:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>2Schools Consortium / Oakthorpe Primary School</li>
        <li>Astra SCITT / Dr Challoner's Grammar School</li>
        <li>Bishop Ramsey Church of England School / Hillingdon SCITT</li>
        <li>Bradford Birth to 19 SCITT / St Edmund's Nursery School and Children's Centre</li>
        <li>Buckingham Partnership / Royal Latin School</li>
        <li>Chepping View Primary Academy / Chepping View Primary Academy SCITT</li>
        <li>Cheshire East SCITT / Holmes Chapel Comprehensive School</li>
      </ul>

      <h2 class="govuk-heading-m">Differences from a single org user</h2>

      <p>The first page a user sees is the organisations view. This is not part of the journey for a user belonging to a single organisation.</p>

      <p>The breadcrumb trail on the courses and course page needs to include ‘Organisations’ as the first crumb.</p>

      <p>The top-level school and organisation links in the header have been removed as it’d be ambiguous which organisation they’d link to. The ‘Publish teacher training courses’ link goes to the organisations page.</p>

      <h2 class="govuk-heading-m">Requesting access for someone</h2>

      <p>Access requests need a design update for multiple organisations. As a user with access to multiple organisations I need to request access for other people so that they can either have the same access as me, or have access to a specific organisation.</p>

      <p><a href="https://dfedigital.atlassian.net/browse/BATSA-451">BATSA-451</a></p>

      <h2 class="govuk-heading-m">Organisations without courses</h2>
      <p>Some organisations will have no courses because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>they are new</li>
        <li>they are set up in UCAS so they can be listed as an accrediting provider</li>
      </ul>
      <p>This needs design work.</p>

      <p><a href="https://dfedigital.atlassian.net/browse/BATSA-476">BATSA-476</a></p>

      <h2 class="govuk-heading-m">Updated header</h2>

      <p>The name against the sign out link should be the DfE user, not the organisation – this is for all users.</p>

      <h2 class="govuk-heading-m">User research</h2>

      <p>We tested multiple organisations with Bromley Schools Collegiate who manage 5 different organisations: <a href="https://lookback.io/watch/sRRB74G75vSczMrY7">User research session</a></p>

      <p>The design worked without any supporting copy. The separation of organisations was understood by the user.</p>

      <div class="govuk-inset-text">
        <blockquote>
          <p>“Oh lovely, that’s really good”</p>
          <p>“It’s nice that you don’t have to log in somewhere else”</p>
        </blockquote>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

      <p>Original story: <a href="https://dfedigital.atlassian.net/browse/BATSA-401">BATSA-401</a></p>

      <p>When running the prototype, set `multi-organisation` to true in <a href="https://github.com/fofr/manage-courses-prototype/blob/master/lib/prototype_data.json#L2">prototype_data.json</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Organisations', id: 'organisations' },
  { text: 'Courses for an organisation', id: 'courses-for-an-organisation' },
  { text: 'Course', id: 'course' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisations', 'organisations', '/public/images/publish-teacher-training/multiple-organisations/thumbnails/01-organisations.png', '/public/images/publish-teacher-training/multiple-organisations/01-organisations.png', '
    <p>A list of organisations the user can manage. Sometimes these organisations will have very similar names, eg Chepping View Primary Academy and Chepping View Primary Academy SCITT.</p>
    <p>Include course count as an additional differentiator.</p>
  ') }}

  {{ designHistory.screenshot('Courses for an organisation', 'courses-for-an-organisation', '/public/images/publish-teacher-training/multiple-organisations/thumbnails/02-courses-for-an-organisation.png', '/public/images/publish-teacher-training/multiple-organisations/02-courses-for-an-organisation.png', '
    <p>This page is the same as for a single user organisation, with the exception of the breadcrumb.</p>
  ') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/multiple-organisations/thumbnails/03-course.png', '/public/images/publish-teacher-training/multiple-organisations/03-course.png', '
    <p>See breadcrumb again.</p>
  ') }}


{% endblock %}
