{% extends "layout.html" %}
{% set title = 'Accredited body – 5 February iteration' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The original choice between ‘we are the accredited body versus another organisation is not a valid question. For School Direct they will always need an accredited body. For SCITTs and universities, they are accredited.</p>

      <p>Update the design so that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the original choice is removed, removing the opportunity for error</li>
        <li>there’s a default list of accredited bodies they’ve worked with before – minimising the chance of choosing the wrong organisation</li>
        <li>a new accredited provider can be used, if explicitly chosen</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Who is the accredited body?', id: 'who-is-the-accredited-body' },
    { text: 'Old design', id: 'old-design' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Who is the accredited body?', 'who-is-the-accredited-body', '/public/images/publish-teacher-training/accredited-body-iteration/thumbnails/01-who-is-the-accredited-body.png', '/public/images/publish-teacher-training/accredited-body-iteration/01-who-is-the-accredited-body.png', '') }}

  {{ designHistory.screenshot('Old design', 'old-design', '/public/images/publish-teacher-training/new-course-iteration-14-jan/thumbnails/08-who-is-the-accredited-body.png', '/public/images/publish-teacher-training/new-course-iteration-14-jan/08-who-is-the-accredited-body.png', '') }}

{% endblock %}
