{% extends "layout.html" %}
{% set title = 'Choose how to apply' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Initial designs to test the impact of giving candidates a choice on how they should apply.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'User journey', id: 'user-journey' },
    { text: 'Choose how to apply', id: 'choose-how-to-apply' },
    { text: 'Choose how to apply (UCAS selected)', id: 'choose-how-to-apply-ucas-selected' },
    { text: 'Apply on UCAS', id: 'apply-on-ucas' },
    { text: 'UCAS login page', id: 'ucas-apply-page' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('User journey', 'user-journey', '/public/images/find-teacher-training/choose-how-to-apply/apply-flow.svg', '/public/images/find-teacher-training/choose-how-to-apply/apply-flow.svg', '
    <p>
      <a href="https://docs.google.com/drawings/d/1kSIYsL1JaMADJkDT1gavtsasHTCOhZRbHMY9M4Oc9nE/edit?usp=sharing">Google drawing</a>
    </p>
  ') }}

  {{ designHistory.screenshot('Choose how to apply', 'choose-how-to-apply', '/public/images/find-teacher-training/choose-how-to-apply/thumbnails/01-choose-how-to-apply.png', '/public/images/find-teacher-training/choose-how-to-apply/01-choose-how-to-apply.png', '') }}

  {{ designHistory.screenshot('Choose how to apply (UCAS selected)', 'choose-how-to-apply-ucas-selected', '/public/images/find-teacher-training/choose-how-to-apply/thumbnails/01-choose-how-to-apply-ucas-selected.png', '/public/images/find-teacher-training/choose-how-to-apply/01-choose-how-to-apply-ucas-selected.png', '') }}

  {{ designHistory.screenshot('Apply on UCAS', 'apply-on-ucas', '/public/images/find-teacher-training/choose-how-to-apply/thumbnails/02-apply-on-ucas.png', '/public/images/find-teacher-training/choose-how-to-apply/02-apply-on-ucas.png', '') }}

  {{ designHistory.screenshot('UCAS login page', 'ucas-apply-page', '/public/images/find-teacher-training/choose-how-to-apply/thumbnails/03-ucas-apply-page.png', '/public/images/find-teacher-training/choose-how-to-apply/03-ucas-apply-page.png', '') }}
{% endblock %}
