{% extends "layout.html" %}
{% set title = 'Kingston School Direct' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p><a href="https://lookback.io/watch/FoHoHPQF7B5TwrFkw">Research video</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course details from ucas', id: 'course-details-from-ucas' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'About this training provider', id: 'about-this-training-provider' },
  { text: 'Course requirements', id: 'course-requirements' },
  { text: 'Qualification', id: 'qualification' },
  { text: 'Salary', id: 'salary' },
  { text: 'Preview', id: 'preview' },
  { text: 'Schools', id: 'schools' },
  { text: 'Organisation', id: 'organisation' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/01-courses.png', '/public/images/publish-teacher-training/kingston-school-direct/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/02-course.png', '/public/images/publish-teacher-training/kingston-school-direct/02-course.png', '') }}

  {{ designHistory.screenshot('Course details from ucas', 'course-details-from-ucas', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/03-course-details-from-ucas.png', '/public/images/publish-teacher-training/kingston-school-direct/03-course-details-from-ucas.png', '') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/04-about-this-course.png', '/public/images/publish-teacher-training/kingston-school-direct/04-about-this-course.png', '') }}

  {{ designHistory.screenshot('About this training provider', 'about-this-training-provider', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/05-about-this-training-provider.png', '/public/images/publish-teacher-training/kingston-school-direct/05-about-this-training-provider.png', '') }}

  {{ designHistory.screenshot('Course requirements', 'course-requirements', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/06-course-requirements.png', '/public/images/publish-teacher-training/kingston-school-direct/06-course-requirements.png', '') }}

  {{ designHistory.screenshot('Qualification', 'qualification', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/07-qualification.png', '/public/images/publish-teacher-training/kingston-school-direct/07-qualification.png', '') }}

  {{ designHistory.screenshot('Salary', 'salary', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/08-salary.png', '/public/images/publish-teacher-training/kingston-school-direct/08-salary.png', '') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/09-preview.png', '/public/images/publish-teacher-training/kingston-school-direct/09-preview.png', '') }}

  {{ designHistory.screenshot('Schools', 'schools', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/10-schools.png', '/public/images/publish-teacher-training/kingston-school-direct/10-schools.png', '') }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/kingston-school-direct/thumbnails/11-organisation.png', '/public/images/publish-teacher-training/kingston-school-direct/11-organisation.png', '') }}


{% endblock %}
