{% extends "layout.html" %}
{% set title = 'Support for Apply pilot designs' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">On 26 November we launched the initial Support for Apply pilot application to let support agents amend applications and import references submitted via Google Forms.</p>

      <p class="govuk-body">Due to tight deadlines, referees submit their references ussing a Google Form. All submissions are saved automatically to a Google spreadsheet. Then support agents import them using Support for Apply.</p>

      <p class="govuk-body">Support agents can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check the status of applications (applications that need action appear at the top)</li>
        <li>see an audit trail of everything that's happened to an application</li>
        <li>create new vendor API tokens</li>
      </ul>

      <p class="govuk-body">In future we’ll look at:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>letting referees submit references automatically via a GOV.UK styled form</li>
        <li>letting support agents filter or sort the list of applications</li>
        <li>add pagination to the application list</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Application list', id: 'application-list' },
    { text: 'Application details (1 reference request failed and waiting on 1 reference)', id: 'application-details-(1-reference-request-failed-and-waiting-on-1-reference)' },
    { text: 'Application details (references received)', id: 'application-details-(references-received)' },
    { text: 'Application details (Waiting on references)', id: 'application-details-(waiting-on-references)' },
    { text: 'Import references form', id: 'import-references-form' },
    { text: 'Import references success page', id: 'import-references-success-page' },
    { text: 'API tokens list', id: 'api-tokens-list' },
    { text: 'Create API token', id: 'create-api-token' },
    { text: 'Create API token success page', id: 'create-api-token-success-page' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Application list', 'application-list', '/public/images/support-for-apply/1-prototype-v1/thumbnails/application-list.png', '/public/images/support-for-apply/1-prototype-v1/application-list.png', '') }}

  {{ designHistory.screenshot('Application details (1 reference request failed and waiting on 1 reference)', 'application-details-(1-reference-request-failed-and-waiting-on-1-reference)', '/public/images/support-for-apply/1-prototype-v1/thumbnails/application-details-(1-reference-request-failed-and-waiting-on-1-reference).png', '/public/images/support-for-apply/1-prototype-v1/application-details-(1-reference-request-failed-and-waiting-on-1-reference).png', '') }}

  {{ designHistory.screenshot('Application details (references received)', 'application-details-(references-received)', '/public/images/support-for-apply/1-prototype-v1/thumbnails/application-details-(references-received).png', '/public/images/support-for-apply/1-prototype-v1/application-details-(references-received).png', '') }}

  {{ designHistory.screenshot('Application details (Waiting on references)', 'application-details-(waiting-on-references)', '/public/images/support-for-apply/1-prototype-v1/thumbnails/application-details-(waiting-on-references).png', '/public/images/support-for-apply/1-prototype-v1/application-details-(waiting-on-references).png', '') }}

  {{ designHistory.screenshot('Import references form', 'import-references-form', '/public/images/support-for-apply/1-prototype-v1/thumbnails/import-references-form.png', '/public/images/support-for-apply/1-prototype-v1/import-references-form.png', '') }}

  {{ designHistory.screenshot('Import references success page', 'import-references-success-page', '/public/images/support-for-apply/1-prototype-v1/thumbnails/import-references-success-page.png', '/public/images/support-for-apply/1-prototype-v1/import-references-success-page.png', '') }}

  {{ designHistory.screenshot('API tokens list', 'api-tokens-list', '/public/images/support-for-apply/1-prototype-v1/thumbnails/api-tokens-list.png', '/public/images/support-for-apply/1-prototype-v1/api-tokens-list.png', '') }}

  {{ designHistory.screenshot('Create API token', 'create-api-token', '/public/images/support-for-apply/1-prototype-v1/thumbnails/create-api-token.png', '/public/images/support-for-apply/1-prototype-v1/create-api-token.png', '') }}

  {{ designHistory.screenshot('Create API token success page', 'create-api-token-success-page', '/public/images/support-for-apply/1-prototype-v1/thumbnails/create-api-token-success-page.png', '/public/images/support-for-apply/1-prototype-v1/create-api-token-success-page.png', '') }}

{% endblock %}
