{% extends "layout.html" %}
{% set title = 'New course wizard – Minimum course requirements' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Following on from the <a href="/publish-teacher-training/specific-requirements">investigation into UCAS specific course requirements</a>, a design that comes towards the end of the new course wizard.</p>

      <p>This design aims to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>move more providers to the most flexible default (eg option 3)</li>
        <li>make it clear what that choice means</li>
      </ul>

      <p>Things not yet considered in this design:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>communicating legal minimums (eg Primary requires a C in Science)</li>
        <li>applying defaults based on legal minimums</li>
        <li>what happens when you hit ‘change’</li>
      </ul>

      <p>
        <a href="https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice#c11-gcse-standard-equivalent">Legal requirements are documented on GOV.UK</a>
      </p>

      <blockquote class="govuk-inset-text">
        <p>Providers should look for further evidence of a breadth of achievement in English where applicants have achieved a GCSE grade 4 or above in English literature only.</p>
      </blockquote>
    </div>
  </div>

  {% set contents = [
    { text: 'Minimum course requirements', id: 'minimum-course-requirements' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Minimum course requirements', 'minimum-course-requirements', '/public/images/publish-teacher-training/minimum-course-requirements/thumbnails/01-minimum-course-requirements.png', '/public/images/publish-teacher-training/minimum-course-requirements/01-minimum-course-requirements.png', '') }}


{% endblock %}
