{% extends "layout.html" %}
{% set title = 'Iteration – 24 August' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The <a href="/publish-teacher-training/iteration-aug-23">previous iteration</a> which placed a new emphasis on ‘About your organisation’ on the homepage tested well.</p>
      <p>In this design we:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>made the steps more explicit</li>
        <li>added more detail about what the user needs to do</li>
        <li>included a prompt about copying courses</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/organisation-iteration-aug-24/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/organisation-iteration-aug-24/01-organisation.png', '') }}


{% endblock %}
