{% extends "layout.html" %}
{% set title = 'School experience' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'School experience', id: 'school-experience' },
    { text: 'Add role', id: 'add-role' },
    { text: 'Review school experience', id: 'review-school-experience' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('School experience', 'school-experience', '/public/images/apply-teacher-training/apply-june-2019/school-experience/thumbnails/school-experience.png', '/public/images/apply-teacher-training/apply-june-2019/school-experience/school-experience.png', '') }}

  {{ designHistory.screenshot('Add role', 'add-role', '/public/images/apply-teacher-training/apply-june-2019/school-experience/thumbnails/add-role.png', '/public/images/apply-teacher-training/apply-june-2019/school-experience/add-role.png', '') }}

  {{ designHistory.screenshot('Review school experience', 'review-school-experience', '/public/images/apply-teacher-training/apply-june-2019/school-experience/thumbnails/review-school-experience.png', '/public/images/apply-teacher-training/apply-june-2019/school-experience/review-school-experience.png', '') }}

{% endblock %}
