{% extends "layout.html" %}
{% set title = 'Courses and tabs' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>This is a visualisation of course information structured by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>training provider metadata (eg provider name, contact details)</li>
    <li>common course information (eg about this provider or interview process)</li>
    <li>schools an organisation is associated with</li>
    <li>courses the organisation offers – full detailed comprised of all of the above</li>
  </ul>

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/courses-and-tabs/thumbnails/01-courses.png', '/public/images/publish-teacher-training/courses-and-tabs/01-courses.png', '
    <p>A significantly different view to the <a href="/publish-teacher-training/course-with-parts#courses">previous courses index</a>. Created alongside <a href="https://search-and-compare-beta.herokuapp.com/history/variants">course variants in search and compare</a>.</p>

    <p>Use tabs to split up key information around courses, schools, default course information and the organisation’s metadata.</p>

    <h3 class="govuk-heading-m">Course breakdown</h3>

    <p>Use tables to show each study option with availability by school.</p>

    <p>Design breaks down when there are many schools and options per course. eg United Teaching National SCITT has about 10 schools with 4 variants (PGCE, QTS, salaried, no salary) which would be a table of 40 rows per course.</p>

    <h3 class="govuk-heading-m">Questions</h3>

    <p class="bold">Should the page be paginated?</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>30% of providers have only 1 or 2 courses</li>
      <li>85% of providers have 20 or fewer courses</li>
      <li>10% of providers have 50-100 courses</li>
    </ul>

    <p>We will classify some of these as variants of the same course, so numbers will be less. Some courses from School Direct schools may be bundled up into courses by the overall provider, so the number may increase. The net ought to be similar.</p>

    <p class="bold">When there are many courses, how do you find them?</p>

    <p>With a maximum of 100 courses, and with most providers having 20 or fewer courses, ordering by subject should be enough.</p>
  ') }}

  {{ designHistory.screenshot('Courses by study option', 'courses-by-study-option', '/public/images/publish-teacher-training/courses-and-tabs/thumbnails/01b-courses-by-study-option.png', '/public/images/publish-teacher-training/courses-and-tabs/01b-courses-by-study-option.png', '
    <p>An alternative view where the study option is pulled out of the table to reduce the number of rows for courses with many options and schools.</p>
  ') }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/courses-and-tabs/thumbnails/02-organisation.png', '/public/images/publish-teacher-training/courses-and-tabs/02-organisation.png', '') }}

  {{ designHistory.screenshot('Edit organisation', 'edit-organisation', '/public/images/publish-teacher-training/courses-and-tabs/thumbnails/03-edit-organisation.png', '/public/images/publish-teacher-training/courses-and-tabs/03-edit-organisation.png', '') }}

  {{ designHistory.screenshot('Schools', 'schools', '/public/images/publish-teacher-training/courses-and-tabs/thumbnails/04-schools.png', '/public/images/publish-teacher-training/courses-and-tabs/04-schools.png', '') }}


{% endblock %}
