{% extends "layout.html" %}
{% block pageTitle %}Alpha version 1{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Alpha version 1</h1>
  <p>
    <a href="https://search-and-compare-alpha.herokuapp.com/search/v01/index2">Version 1 prototype</a>
  </p>

  {% set contents = [
  { text: 'Index', id: 'index' },
  { text: 'Choose your search', id: 'choose-your-search' },
  { text: 'What subject', id: 'what-subject' },
  { text: 'Financial support', id: 'financial-support' },
  { text: 'Search results', id: 'search-results' },
  { text: 'Course details', id: 'course-details' },
  { text: 'About the course', id: 'about-the-course' },
  { text: 'Modules', id: 'modules' },
  { text: 'Compare results', id: 'compare-results' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Index', 'index', '/public/images/find-teacher-training/alpha-version-1/thumbnails/01-index.png', '/public/images/find-teacher-training/alpha-version-1/01-index.png', '') }}

  {{ designHistory.screenshot('Choose your search', 'choose-your-search', '/public/images/find-teacher-training/alpha-version-1/thumbnails/02-choose-your-search.png', '/public/images/find-teacher-training/alpha-version-1/02-choose-your-search.png', '') }}

  {{ designHistory.screenshot('What subject', 'what-subject', '/public/images/find-teacher-training/alpha-version-1/thumbnails/03-what-subject.png', '/public/images/find-teacher-training/alpha-version-1/03-what-subject.png', '') }}

  {{ designHistory.screenshot('Financial support', 'financial-support', '/public/images/find-teacher-training/alpha-version-1/thumbnails/04-financial-support.png', '/public/images/find-teacher-training/alpha-version-1/04-financial-support.png', '') }}

  {{ designHistory.screenshot('Search results', 'search-results', '/public/images/find-teacher-training/alpha-version-1/thumbnails/05-search-results.png', '/public/images/find-teacher-training/alpha-version-1/05-search-results.png', '') }}

  {{ designHistory.screenshot('Course details', 'course-details', '/public/images/find-teacher-training/alpha-version-1/thumbnails/06-course-details.png', '/public/images/find-teacher-training/alpha-version-1/06-course-details.png', '') }}

  {{ designHistory.screenshot('About the course', 'about-the-course', '/public/images/find-teacher-training/alpha-version-1/thumbnails/07-about-the-course.png', '/public/images/find-teacher-training/alpha-version-1/07-about-the-course.png', '') }}

  {{ designHistory.screenshot('Modules', 'modules', '/public/images/find-teacher-training/alpha-version-1/thumbnails/08-modules.png', '/public/images/find-teacher-training/alpha-version-1/08-modules.png', '') }}

  {{ designHistory.screenshot('Compare results', 'compare-results', '/public/images/find-teacher-training/alpha-version-1/thumbnails/09-compare-results.png', '/public/images/find-teacher-training/alpha-version-1/09-compare-results.png', '') }}
{% endblock %}
