{% extends "layout.html" %}
{% set title = 'Original onboarding' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The spreadsheet sent to providers rendered as a single page form. See the <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/319258638/Spreadsheet+for+private+beta">original spreadsheet on confluence</a>.</p>

      <p>Guidance included alongside each field matches the spreadsheet guidance. Note that extra guidances was needed regarding word counts and validation in the spreadsheet.</p>
    </div>
  </div>

  {{ designHistory.screenshot('Spreadsheet as a form', 'spreadsheet-as-a-form', '/public/images/publish-teacher-training/original-onboarding/thumbnails/01-spreadsheet-as-a-form.png', '/public/images/publish-teacher-training/original-onboarding/01-spreadsheet-as-a-form.png', '') }}


{% endblock %}
