{% extends "layout.html" %}
{% set title = 'Salary and fees' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Fee paying courses need to have some different fields to salaried courses. Courses offering a salary typically don’t have any course fees (though some courses may have top-up fees for the PGCE aspect of a course) – for these courses we shouldn’t be asking for course fees. (<a href="/publish-teacher-training/templates#dont-use-a-template">Example of the problem</a>)</p>

      <p>Use different fields for school direct salaried courses and add fields to cater for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an explanation of the salary available</li>
        <li>clarification on whether there are any fees for this course (we can’t infer this though we could say ‘courses offering a salary usually…’, or something to that effect)</li>
        <li>more complex fee structures (eg add-ons and other costs)</li>
      </ul>

      <p><a href="/publish-teacher-training/school-direct-view#salary">Previously we were asking for differences between salaried and fee paying courses</a>. These details should now be in the ‘About this course’ section.</p>

      <h2 class="govuk-heading-m">Salary amount</h2>
      <p><a href="/publish-teacher-training/school-direct-view#salary">We used to ask for the salary amount</a> but for much of the year the actual salary figure isn’t available. It’s based on the national teacher’s pay scale that is published later in the year. Schools also apply this scale differently, eg prorata based on time in schools vs full time. Rules around this are unclear, the salary field could be used to explain this.</p>

      <p><a href="https://dfedigital.atlassian.net/browse/BATSA-464">BATSA-464</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Course length and salary', id: 'course-length-and-salary' },
  { text: 'Course length and fees', id: 'course-length-and-fees' },
  { text: 'Preview of salaried course', id: 'preview-of-salaried-course' },
  { text: 'Preview of fee paying course', id: 'preview-of-fee-paying-course' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Course length and salary', 'course-length-and-salary', '/public/images/publish-teacher-training/salary-and-fees/thumbnails/01-course-length-and-salary.png', '/public/images/publish-teacher-training/salary-and-fees/01-course-length-and-salary.png', '
    <p>A school direct salaried course</p>

    <p>Add a salary field to allow training providers to indicate the amount of salary available and whether there are any other costs. We also prompt for an explicit declaration that there are no fees to pay.</p>
  ') }}

  {{ designHistory.screenshot('Course length and fees', 'course-length-and-fees', '/public/images/publish-teacher-training/salary-and-fees/thumbnails/02-course-length-and-fees.png', '/public/images/publish-teacher-training/salary-and-fees/02-course-length-and-fees.png', '
    <p>A school direct course</p>

    <p>Add a fee details field to allow training providers to give more details if their fees are more complex (eg top-up fees for PGCE aspect of the course).</p>
  ') }}

  {{ designHistory.screenshot('Preview of salaried course', 'preview-of-salaried-course', '/public/images/publish-teacher-training/salary-and-fees/thumbnails/03-preview-of-salaried-course.png', '/public/images/publish-teacher-training/salary-and-fees/03-preview-of-salaried-course.png', '') }}

  {{ designHistory.screenshot('Preview of fee paying course', 'preview-of-fee-paying-course', '/public/images/publish-teacher-training/salary-and-fees/thumbnails/04-preview-of-fee-paying-course.png', '/public/images/publish-teacher-training/salary-and-fees/04-preview-of-fee-paying-course.png', '') }}


{% endblock %}
