{% extends "layout.html" %}
{% set title = 'Iteration – 23 August' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>In this iteration we:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>removed the horizontal navigation in favour of sections in the page</li>
        <li>took the course content status labels and reused them on course pages</li>
        <li>updated the ‘About your organisation’ page to be more like a course</li>
        <li>added details we received from UCAS to the ‘About your organisation’ page</li>
      </ul>

      <h2 class="govuk-heading-l">Removing horizontal navigation</h2>

      <p>The switch from tabs to horizontal navigation didn’t have the desired effect. This bar now sits strangely on the page and we considered moving it to the top – but that would further deprioritise the ‘About your organisation’ journey.</p>

      <p>Instead we chose to be explicit: Do this, then do this.</p>

      <h2 class="govuk-heading-l">Status labels</h2>
      <p>The status labels in the course table tested well. They’re a good indicator of empty/draft/published.</p>

      <p>For consistency this design adds them to ‘About your organisation’ and course pages. The draft status <a href="/publish-teacher-training/user-research-aug-22#workflow-states">replaces the blue box</a> (‘You have unpublished changes’).</p>

      <p>The draft status was switched from blue to orange. This colour better communicates this intermediate state. <a href="https://lookback.io/watch/dujimh9gzaKrRAFBu?t=1h13m15.01s">“It’s in amber”</a></p>

      <h2 class="govuk-heading-l">Making ‘About your organisation’ like a course</h2>

      <p>The <a href="/publish-teacher-training/user-research-aug-22#about-your-organisation">previous design had two calls to action</a> on one page. One for saving, another for publishing. With the publish button high up on the page there’s a risk users might use this rather than save, although we didn’t observe this in research.</p>

      <p>We also needed to show what information we’d imported from UCAS about this organisation (eg contact details). There wasn’t an obvious place to put this.</p>

      <p>The new design creates an overview page containing a summary and the publishing workflow. Editing is moved to a child page, separating the save and publish actions in the same way a course does. The design is now consistent with courses. On the overview there is space to put imported UCAS data, like on a course.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' },
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Edit about your organisation', id: 'edit-about-your-organisation' },
    { text: 'Course', id: 'course' },
    { text: 'Preview', id: 'preview' },
    { text: 'Course length and fees', id: 'course-length-and-fees' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/iteration-aug-23/01-organisation.png', '') }}

  {{ designHistory.screenshot('About your organisation', 'about-your-organisation', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/04-about-your-organisation.png', '/public/images/publish-teacher-training/iteration-aug-23/04-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('Edit about your organisation', 'edit-about-your-organisation', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/05-edit-about-your-organisation.png', '/public/images/publish-teacher-training/iteration-aug-23/05-edit-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/02-course.png', '/public/images/publish-teacher-training/iteration-aug-23/02-course.png', '
    <p>Note the similarity with ‘About your organisation’ and the orange draft status.</p>
  ') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/03-preview.png', '/public/images/publish-teacher-training/iteration-aug-23/03-preview.png', '') }}


  {{ designHistory.screenshot('Course length and fees', 'course-length-and-fees', '/public/images/publish-teacher-training/iteration-aug-23/thumbnails/06-course-length-and-fees.png', '/public/images/publish-teacher-training/iteration-aug-23/06-course-length-and-fees.png', '') }}


{% endblock %}
