{% extends "layout.html" %}
{% set title = 'Work history' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Work history', id: 'work-history' },
    { text: '5 year gap', id: '5-year-gap' },
    { text: 'Add job', id: 'add-job' },
    { text: 'Review work history', id: 'review-work-history' },
    { text: 'Explain gap in work history', id: 'explain-gap-in-work-history' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Work history', 'work-history', '/public/images/apply-teacher-training/apply-june-2019/work-history/thumbnails/work-history.png', '/public/images/apply-teacher-training/apply-june-2019/work-history/work-history.png', '') }}

  {{ designHistory.screenshot('5 year gap', '5-year-gap', '/public/images/apply-teacher-training/apply-june-2019/work-history/thumbnails/5-year-gap.png', '/public/images/apply-teacher-training/apply-june-2019/work-history/5-year-gap.png', '') }}

  {{ designHistory.screenshot('Add job', 'add-job', '/public/images/apply-teacher-training/apply-june-2019/work-history/thumbnails/add-job.png', '/public/images/apply-teacher-training/apply-june-2019/work-history/add-job.png', '') }}

  {{ designHistory.screenshot('Review work history', 'review-work-history', '/public/images/apply-teacher-training/apply-june-2019/work-history/thumbnails/review-work-history.png', '/public/images/apply-teacher-training/apply-june-2019/work-history/review-work-history.png', '') }}

  {{ designHistory.screenshot('Explain gap in work history', 'explain-gap-in-work-history', '/public/images/apply-teacher-training/apply-june-2019/work-history/thumbnails/explain-gap-in-work-history.png', '/public/images/apply-teacher-training/apply-june-2019/work-history/explain-gap-in-work-history.png', '') }}

{% endblock %}
