{% extends "layout.html" %}
{% set title = 'Check your UCAS data' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>When onboarding users to the publish courses tool, to begin with they’ll only have access to the data we've imported from UCAS.</p>
      <p>Users need to check their courses are there and showing correctly to validate our import. If there are problems we need users to report them to us.</p>
      <p>Providers need access for multiple users, we’re creating a secure mechanism to request access for these users.</p>
      <p>See <a href="https://publish-courses-check-ucas.herokuapp.com/we-imported">prototype on Heroku</a> or the <a href="#"></a>branch `<a href="https://github.com/fofr/manage-courses-prototype/tree/check-ucas">check-ucas</a>` on Github.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'First screen', id: 'we-imported' },
  { text: 'Courses', id: 'courses' },
  { text: 'Courses by accrediting provider', id: 'courses-by-accrediting-provider' },
  { text: 'Request access for someone', id: 'request-access' },
  { text: 'View course', id: 'view-course' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('First screen', 'we-imported', '/public/images/publish-teacher-training/check-ucas-data/thumbnails/01-we-imported.png', '/public/images/publish-teacher-training/check-ucas-data/01-we-imported.png', '
    <p>The screen a user will see the first time they log in to the service.</p>
  ') }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/check-ucas-data/thumbnails/02-courses.png', '/public/images/publish-teacher-training/check-ucas-data/02-courses.png', '
    <p>A list of all the provider’s courses, separated by accrediting provider where appropriate.</p>
  ') }}

  {{ designHistory.screenshot('Courses by accrediting provider', 'courses-by-accrediting-provider', '/public/images/publish-teacher-training/check-ucas-data/thumbnails/01-courses-by-accrediting-provider.png', '/public/images/publish-teacher-training/check-ucas-data/01-courses-by-accrediting-provider.png', '') }}

  {{ designHistory.screenshot('Request access for someone', 'request-access', '/public/images/publish-teacher-training/check-ucas-data/thumbnails/03-request-access.png', '/public/images/publish-teacher-training/check-ucas-data/03-request-access.png', '
    <p>This will be a Google Form to begin with.</p>
    <p>We used first name and last name as that’s a requirement of DFE Sign-in.</p>
  ') }}

  {{ designHistory.screenshot('View course', 'view-course', '/public/images/publish-teacher-training/check-ucas-data/thumbnails/04-view-course.png', '/public/images/publish-teacher-training/check-ucas-data/04-view-course.png', '
    <p>In user research we found that having <a href="/publish-teacher-training/school-direct-view#course-details-from-ucas">multiple sets of UCAS course information on one page</a> and deep linking to them was confusing. This design splits them out into a single page per course.</p>
  ') }}


{% endblock %}
