{% extends "layout.html" %}
{% set title = 'Sign-in: Invite a user' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The full journey from admin screens to a user completing sign up.</p>

      <p>The invite email and the subsequent sign-in complete page provided by DfE Sign-in do not set up context and they leave users at a dead end. There is no easy route from DfE Sign in to ‘Publish teacher training courses’. Users reaching a dead end has been observed during onboarding of the first users.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Admin adds new user', id: 'admin-adds-new-user' },
  { text: 'Admin sets organisation', id: 'admin-sets-organisation' },
  { text: 'Admin chooses organisation', id: 'admin-chooses-organisation' },
  { text: 'Admin sets permission for user', id: 'admin-sets-permission-for-user' },
  { text: 'We send an email to set context', id: '06a-we-send-email' },
  { text: 'User receives invite email', id: '06b-user-receives-invite-email' },
  { text: 'User goes to link and verifies', id: 'user-goes-to-link-and-verifies' },
  { text: 'User chooses password', id: 'user-chooses-password' },
  { text: 'User success and return', id: 'user-success-and-return' },
  { text: 'User receives success email', id: 'user-receives-success-email' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

{{ designHistory.screenshot('Admin adds new user', 'admin-adds-new-user', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/01-admin-adds-new-user.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/01-admin-adds-new-user.png', '') }}

{{ designHistory.screenshot('Admin sets organisation', 'admin-sets-organisation', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/02-admin-sets-organisation.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/02-admin-sets-organisation.png', '') }}

{{ designHistory.screenshot('Admin chooses organisation', 'admin-chooses-organisation', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/03-admin-chooses-organisation.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/03-admin-chooses-organisation.png', '') }}

{{ designHistory.screenshot('Admin sets permission for user', 'admin-sets-permission-for-user', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/05-admin-sets-permission-for-user.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/05-admin-sets-permission-for-user.png', '') }}

{{ designHistory.screenshot('We send an email to set context', '06a-we-send-email', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/06a-we-send-email.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/06a-we-send-email.png', '
  <p><a href="https://docs.google.com/document/d/1J2p5luXQOpQjfuM1qN130sqDxOBpIZaM-5t4fPhuqWY/edit?usp=sharing">Google Doc with email and comments</a></p>
') }}

{{ designHistory.screenshot('User receives invite email', '06b-user-receives-invite-email', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/06b-user-receives-invite-email.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/06b-user-receives-invite-email.png', '
  <p>This email provides no context for the service this account relates to. eg It does not say "for publishing teacher training courses".</p>
') }}

{{ designHistory.screenshot('User goes to link and verifies', 'user-goes-to-link-and-verifies', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/07-user-goes-to-link-and-verifies.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/07-user-goes-to-link-and-verifies.png', '') }}

{{ designHistory.screenshot('User chooses password', 'user-chooses-password', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/08-user-chooses-password.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/08-user-chooses-password.png', '') }}

{{ designHistory.screenshot('User success and return', 'user-success-and-return', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/09-user-success-and-return.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/09-user-success-and-return.png', '
  <p>There is no link back to our service, instead the user returns to DFE Sign-in.</p>
  <p>Combining this with the lack of context in the email, there is a disjointed user journey which will see users either not sign up because they don’t know why, or they don’t know how to get to our service because there is no onward link.</p>
') }}

{{ designHistory.screenshot('User receives success email', 'user-receives-success-email', '/public/images/publish-teacher-training/sign-in-pre-register-user/thumbnails/10-user-receives-success-email.png', '/public/images/publish-teacher-training/sign-in-pre-register-user/10-user-receives-success-email.png', '') }}


{% endblock %}
