{% extends "layout.html" %}
{% set title = 'New course wizard – Training locations' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>For providers with multiple training locations we need to ask them which of those locations the course will be running at. Otherwise we can default to their only location.</p>

      <p>Providers might want to add locations at this stage, if this need arises we’ll accommodate it.</p>

      <h2 class="govuk-heading-l">Full time and part time</h2>

      <p>UCAS models full time and part time on the training location. If a course is full time, all training locations can be marked as full time. Similarly with part time. But if ‘full time or part time’ is selected, then we don’t know which training locations offer the full time places and which offer the part time ones.</p>

      <p>On the training locations list, if ‘full time or part time’ is chosen, then for each selected location we ask for more detail.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Training locations', id: 'training-locations' },
    { text: 'For a full or part time course', id: 'training-locations-for-a-full-and-part-time-course' },
    { text: 'Show locations in summary', id: 'check-answers-showing-locations' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Training locations', 'training-locations', '/public/images/publish-teacher-training/new-course-locations/thumbnails/01-training-locations.png', '/public/images/publish-teacher-training/new-course-locations/01-training-locations.png', '') }}

  {{ designHistory.screenshot('For a full or part time course', 'training-locations-for-a-full-and-part-time-course', '/public/images/publish-teacher-training/new-course-locations/thumbnails/02-training-locations-for-a-full-and-part-time-course.png', '/public/images/publish-teacher-training/new-course-locations/02-training-locations-for-a-full-and-part-time-course.png', '') }}

  {{ designHistory.screenshot('Show locations in summary', 'check-answers-showing-locations', '/public/images/publish-teacher-training/new-course-locations/thumbnails/03-check-answers-showing-locations.png', '/public/images/publish-teacher-training/new-course-locations/03-check-answers-showing-locations.png', '') }}


{% endblock %}
