{% extends "layout.html" %}
{% set title = 'When a user isn’t recognised' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>If a user signs up who isn’t on our whitelist we don’t know much about them. We can’t give them access to anyone’s courses. We need to know which organisation they should be part of and then validate that.</p>

      <p>This can happen if the invite email gets shared or forwarded, or if the user’s email address is different to the one we emailed.</p>

      <p>This design explains the situation to the user and asks for the details we need. A quick design to unblock onboarding, a later version could incorporate a  request access form – a more direct approach for users.</p>

      <p>
        <a href="https://dfedigital.atlassian.net/browse/BATSA-422">BATSA-422</a><br />
        <a href="/no-access">Page in prototype</a>
      </p>
    </div>
  </div>

  {{ designHistory.screenshot('Which organisation?', 'no-known-organisation', '/public/images/publish-teacher-training/no-known-organisation/thumbnails/01-no-known-organisation.png', '/public/images/publish-teacher-training/no-known-organisation/01-no-known-organisation.png', '') }}


{% endblock %}
