{% extends "layout.html" %}
{% set title = 'Manage teacher training applications' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/manage-applications/better-statuses">Fewer statuses</a>
      </h4>
      <p>
        Trying a smaller set of statuses.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/manage-applications/first-designs">First designs for a minimum viable service</a>
      </h4>
      <p>
        A minimum viable service that could allow the providers to access and manage their ITT applications.
      </p>
    </div>
  </div>
{% endblock %}
