{% extends "layout.html" %}
{% set title = 'Manage teacher training applications' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Prototype:<br />
        <a href="https://manage-applications-beta.herokuapp.com/">https://manage-applications-beta.herokuapp.com/</a>
      </p>
      <!-- The password is only to stop people stumbling on it and thinking it’s real. There is no sensitive information -->
      <p>
        Username: apply<br />
        Password: bat
      </p>
      <hr class="govuk-section-break govuk-section-break--l" />

      <h2 class="govuk-heading-l">November 2019</h2>

      {{ bat.item (
        '/manage-applications/as-launched-26-nov-2019',
        'As launched on 26 November 2019',
        'List applications, make offer or reject'
      )}}

      <h2 class="govuk-heading-l">October 2019</h2>

      {{ bat.item (
        '/manage-applications/minimal-ui',
        'An interface for minimal service provision',
        'Looking towards rolling out the pilot.'
      )}}

      <h2 class="govuk-heading-l">September 2019</h2>

      {{ bat.item (
        '/manage-applications/make-an-offer',
        'Make an offer',
        'First pass at making a conditional or unconditional offer'
      )}}

      {{ bat.item (
        '/manage-applications/application-states',
        'Application states',
        'Create new states with filters'
      )}}

      <h2 class="govuk-heading-l">August 2019</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/manage-applications/august-2019">New panels and application tables</a>
      </h3>
      <p>
        Bring 2018 version inline with design system
      </p>

      <h2 class="govuk-heading-l">2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/manage-applications/better-statuses">Fewer statuses</a>
      </h3>
      <p>
        Trying a smaller set of statuses.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/manage-applications/first-designs">First designs for a minimum viable service</a>
      </h3>
      <p>
        A minimum viable service that could allow the providers to access and manage their ITT applications.
      </p>
    </div>
  </div>
{% endblock %}
