{% extends "layout.html" %}
{% set title = 'Email with video of new vacancies feature' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Email', id: 'email'},
    { text: 'Video', id: 'video'},
    { text: 'Guidance page with video', id: 'guidance-for-publish-teacher-training-courses' }
  ] %}
  {{ designHistory.screenshotContents(contents, 'Contents') }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set content %}
      Dear colleague,

      We contacted you recently about the new features we’re introducing to [Publish teacher training courses](https://publish-teacher-training-courses.education.gov.uk) from April - which will enable you to add and edit your courses entirely within Publish.

      To give you a preview of the expanded service, we’ve put together a video. This takes you through one of the new tasks you’ll be able to carry out: updating the vacancy status of a course.

      [Watch the video on our guidance page](https://www2.publish-teacher-training-courses.service.gov.uk/guidance) or [follow this link to watch on Youtube](https://www.youtube.com/watch?v=nxmtXGy1cCY&feature=youtu.be)

      ### What you need to do next

      We’ll contact you shortly to confirm when we’ll start transferring your courses to Publish (and when you’ll lose access to current course management functions in [UCAS Web-link](https://www.ucas.com/sign-web-link)). We’re transferring all course information as a key part of the transition from UCAS.

      You don’t need to do anything to prepare for this. We’ll transfer your courses automatically, and for now you can continue to use Web-link as normal.

      If you have any questions about the new features, contact [becomingateacher@digital.education.gov.uk](mailto:becomingateacher@digital.education.gov.uk). If anyone else in your organisation needs to see this email, please forward it to them.

      Regards,
      Becoming a Teacher team
      {% endset %}

      <div id="email" class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l">Email</h2>
        <p>Sent on Friday 5 April.</p>
        {{ bat.email('Watch our video about the new Publish teacher training courses', content) }}
      </div>

      <h2 class="govuk-heading-l" id="video">Video</h2>
      <iframe class="govuk-!-margin-bottom-9" width="560" height="315" src="https://www.youtube-nocookie.com/embed/nxmtXGy1cCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  {{ designHistory.screenshot('Guidance page with video', 'guidance-for-publish-teacher-training-courses', '/public/images/publish-teacher-training/email-video-comms/thumbnails/guidance-for-publish-teacher-training-courses.png', '/public/images/publish-teacher-training/email-video-comms/guidance-for-publish-teacher-training-courses.png', '') }}
{% endblock %}
