{% extends "layout.html" %}
{% set title = 'Formatting' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>From user research we’ve found that users need to format their text using paragraphs, lists and links.</p>

      <p>Most users have naturally formatted their content into paragraphs without further guidance. They assume that paragraphs will just work.</p>

      <p>Users asked about lists, and looked for guidance. Without guidance users have tried to guess how lists would format, using dashes, asterisks and copied bullet points to create them.</p>

      <p>Users have requested links so they can point to existing text on their or their accrediting provider’s website. eg For information about disabled access. They have not guessed how to input links.</p>

      <h2 class="govuk-heading-l">Pasting URLs</h2>

      <p>We could allow users to paste URLs into the textarea. If the URL is valid then it can become clickable.</p>

      <p>Something like this:<br /><a href="https://manage-courses-prototype.herokuapp.com/history/formatting">https://manage-courses-prototype.herokuapp.com/history/formatting</a></p>

      <p>The problem with these sorts of links is that they aren’t accessible. They don’t have any useful labels to indicate what the link is for. The URL is often long and hard to read.</p>

      <h2 class="govuk-heading-l">HTML</h2>

      <p>We could allow users to use raw HTML: &#x3C;a href=&#x22;/blah&#x22;&#x3E;Link&#x3C;/a&#x3E;. This is prone to more user error than markdown.</p>

      <p>It is the undocumented approach used by users on the existing UCAS system.</p>

      <h2 class="govuk-heading-l">Markdown</h2>

      <p>We could use markdown. An off-the-shelf library could render our markdown. <a href="https://github.com/DFE-Digital/search-and-compare-ui/blob/6c14c801c0b89e3f96effe9f25d5f66a5832e5fe/src/Utils/MarkdownFormatter.cs">A parser exists in search-and-compare-ui</a>.</p>

      <p>Markdown works with dashes and asterisks for lists which matches our user’s expectations.</p>

      <p>Links in markdown can be confusing. It’s hard to remember which way around the brackets go, is it: []() or ()[] – it’s the first one.</p>

      <p>Preview would need to render markdown.</p>

      <p>Markdown would let us add more complex features easily in the future.</p>

      <p>We need to test the link syntax with users to see how easy it is to use. We might need to provide tools to make it more easy to add links in the future.</p>

      <h3 class="govuk-heading-m">Simple MDE</h3>

      <p>Simple MDE (markdown editor) is a frontend library that enhances textareas to make writing markdown easier. It includes syntax highlighting and buttons for inserting different features. <a href="https://github.com/sparksuite/simplemde-markdown-editor">Simple MDE on Github</a>.</p>

      <p>We can restrict features down to paragraphs, lists and links only. The library also provides an inline preview of how the markdown will render.</p>

      <p>We’ll test how this library performs out of the box in user research.</p>

    </div>
  </div>

  {% set contents = [
    { text: 'Animation showing editor features', id: 'animation' },
    { text: 'Course with Simple MDE editor', id: 'course' },
    { text: 'Preview of markdown', id: 'preview' },
    { text: 'About your organisation with Simple MDE editor', id: 'about-your-organisation' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Animation showing editor features', 'animation', '/public/images/publish-teacher-training/formatting/markdown-editor.gif', '/public/images/publish-teacher-training/formatting/markdown-editor.gif', '') }}

  {{ designHistory.screenshot('Course with Simple MDE editor', 'course', '/public/images/publish-teacher-training/formatting/thumbnails/02-course.png', '/public/images/publish-teacher-training/formatting/02-course.png', '') }}

  {{ designHistory.screenshot('Preview of markdown', 'preview', '/public/images/publish-teacher-training/formatting/thumbnails/03-preview.png', '/public/images/publish-teacher-training/formatting/03-preview.png', '') }}

  {{ designHistory.screenshot('About your organisation with Simple MDE editor', 'about-your-organisation', '/public/images/publish-teacher-training/formatting/thumbnails/01-about-your-organisation.png', '/public/images/publish-teacher-training/formatting/01-about-your-organisation.png', '') }}


{% endblock %}
