{% extends "layout.html" %}
{% set title = 'Progressive application' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Our designer Vin documented these on <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/279314433/Designs">confluence</a> (Project Bluesky).</p>

      <p>We've heard from candidates that filling in the application details is painful and tedious. We believe that breaking the application in to chunks that candidates can fill in different stages will ease the process of application submission.</p>

      <p>A user flow where a candidate creates an application in bits as and when required will be a better experience than asking the candidate fill in all the details at once. For example, while creating an account in amazon or during buying a product, the user is not asked about the residence address or payment details, but they are asked these details in relevant steps of the journey. We could adapt a similar approach.</p>

      <h2 class="govuk-heading-l">Findings</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Candidates reacted negatively to the progressive application</li>
        <li>Even when the work experience and other qualificaiton sections were clearly marked and understood as optional, the candidates chose to fill in all parts of the application</li>
        <li>Candidates felt a need to sell themselves more to the providers and hence needed more space to express themselves</li>
        <li>Asking the mandatory data like Work Experience after the interview was illogical in the candidates perspective</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Your application', id: 'your-application' },
    { text: 'Your application (expanded)', id: 'your-application-expanded' },
    { text: 'Invite reply', id: 'invite-reply' },
    { text: 'Invite reply (expanded)', id: 'invite-reply-expanded' },
    { text: 'Conditional offer', id: 'conditional-offer' },
    { text: 'Conditional offer (with tracking)', id: 'conditional-offer-(with-tracking)' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Your application', 'your-application', '/public/images/apply-teacher-training/progressive-application/thumbnails/your-application.png', '/public/images/apply-teacher-training/progressive-application/your-application.png', '') }}

  {{ designHistory.screenshot('Your application (expanded)', 'your-application-expanded', '/public/images/apply-teacher-training/progressive-application/thumbnails/your-application-expanded.png', '/public/images/apply-teacher-training/progressive-application/your-application-expanded.png', '') }}

  {{ designHistory.screenshot('Invite reply', 'invite-reply', '/public/images/apply-teacher-training/progressive-application/thumbnails/invite-reply.png', '/public/images/apply-teacher-training/progressive-application/invite-reply.png', '') }}

  {{ designHistory.screenshot('Invite reply (expanded)', 'invite-reply-expanded', '/public/images/apply-teacher-training/progressive-application/thumbnails/invite-reply-expanded.png', '/public/images/apply-teacher-training/progressive-application/invite-reply-expanded.png', '') }}

  {{ designHistory.screenshot('Conditional offer', 'conditional-offer', '/public/images/apply-teacher-training/progressive-application/thumbnails/conditional-offer.png', '/public/images/apply-teacher-training/progressive-application/conditional-offer.png', '') }}

  {{ designHistory.screenshot('Conditional offer (with tracking)', 'conditional-offer-(with-tracking)', '/public/images/apply-teacher-training/progressive-application/thumbnails/conditional-offer-(with-tracking).png', '/public/images/apply-teacher-training/progressive-application/conditional-offer-(with-tracking).png', '') }}
{% endblock %}
