{% extends "layout.html" %}
{% set title = 'Story map – 1 August 2018' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Designs illustrating each column in the <a href="https://trello.com/b/9fCxMchD/bat-search-story-map">Trello Story map</a>.</p>
      <p>Show the end to end journey, from publishing and enriching courses to search and compare where applicants find and apply to courses.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Check UCAS data', id: 'check-your-courses' },
    { text: 'Request access', id: 'request-access' },
    { text: 'Enrich organisation information', id: 'enrich-organisation-information' },
    { text: 'Enrich course', id: 'enrich-course' },
    { text: 'Preview course', id: 'preview-course' },
    { text: 'Publishing a course', id: 'validating-a-course-on-publish' },
    { text: 'Service start page', id: 'index' },
    { text: 'Find courses by location', id: 'find-by-location' },
    { text: 'Find courses by subject', id: 'find-by-subject-collapsed' },
    { text: 'View search results', id: 'teacher-training-courses' },
    { text: 'Course detail page', id: 'minimum-course-page' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Check UCAS data', 'check-your-courses', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/01-check-your-courses.png', '/public/images/publish-teacher-training/story-map-aug-1/01-check-your-courses.png', '') }}

  {{ designHistory.screenshot('Request access', 'request-access', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/02-request-access.png', '/public/images/publish-teacher-training/story-map-aug-1/02-request-access.png', '') }}

  {{ designHistory.screenshot('Enrich organisation information', 'enrich-organisation-information', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/03-enrich-organisation-information.png', '/public/images/publish-teacher-training/story-map-aug-1/03-enrich-organisation-information.png', '') }}

  {{ designHistory.screenshot('Enrich course', 'enrich-course', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/04-enrich-course.png', '/public/images/publish-teacher-training/story-map-aug-1/04-enrich-course.png', '') }}

  {{ designHistory.screenshot('Preview course', 'preview-course', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/05-preview-course.png', '/public/images/publish-teacher-training/story-map-aug-1/05-preview-course.png', '') }}

  {{ designHistory.screenshot('Publishing (and validating) a course', 'validating-a-course-on-publish', '/public/images/publish-teacher-training/validating-on-publish/thumbnails/01-validating-a-course-on-publish.png', '/public/images/publish-teacher-training/validating-on-publish/01-validating-a-course-on-publish.png', '') }}

  {{ designHistory.screenshot('Service start page', 'index', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/01-index.png', '/public/images/publish-teacher-training/story-map-aug-1/01-index.png', '') }}

  {{ designHistory.screenshot('Find courses by location', 'find-by-location', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/02-find-by-location.png', '/public/images/publish-teacher-training/story-map-aug-1/02-find-by-location.png', '') }}

  {{ designHistory.screenshot('Find courses by subject', 'find-by-subject-collapsed', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/01-find-by-subject-collapsed.png', '/public/images/publish-teacher-training/story-map-aug-1/01-find-by-subject-collapsed.png', '') }}

  {{ designHistory.screenshot('View search results', 'teacher-training-courses', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/04-teacher-training-courses.png', '/public/images/publish-teacher-training/story-map-aug-1/04-teacher-training-courses.png', '') }}

  {{ designHistory.screenshot('Course detail page', 'minimum-course-page', '/public/images/publish-teacher-training/story-map-aug-1/thumbnails/05-minimum-course-page.png', '/public/images/publish-teacher-training/story-map-aug-1/05-minimum-course-page.png', '') }}


{% endblock %}
