
{% extends "layout.html" %}
{% set title = 'Contextual guidance on course fields' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
  { text: 'About this course', id: 'about-this-course' },
  { text: 'Course requirements', id: 'course-requirements' },
  { text: 'Qualification', id: 'qualification' },
  { text: 'Salary', id: 'salary' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/course-field-guidance/thumbnails/02-about-this-course.png', '/public/images/publish-teacher-training/course-field-guidance/02-about-this-course.png', '') }}

  {{ designHistory.screenshot('Course requirements', 'course-requirements', '/public/images/publish-teacher-training/course-field-guidance/thumbnails/03-course-requirements.png', '/public/images/publish-teacher-training/course-field-guidance/03-course-requirements.png', '') }}

  {{ designHistory.screenshot('Qualification', 'qualification', '/public/images/publish-teacher-training/course-field-guidance/thumbnails/04-qualification.png', '/public/images/publish-teacher-training/course-field-guidance/04-qualification.png', '') }}

  {{ designHistory.screenshot('Salary', 'salary', '/public/images/publish-teacher-training/course-field-guidance/thumbnails/05-salary.png', '/public/images/publish-teacher-training/course-field-guidance/05-salary.png', '') }}

{% endblock %}
