{% extends "layout.html" %}
{% set title = 'Success messaging' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Designs for success messages shown after a successful save or publish.</p>

      <h2 class="govuk-heading-m">User needs</h2>

      <p>Preview: As a user editing content I need to see how it will look when published so that I can check my content works before I publish.</p>

      <p>Publish: As a user publishing content I need to see that the content has successfully published on the live website so that I know applicants can see it.</p>

      <p>Use links in messages to nudge users towards checking what they’ve just done. After saving, link to a preview to check. After publishing link to the live website to check that the course was published as expected.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Course saved', id: 'course-saved' },
    { text: 'Course published', id: 'course-published' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Course saved', 'course-saved', '/public/images/publish-teacher-training/success-messaging/thumbnails/01-course-saved.png', '/public/images/publish-teacher-training/success-messaging/01-course-saved.png', '') }}

  {{ designHistory.screenshot('Course published', 'course-published', '/public/images/publish-teacher-training/success-messaging/thumbnails/01-course-published.png', '/public/images/publish-teacher-training/success-messaging/01-course-published.png', '') }}


{% endblock %}
