{% extends "layout.html" %}
{% set title = 'Iteration 26 June 2018' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Following <a href="/publish-teacher-training/school-direct-view">user research with providers</a>, it was found that the “About this course” field was confusing when it could potentially apply to different course variants.</p>

      <p>Where there are different accrediting providers, those providers have a significant impact on the course and how it should be presented to applicants. Courses with different accrediting providers must not be folded into each other.</p>

      <p>We set up 6 unmoderated research sessions with providers where we asked them to complete a single course listing. One user completed this task before we made some <a href="/publish-teacher-training/iteration-june-28">small iterations</a> to this design: <a href="https://docs.google.com/document/d/19zLJb1fplLHmrxZ2VlPsWCfdhqfK0DuoyKjCog8eeAE/edit?usp=sharing">completed course listing</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course details from ucas', id: 'course-details-from-ucas' },
  { text: 'PGCE with QTS course option', id: 'PGCE with QTS course option' },
  { text: 'QTS with salary course option', id: 'QTS with salary course option' },
  { text: 'About your organisation', id: 'About your organisation' },
  { text: 'Requirements and eligibility', id: 'Requirements and eligibility' },
  { text: 'Preview', id: 'preview' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/01-courses.png', '/public/images/publish-teacher-training/iteration-june-26/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/02-course.png', '/public/images/publish-teacher-training/iteration-june-26/02-course.png', '') }}

  {{ designHistory.screenshot('Course details from ucas', 'course-details-from-ucas', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/03-course-details-from-ucas.png', '/public/images/publish-teacher-training/iteration-june-26/03-course-details-from-ucas.png', '') }}

  {{ designHistory.screenshot('PGCE with QTS course option', 'PGCE with QTS course option', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/04-PGCE with QTS course option.png', '/public/images/publish-teacher-training/iteration-june-26/04-PGCE with QTS course option.png', '
    <p>In large text boxes it is not clear what formatting, if any, a user can put in. We’ve seen users assume that paragraphs and lists are accepted.</p>
  ') }}

  {{ designHistory.screenshot('QTS with salary course option', 'QTS with salary course option', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/05-QTS with salary course option.png', '/public/images/publish-teacher-training/iteration-june-26/05-QTS with salary course option.png', '') }}

  {{ designHistory.screenshot('About your organisation', 'About your organisation', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/06-About your organisation.png', '/public/images/publish-teacher-training/iteration-june-26/06-About your organisation.png', '') }}

  {{ designHistory.screenshot('Requirements and eligibility', 'Requirements and eligibility', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/07-Requirements and eligibility.png', '/public/images/publish-teacher-training/iteration-june-26/07-Requirements and eligibility.png', '') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/iteration-june-26/thumbnails/08-preview.png', '/public/images/publish-teacher-training/iteration-june-26/08-preview.png', '') }}


{% endblock %}
