{% extends "layout.html" %}
{% set title = 'Enrichment release – 6 September' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Screenshots of Publish courses (manage-courses-ui) as released on 6 September.</p>
      <p>This is what the service looked like when we enabled organisation and course enrichment for the first time.</p>

      <p>This release doesn’t include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>editing contact details</li>
        <li>about your organisation <a href="/publish-teacher-training/iteration-aug-23">layout improvements</a></li>
        <li>persistent validation on publish</li>
      </ul>

      <h2 class="govuk-heading-l">User research</h2>

      <p>After launch we tested this with providers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/6Cxgfdd85cChDjSWT">Excalibur TSA</a></li>
        <li><a href="https://lookback.io/watch/aEg6nx4WHpuwQjTJq">Learning Institute South West</a></li>
        <li><a href="https://lookback.io/watch/2E4kE9niSMwCnRCiN">UCL (in-person)</a></li>
        <li><a href="https://lookback.io/watch/c4ARA3fRWZvcnR2HE">North East Partnership SCITT</a></li>
        <li><a href="https://lookback.io/watch/mFgLmxxqTEyGNF7pK">University of Hertfordshire</a></li>
      </ul>

      <p>Insights were recorded in <a href="https://docs.google.com/spreadsheets/d/1XJvy0mirMWdumDno05OsOEduU8_Gbbm6ta7ZQaMXJ9g/edit?ts=5b97f2af#gid=0">Google Sheets</a>.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' },
    { text: 'Course', id: 'course' },
    { text: 'Course new and not yet running', id: 'course-new-not-yet-running' },
    { text: 'Course not running', id: 'course-not-running' },
    { text: 'About this course', id: 'about-this-course' },
    { text: 'Fees and length', id: 'fees-and-length' },
    { text: 'Requirements and eligibility', id: 'requirements-and-eligibility' },
    { text: 'Preview', id: 'preview' },
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Request access', id: 'request-access' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/enrichment-sept-6/01-organisation.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/02-course.png', '/public/images/publish-teacher-training/enrichment-sept-6/02-course.png', '') }}

  {{ designHistory.screenshot('Course new and not yet running', 'course-new-not-yet-running', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/01-course-new-not-yet-running.png', '/public/images/publish-teacher-training/enrichment-sept-6/01-course-new-not-yet-running.png', '') }}

  {{ designHistory.screenshot('Course not running', 'course-not-running', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/02-course-not-running.png', '/public/images/publish-teacher-training/enrichment-sept-6/02-course-not-running.png', '') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/03-about-this-course.png', '/public/images/publish-teacher-training/enrichment-sept-6/03-about-this-course.png', '') }}

  {{ designHistory.screenshot('Fees and length', 'fees-and-length', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/04-fees-and-length.png', '/public/images/publish-teacher-training/enrichment-sept-6/04-fees-and-length.png', '') }}

  {{ designHistory.screenshot('Requirements and eligibility', 'requirements-and-eligibility', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/05-requirements-and-eligibility.png', '/public/images/publish-teacher-training/enrichment-sept-6/05-requirements-and-eligibility.png', '') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/06-preview.png', '/public/images/publish-teacher-training/enrichment-sept-6/06-preview.png', '') }}

  {{ designHistory.screenshot('About your organisation', 'about-your-organisation', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/07-about-your-organisation.png', '/public/images/publish-teacher-training/enrichment-sept-6/07-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('Request access', 'request-access', '/public/images/publish-teacher-training/enrichment-sept-6/thumbnails/08-request-access.png', '/public/images/publish-teacher-training/enrichment-sept-6/08-request-access.png', '') }}


{% endblock %}
