{% extends "layout.html" %}
{% set title = 'User research - 22 August' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>In August we’ve struggled to find providers to test with, because schools are on holiday and universities are very busy.</p>

      <p>We tested this design with 3 providers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/kY9HWu5MJiJhgJ5yC">Keele and North Staffordshire Teacher Education</a></li>
        <li><a href="https://lookback.io/watch/acQugHJ6r7QFpvkMQ">West London Teaching Schools Alliance</a></li>
        <li><a href="https://lookback.io/watch/QfEkvbkjW6uCJaLYJ">Bromely Schools Collegiate</a> (<a href="https://lookback.io/watch/r7d8nZPwuqHCZNgpg">Part 2</a>)</li>
      </ul>

      <h2 class="govuk-heading-l">Users miss ‘About your organisation’</h2>

      <p>The about your organisation fields are behind a tab on the homepage. We’ve found in research that users go straight to courses. Then they either publish without noticing  the organisation fields, or they find them while previewing and click through to complete them.</p>

      <p>The journey from the preview through to about your organisation is a confusing one – users don’t realise where they are and some think they are still on the course.</p>

      <p>In this design we tweaked the styles of the navigation from tabs to a bar. We hoped that the navigation would be more obvious and that users were simply not seeing the links.</p>

      <h3 class="govuk-heading-m">Results</h3>

      <p>This design tweak didn’t change user behaviour. A <a href="/publish-teacher-training/iteration-aug-23">more substantial redesign</a> is needed to bring ‘About the organisation’ into the user journey.</p>

      <h2 class="govuk-heading-l">Statuses</h2>

      <p>We needed to test whether users understood the ‘running/not running’ column and its affect on editing.</p>

      <p>This design also introduced a separate kind of status to display the publish state of the course content. We wanted to see if this was also understood, and if the two statuses were confusing.</p>

      <h3 class="govuk-heading-m">Results</h3>

      <p>Users recognised the ‘running/not running’ text used by UCAS. They understood that it meant applicants wouldn’t see the course and that if they wanted it to show they would need to edit it in UCAS. They also understood that editing would be available if the course was set to running.</p>

      <p><a href="https://lookback.io/watch/kY9HWu5MJiJhgJ5yC?t=49m8s">“This one would need to be set to running in UCAS somewhere”</a></p>

      <p><a href="https://lookback.io/watch/acQugHJ6r7QFpvkMQ?t=1h55m0.26s">“Because it’s not running, it won’t let me edit it … I’d change it to running and then assume the editing bars would pop up”</a></p>

      <p>One user didn’t realise they needed to publish courses themselves. They believed draft meant it was ready for some sort of sign-off from DfE. We’d previously tested a QA process with this user. <a href="https://lookback.io/watch/QfEkvbkjW6uCJaLYJ?t=47m6s">“My guess is that someone else needs to sign it off”</a>.</p>

      <h2 class="govuk-heading-l">Courses are already published</h2>

      <p>It’s not clear to users that courses which are set to running but have no published content will still be seen by applicants, just in a minimal state. We need to set these expectations better. This will begin with a comms email.</p>

      <p><a href="https://lookback.io/watch/acQugHJ6r7QFpvkMQ?t=1h34m42.25s">“It just wouldn’t be there until it’s published”</a></p>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' },
    { text: 'Course', id: 'course' },
    { text: 'Preview', id: 'preview' },
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Course length and fees', id: 'course-length-and-fees' },
    { text: 'Workflow states', id: 'workflow-states' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/user-research-aug-22/01-organisation.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/02-course.png', '/public/images/publish-teacher-training/user-research-aug-22/02-course.png', '') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/03-preview.png', '/public/images/publish-teacher-training/user-research-aug-22/03-preview.png', '') }}

  {{ designHistory.screenshot('About your organisation', 'about-your-organisation', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/04-about-your-organisation.png', '/public/images/publish-teacher-training/user-research-aug-22/04-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('Course length and fees', 'course-length-and-fees', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/05-course-length-and-fees.png', '/public/images/publish-teacher-training/user-research-aug-22/05-course-length-and-fees.png', '') }}

  {{ designHistory.screenshot('Workflow states', 'workflow-states', '/public/images/publish-teacher-training/user-research-aug-22/thumbnails/01-workflow-states.png', '/public/images/publish-teacher-training/user-research-aug-22/01-workflow-states.png', '') }}


{% endblock %}
