{% extends "layout.html" %}
{% set title = 'Schools autocomplete' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        <a href="https://manage-courses-prototype.herokuapp.com/school-autocomplete">Live demo</a> and <a href="https://github.com/DFE-Digital/manage-courses-prototype/pull/18">pull request</a>.
      </p>

      <p>If we begin asking providers for their <a href="https://search-and-compare-prototype.herokuapp.com/history/maps-for-providers-with-many-partners">list of partner schools</a> we’ll need a fast and easy way to create and manage that list. Partner schools can be more than 1,000.</p>

      <p>Use the accessible autocomplete with the <a href="https://get-information-schools.service.gov.uk/Downloads">Edubase schools data</a>, there’s about 26,000 schools.</p>

      <p>Each option contains:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>school name</li>
        <li>town</li>
        <li>URN number</li>
        <li>postcode</li>
      </ul>

      <p>This allows searching for schools by each of these properties (eg all schools in ‘BN1’). The text is also necessary as a differentiator when choosing a school with a common name – for example St Mary’s Catholic Primary School.</p>

      <h2 class="govuk-heading-l" id="user-research">User research</h2>

      <p>We’ve begun testing this pattern as part of the UCAS Transition work. It is being used in the <a href="/publish-teacher-training/new-training-location#user-research">Add training location flow</a>.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/oDwREDkfjwjW5SpCi">Canterbury Christ Church University</a></li>
        <li><a href="https://lookback.io/watch/vw6eDzqmL4s24rR2Y">East of England Teacher Training</a> (a SCITT)</li>
      </ul>

      <p>We’ve found that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if many schools have the same name, the right one is hard to find, eg St Patrick’s or St Mary’s (<a href="https://lookback.io/watch/vw6eDzqmL4s24rR2Y?t=48m48s">example</a>)</li>
        <li>imprecise punctuation meant that an exact match wasn’t shown (eg missing comma or apostrophe)</li>
        <li>users don’t necessarily know the postcode, when they do the search works well</li>
      </ul>

      <p>We’ve tweaked the prototype so that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>punctuation is ignored</li>
        <li>30 results show, rather than 10</li>
      </ul>

      <p>While out of scope for a prototype, the live version of this must be able to handle fuzzy matching, for example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>starting a search with St Mary’s, then qualifying it with London or the beginning of a postcode (eg BN1), should show all matching schools in London or that area</li>
        <li>common alternatives must be considered, eg CofE, C of E, CE, Church of England</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Schools autocomplete', id: 'partner-schools-autocomplete' },
    { text: 'Schools autocomplete (GIF)', id: 'partner-schools-autocomplete-gif' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

{{ designHistory.screenshot('Schools autocomplete', 'partner-schools-autocomplete', '/public/images/publish-teacher-training/schools-autocomplete/thumbnails/01-partner-schools-autocomplete.png', '/public/images/publish-teacher-training/schools-autocomplete/01-partner-schools-autocomplete.png', '') }}

{{ designHistory.screenshot('Schools autocomplete (GIF)', 'partner-schools-autocomplete-gif', '/public/images/publish-teacher-training/schools-autocomplete/02-schools-autocomplete.gif', '/public/images/publish-teacher-training/schools-autocomplete/02-schools-autocomplete.gif', '') }}


{% endblock %}
