{% extends "layout.html" %}
{% set title = 'UCAS Apply preferences' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukWarningText({
          html: '28 February – Update from UCAS:<br />Only UTT application alerts and GT12 preferences need to be set.',
          iconFallbackText: 'Warning'
      }) }}

      <p>Providers can set preferences in NetUpdate for the way UCAS Apply behaves. NetUpdate is going away, we need to inherit and explain these preferences.</p>

      <p>Providers need a way to change them too – but they don’t change them often, if at all. We might be able to handle changes through support.</p>

      <p>The following numbers come from a <a href="https://docs.google.com/spreadsheets/d/11YlO-_mbXoBMdZq2rPFiu6-Api4CHHYHiza41grj94A/">Google Sheet containing raw preference data from UCAS</a>.</p>

      <p>The preferences listed below are the only ones needed by UCAS Teacher Training Apply. There are more that they could set that are not shown here: “They are relevant to one of the other admissions schemes provided by UCAS”.</p>

      <p>
        <a href="https://www.ucas.com/file/115581/download?token=mv-G6P53">2018 UCAS Teacher Training: Set-up guide</a> (<a href="/public/documents/utt-set-up-guide.pdf">backup</a>)
      </p>

      <p>
        <a href="/public/documents/ucas-teacher-training-set-up-guide-2019.pdf">2019 UCAS Teacher Training: Set-up guide</a>
      </p>
    </div>
  </div>

  {% set contents = [
    { text: 'Format preferred for data download', id: 'format-preferred' },
    { text: 'Outstanding decision lists (ODL)', id: 'odl' },
    { text: 'Star J required flag', id: 'star-j' },
    { text: 'Star X required', id: 'star-x' },
    { text: 'New UTT application alerts', id: 'alerts' },
    { text: 'Require copy forms', id: 'require-copy-forms' },
    { text: 'Type of GT12 required', id: 'gt12' },
    { text: 'First design', id: 'ucas-apply-preferences' }
  ] %}
  {{ designHistory.screenshotContents(contents, 'Contents') }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" id="format-preferred">Format preferred for data download</h2>

      <div class="govuk-inset-text">
        <p>
          Select whether or not you want to receive applicant data that includes extended character sets. These are European characters, such as á, ë, õ, not in the English alphabet.
        </p>

        <p>If you use web-link to view your applications, we recommend you select ASCll data and
unicode data.</p>
      </div>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['ASCII data', 593],
          ['Unicode data', 107],
          ['ASCII data and unicode data', 472]
        ]
      )}}

      <p>ASCII might be needed for old student integration systems used by universities.</p>

      <p>Ideally everyone would use unicode and only unicode. Any application could contain European characters.</p>

      <h3 class="govuk-heading-m">Recommendation</h3>
      <p>Set all new providers to ‘ASCII data and unicode data’ as UCAS recommends.</p>

      <h2 class="govuk-heading-l" id="odl">Outstanding decision lists (ODL)</h2>

      <p class="govuk-inset-text">
        You can choose whether or not you want to receive an ODL sequence list. The drop-down list offers a <b>sort choice</b> of the list data. ODLs are available online in the applicant data section of web-link. You’ll find an ODL in web-link, which shows all applications awaiting a decision.
      </p>

      {{ bat.barChartTable(
        ['Sort choice', 'Providers'],
        [
          ['Alphabetic', 459],
          ['Application code', 85],
          ['Not required', 119],
          ['Course / Alphabetic', 377],
          ['Faculty / Course / Alphabetic', 60],
          ['Course / Application code', 16],
          ['Faculty / Alphabetic', 9],
          ['Course / Learner Number', 4],
          ['Learner Number', 4],
          ['Faculty / Course / Application code', 6],
          ['Faculty / Course / Learner Number', 3],
          ['Faculty / Application code', 1]
        ]
      )}}

      <p>What is the difference between ‘Alphabetic’ and ‘Course / Alphabetic’?</p>

      <h2 class="govuk-heading-l" id="star-j">Star J (*J) required flag</h2>

      <p class="govuk-inset-text">
        The Star J provides HESA return details for each accepted applicant
at your training provider. It contains personal information (such as forenames, surname,
ethnicity, and disability), as well as qualifications data, and can be downloaded from the
applicant data section of web-link (Main Menu, Management Information, Export Data,
Applicant Data 3). It is available after the end of the cycle.
      </p>

      <p>
        <a href="https://www.hesa.ac.uk/collection/c16051/starj">Star J FAQ</a> and <a href="https://www.hesa.ac.uk/collection/c17051/starj_specification.pdf">Star J specification</a>
      </p>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['Flat File', 757],
          ['UCAS Link', 808]
        ]
      )}}

      <h2 class="govuk-heading-l" id="star-x">Star X (*X) required</h2>

      <p class="govuk-inset-text">
        The Star X gives extra statistical information for each applicant to your
training provider. It contains information that can be used for statistical purposes, such
as social class and national identity. It does not contain personal information, such as
names and addresses, which are not included in this transaction. It can be downloaded
in the applicant data section of web-link (Main Menu, Management Information, Export
Data, Applicant Data 2).
      </p>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['No, not required', 532],
          ['Yes, required', 595]
        ]
      )}}

      <h2 class="govuk-heading-l" id="alerts">New UTT application alerts</h2>

      <p class="govuk-inset-text">
        Use this to opt in to receive an email alert whenever a new
application is sent to you.
      </p>

      <p>Who receives the alert?</p>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['Yes, required', 710],
          ['No, not required', 873],
          ['Yes - only my programmes', 99],
          ['Yes - for accredited programmes only', 9]
        ]
      )}}

      <p>The last two options are only appropriate for accredited bodies.</p>

      <p>Alerts are sent to the UTT Output correspondent in the UCAS contact list.</p>

      <h3 class="govuk-heading-m">Recommendation</h3>
      <p>Give new providers a choice between Yes and No. Give new accredited bodies the full choice. Try to indicate who would receive these alerts and their frequency.</p>

      <h2 class="govuk-heading-l" id="require-copy-forms">Require copy forms</h2>

      <p class="govuk-inset-text">
        Your copy form preference should be set to Yes, required. This,
together with the copy form setting on each training programme record, will enable
PDFs to be created of your applications. You might not need to download the PDFs but,
as they cannot be created retrospectively, it is better to have them available in case you
need to do this later.
      </p>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['Yes, required', 607],
          ['No, not required', 747]
        ]
      )}}

      <h3 class="govuk-heading-m">Recommendation</h3>
      <p>Set all new providers to “Yes, required”. This means PDFs of applications should be available if needed.</p>

      <h2 class="govuk-heading-l" id="gt12">Type of GT12 required</h2>

      <div class="govuk-inset-text">
        <p>You must make a selection, because it determines which type
of Confirmation letter we send to applicants who hold a confirmed place at your training
provider. The selection will be applied to all your training programmes. The following
table explains the different GT12 Confirmation letters [table excluded]</p>
      </div>

      {{ bat.barChartTable(
        ['Value', 'Providers'],
        [
          ['Coming or Not (GT12B)', 1206],
          ['Coming / Enrol (GT12E)', 25],
          ['Not coming (GT12N)', 79],
          ['No response (GT12)', 449]
        ]
      )}}

      <h3 class="govuk-heading-m">Coming or Not (GT12B)</h3>

      <div class="govuk-inset-text">
        <p>
          To confirm whether or not you intend to take up this place,
          you must contact the training provider at [GT12 reply email
          or URL].</p>

        <p>
          If you are replying to the training provider’s email
          address, you must include your:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>Personal ID</li>
          <li>training programme code</li>
          <li>reason for not taking the place (if applicable)</li>
        </ul>
      </div>

      <h3 class="govuk-heading-m">Coming / Enrol (GT12E)</h3>

      <div class="govuk-inset-text">
        <p>To confirm that you intend to take up this place, you must
        contact the training provider at [GT12 reply email or URL].</p>

        <p>If you are replying to the training provider’s email address,
        you must include your:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>Personal ID</li>
          <li>training programme code</li>
        </ul>

        <p>If you do not intend to take up this place, no action is required.</p>
      </div>

      <h3 class="govuk-heading-m">Not coming (GT12N)</h3>

      <div class="govuk-inset-text">
        <p>
          If you do not intend to take up this place, you must contact
          the training provider at [GT12 reply email or URL].</p>

        <p>If you are replying to an email address, you must include your:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>Personal ID</li>
          <li>training programme code</li>
          <li>reason for not taking the place</li>
        </ul>
      </div>

      <h3 class="govuk-heading-m">No response (GT12)</h3>

      <div class="govuk-inset-text">
        <p>
          [Training provider name] will assume you are taking up your
          place, and will be sending you joining instructions before you
          start your training programme.
        </p>
      </div>

      <h3 class="govuk-heading-m">Recommendation</h3>
      <p>We indicate the difference in letters to new providers and ask for their choice. We need to indicate who the emails will go to as well.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      {{ designHistory.screenshot('UCAS Apply preferences', 'ucas-apply-preferences', '/public/images/publish-teacher-training/ucas-apply-preferences/thumbnails/ucas-apply-preferences.png', '/public/images/publish-teacher-training/ucas-apply-preferences/ucas-apply-preferences.png', '') }}
    </div>
  </div>
{% endblock %}
