{% extends "layout.html" %}
{% set title = 'Apply for postgraduate teacher training' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">August 2019</h2>

      {{ bat.item (
        '/apply-teacher-training/no-teaching-profile',
        'Removing the teaching profile',
        'Why we removed it, and the alternative'
      )}}

      {{ bat.item (
        '/apply-teacher-training/work-history-10-aug-iteration',
        'Work history – iteration 10 August',
        'Move guidance into a question'
      )}}

      {{ bat.item (
        '/apply-teacher-training/submitted-application',
        'Submitted application',
        'Applications page and read only view'
      )}}

      {{ bat.item (
        '/apply-teacher-training/pick-a-course',
        'Picking courses to apply to',
        'Providing a route to Find, or selecting the course you want'
      )}}

      {{ bat.item (
        '/apply-teacher-training/magic-link-login',
        'Sign up and log in using a magic link',
        'An alternative to using an account and password'
      )}}

      <h2 class="govuk-heading-l">July 2019</h2>

      {{ bat.item(
        '/apply-teacher-training/apply-june-2019',
        'Screenshots of June 2019 prototype (version 1)',
        'Broken down by application section'
      )}}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/beta-version-1">Creating our first interactive prototype</a>
      </h3>
      <p>
        Testing an interactive version of the application form. June - July 2019.
      </p>

      <h2 class="govuk-heading-l">May 2019</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/paper-based-application">Prototyping with paper-based application forms</a>
      </h3>
      <p>
        Testing hypotheses and preparing for a concierged service. March - May 2019.
      </p>

      <h2 class="govuk-heading-l">2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-december-2018">Apply – collecting the same data as UCAS</a>
      </h3>
      <p>
        The design as Faz left it in December 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-august-2018">Apply – form with structured data</a>
      </h3>
      <p>
        The design as Vin left it in August 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/free-form-application">Free form application and qualifications</a>
      </h3>
      <p>
        More free text, less structured data.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/progressive-application">Progressive application</a>
      </h3>
      <p>
        Ask for further information only when needed
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-may-2018">About you, qualifications and experience</a>
      </h3>
      <p>
        Designs capturing the same information needed for UCAS.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-april-2018">Application and summary</a>
      </h3>
      <p>
        Original application and summary designs
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">Reference</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-sign-up">UCAS Apply – Sign up</a>
      </h3>
      <p>
        User journey when registering for UCAS Apply
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-application-form">UCAS Apply – Application form</a>
      </h3>
      <p>
        User journey when completing the UCAS application form
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-referee-form">UCAS Apply – Referee form</a>
      </h3>
      <p>
        User journey when a referee is completing a reference for a UCAS applicant
      </p>
    </div>
  </div>
{% endblock %}
