{% extends "layout.html" %}
{% set title = 'Apply for postgraduate teacher training' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">July 2019</h2>

      {{ bat.item(
        '/apply-teacher-training/review-and-submit-application',
        'Review and submit application',
        'Version 1: See what you’ve entered, interview preferences and submission'
      )}}

      {{ bat.item(
        '/apply-teacher-training/vocation',
        'Teaching profile: Why you want to be a teacher',
        'Version 1, also known as vocation'
      )}}

      {{ bat.item(
        '/apply-teacher-training/references',
        'Teaching profile: References',
        'Version 1: Adding first and second referees'
      )}}

      {{ bat.item(
        '/apply-teacher-training/school-experience',
        'Teaching profile: School experience',
        'Version 1: Adding school experience roles'
      )}}

      {{ bat.item(
        '/apply-teacher-training/work-history',
        'Teaching profile: Work history',
        'Version 1: Adding work history and explaining gaps'
      )}}

      {{ bat.item(
        '/apply-teacher-training/language-skills',
        'Teaching profile: Language skills',
        'Version 1: Is English your main language?'
      )}}

      {{ bat.item(
        '/apply-teacher-training/subject-knowledge',
        'Teaching profile: Subject knowledge',
        'Version 1: Evidence of knowledge and interest in a subject'
      )}}

      {{ bat.item(
        '/apply-teacher-training/academic-qualifications',
        'Teaching profile: Academic qualifications',
        'Version 1: Adding your degree, statutory requirements and other qualifications'
      )}}

      {{ bat.item(
        '/apply-teacher-training/contact-details',
        'Teaching profile: Contact details',
        'Version 1: Adding emails, phone number and address'
      )}}

      {{ bat.item(
        '/apply-teacher-training/personal-details',
        'Teaching profile: Personal details',
        'Version 1: Adding name, nationality and visas'
      )}}

      {{ bat.item(
        '/apply-teacher-training/create-account',
        'Create an account',
        'Version 1: Sign up, sign in, recover password and dashboard'
      )}}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/beta-version-1">Creating our first interactive prototype</a>
      </h3>
      <p>
        Testing an interactive version of the application form. June - July 2019.
      </p>

      <h2 class="govuk-heading-l">May 2019</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/paper-based-application">Prototyping with paper-based application forms</a>
      </h3>
      <p>
        Testing hypotheses and preparing for a concierged service. March - May 2019.
      </p>

      <h2 class="govuk-heading-l">2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-december-2018">Apply – collecting the same data as UCAS</a>
      </h3>
      <p>
        The design as Faz left it in December 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-august-2018">Apply – form with structured data</a>
      </h3>
      <p>
        The design as Vin left it in August 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/free-form-application">Free form application and qualifications</a>
      </h3>
      <p>
        More free text, less structured data.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/progressive-application">Progressive application</a>
      </h3>
      <p>
        Ask for further information only when needed
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-may-2018">About you, qualifications and experience</a>
      </h3>
      <p>
        Designs capturing the same information needed for UCAS.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/apply-april-2018">Application and summary</a>
      </h3>
      <p>
        Original application and summary designs
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">Reference</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-sign-up">UCAS Apply – Sign up</a>
      </h3>
      <p>
        User journey when registering for UCAS Apply
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-application-form">UCAS Apply – Application form</a>
      </h3>
      <p>
        User journey when completing the UCAS application form
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/apply-teacher-training/ucas-apply-referee-form">UCAS Apply – Referee form</a>
      </h3>
      <p>
        User journey when a referee is completing a reference for a UCAS applicant
      </p>
    </div>
  </div>
{% endblock %}
