{% extends "layout.html" %}
{% set title = 'Shared organisation details' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The ‘About your organisation’ section is not unique to a course (<a href="/publish-teacher-training/iteration-june-28#course">see old design</a>). The data is about the organisation itself. Represent this by moving the fields out of course pages and up to the organisation view.</p>

      <p>To accommodate this new section, put courses and request access in tabs alongside it.</p>

      <h2 class="govuk-heading-m">Accrediting providers</h2>

      <p>An organisation can have no accrediting provider, one provider, or many. Add a field to describe each accrediting provider (if there are any), and remove guidance around accrediting provider from the ‘Training with you’ field. Only one will show to applicants at any given time.</p>

      <div class="body-text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Number of accreditors</th>
              <th class="govuk-table__header" scope="col">Providers with that many accreditors</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">0 or 1 accreditor</td>
              <td class="govuk-table__cell">865 providers</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">2 accreditors</td>
              <td class="govuk-table__cell">147 providers</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">3 accreditors</td>
              <td class="govuk-table__cell">41 providers</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">4 accreditors</td>
              <td class="govuk-table__cell">13 providers</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">5 accreditors</td>
              <td class="govuk-table__cell">1 provider</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">6 accreditors</td>
              <td class="govuk-table__cell">1 provider</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">7 accreditors</td>
              <td class="govuk-table__cell">1 provider</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        <a href="https://dfedigital.atlassian.net/browse/BATSA-402">BATSA-402</a>
      </p>
    </div>
  </div>

  {% set contents = [
  { text: 'Organisation', id: 'organisation' },
  { text: 'About your organisation', id: 'about-your-organisation' },
  { text: 'With one accrediting provider', id: 'with-one-accrediting-provider' },
  { text: 'With multiple accrediting providers', id: 'with-multiple-accrediting-providers' },
  { text: 'Course without organisation section', id: 'course-without-organisation-section' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/about-your-organisation/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/about-your-organisation/01-organisation.png', '') }}

  {{ designHistory.screenshot('About your organisation', 'about-your-organisation', '/public/images/publish-teacher-training/about-your-organisation/thumbnails/01-about-your-organisation.png', '/public/images/publish-teacher-training/about-your-organisation/01-about-your-organisation.png', '') }}

  {{ designHistory.screenshot('With one accrediting provider', 'with-one-accrediting-provider', '/public/images/publish-teacher-training/about-your-organisation/thumbnails/01-with-one-accrediting-provider.png', '/public/images/publish-teacher-training/about-your-organisation/01-with-one-accrediting-provider.png', '') }}

  {{ designHistory.screenshot('With multiple accrediting providers', 'with-multiple-accrediting-providers', '/public/images/publish-teacher-training/about-your-organisation/thumbnails/02-with-multiple-accrediting-providers.png', '/public/images/publish-teacher-training/about-your-organisation/02-with-multiple-accrediting-providers.png', '') }}

  {{ designHistory.screenshot('Course without organisation section', 'course-without-organisation-section', '/public/images/publish-teacher-training/about-your-organisation/thumbnails/03-course-without-organisation-section.png', '/public/images/publish-teacher-training/about-your-organisation/03-course-without-organisation-section.png', '') }}

{% endblock %}
