{% extends "layout.html" %}
{% set title = 'Draft of the QA process' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>An initial look at the process of sending a course to DfE for review, and examples of the responses providers might receive back.</p>
      <p>We tested this in our first round of research with providers, towards the end of each session. <a href="https://lookback.io/dfe-digital/providers">Research sessions are on Lookback</a>.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Sent to QA', id: 'sent-to-qa' },
  { text: 'QA passed email', id: 'qa-passed-email' },
  { text: 'QA failed email', id: 'qa-failed-email' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Sent to QA', 'sent-to-qa', '/public/images/publish-teacher-training/qa-draft/thumbnails/01-sent-to-qa.png', '/public/images/publish-teacher-training/qa-draft/01-sent-to-qa.png', '') }}

  {{ designHistory.screenshot('QA passed email', 'qa-passed-email', '/public/images/publish-teacher-training/qa-draft/thumbnails/02-qa-passed-email.png', '/public/images/publish-teacher-training/qa-draft/02-qa-passed-email.png', '') }}

  {{ designHistory.screenshot('QA failed email', 'qa-failed-email', '/public/images/publish-teacher-training/qa-draft/thumbnails/03-qa-failed-email.png', '/public/images/publish-teacher-training/qa-draft/03-qa-failed-email.png', '') }}


{% endblock %}
