{% extends "layout.html" %}
{% set title = 'Personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Dashboard', id: 'dashboard' },
    { text: 'Personal teaching profile', id: 'personal-teaching-profile' },
    { text: 'Personal details', id: 'personal-details' },
    { text: 'What is your residency status?', id: 'what-is-your-residence-status' },
    { text: 'Residency status: general work visa', id: 'residence-status---general-work-visa' },
    { text: 'Residency status: general student visa', id: 'residence-status---general-student-visa' },
    { text: 'Residency status: unknown', id: 'residence-status---unknown' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Dashboard', 'dashboard', '/public/images/apply-teacher-training/personal-details/thumbnails/dashboard.png', '/public/images/apply-teacher-training/personal-details/dashboard.png', '') }}

  {{ designHistory.screenshot('Personal teaching profile', 'personal-teaching-profile', '/public/images/apply-teacher-training/personal-details/thumbnails/personal-teaching-profile.png', '/public/images/apply-teacher-training/personal-details/personal-teaching-profile.png', '') }}

  {{ designHistory.screenshot('Personal details', 'personal-details', '/public/images/apply-teacher-training/personal-details/thumbnails/personal-details.png', '/public/images/apply-teacher-training/personal-details/personal-details.png', '') }}

  {{ designHistory.screenshot('What is your residency status?', 'what-is-your-residence-status', '/public/images/apply-teacher-training/personal-details/thumbnails/what-is-your-residence-status.png', '/public/images/apply-teacher-training/personal-details/what-is-your-residence-status.png', '') }}

  {{ designHistory.screenshot('Residency status: general work visa', 'residence-status---general-work-visa', '/public/images/apply-teacher-training/personal-details/thumbnails/residence-status---general-work-visa.png', '/public/images/apply-teacher-training/personal-details/residence-status---general-work-visa.png', '') }}

  {{ designHistory.screenshot('Residency status: general student visa', 'residence-status---general-student-visa', '/public/images/apply-teacher-training/personal-details/thumbnails/residence-status---general-student-visa.png', '/public/images/apply-teacher-training/personal-details/residence-status---general-student-visa.png', '') }}

  {{ designHistory.screenshot('Residency status: unknown', 'residence-status---unknown', '/public/images/apply-teacher-training/personal-details/thumbnails/residence-status---unknown.png', '/public/images/apply-teacher-training/personal-details/residence-status---unknown.png', '') }}

{% endblock %}
