{% extends "layout.html" %}
{% set title = 'Fortnightly Find performance report' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <p>We're 6 months into this year's recruitment cycle and, for the first time, the Department has data on how candidates are searching for courses!</p>

  <p>Over the course of the past 6 months, the team have been iterating the product, transitioning with UCAS and developing analytics for the service.</p>

  <p>Following recent product developments, and push to find out more about the new service, we've started to put a bit more of a framework around how we measure user success by outling what you might typically call our OKRs (objectives and key results). At a high level, we're really looking at 3 objectives: we want people to use our service, we want people engaging with the service in the way we we've intended and we want people to feel like they're ready to go on and apply once they've used our service.</p>

  <p>To kick off the first iteration of this report, we'll use the following structure to outline how we're measuring against these objectives and what sort of performance we're seeing at the moment. The Service overview section will focus on service usage and give a general user behaviour, our Success measures section will then cover two-parts: the % of users who have experienced a successful journey and those that convert from Find to UCAS registration</p>

  <p>You'll be able to see all of the information from this report in live form in our dashboards, <a href="https://datastudio.google.com/open/1M4DgevUBtTVwS09bEpWbkhPxxFqNOBjt"> here</a>.</p>
</div>
</div>

  {% set contents = [
    { text: 'Service overview', id: 'service-overview' },
    { text: 'Success measures', id: 'success-measures' }
  ] %}

  {{ designHistory.screenshotContents(contents) }}

  {% set serviceoverviewContent %}
  ### An intro to peformance data on Find
  Since launch the service has seen 313,383 users visit the site. January to March of this year currently represents 55% of total service usage, since launch. However, since January, we've seen total usage drop by 29% from 73,793 new users in January to 52,090 in March. This looks like a reasonable monthly benchmark for performance - consistent across October, November, February and March of this recruitment cycle.

  We've only got 1.7 shots to make it count. Our current analytics tells us that the average user participates in an average of 1.7 sessions. It's hard to say at this point whether this is high or low. However, it's fairly clear that if a user only visits the site on average 1.7 times, then we need to ensure they are able to quickly, and accurately, find the thing they need to progress in their journey to become a teacher - courses!

  The average user will need to visit at least 4 pages in order to reach a course details page. Since launch, our users have averaged 6 pages per session. This might mean a number of things, either users are tweaking their searches to find more appropriate courses, or they are viewing a couple of courses at a time. To understand things a bit better, we'll have to look into user behaviour (how users are engaging with various features within the tool), which we'll be providing some insight into in the next report.
  {% endset %}

  {{ designHistory.screenshot('Service overview', 'service-overview', '/public/images/performance-test/thumbnails/service-overview.png', '/public/images/performance-test/service-overview.png', markdown(serviceoverviewContent)) }}

  {% set successContent %}
  ### Successful journeys - building out a benchmark
  *A successful journey is defined as, a user who:*
  * *visits at least one course details page, or*
  * *clicks through to any external link on the service (e.g. Get into Teaching or UCAS Apply)*.

  Since the launch of our service, the site has seen 116,665 users complete a successful journey. This makes up 37.2% of our total user base. On average, a "successful" user will visit ~9 pages per session, spending 9 minutes and 56 seconds on the service. This is around 2x the time spent by your average user, visiting 3 more pages per session.

  We're clearly starting to get a benchmark for what good looks like and how much time we should expect to be seeing users spending on the service, if they are to convert from an 'average' to 'successful' user. However, we need to research some of the behaviours of these users a bit more to understand their motives. This might allow us to design improvements to the service that encourage more successful journeys in the future.

  Focusing in on this quarter - since January, the service has seen an average of 8,000 users completing successful journeys on the service per week. However, as mentioned previously, following an initial spike in usage through January, the number of visitors to the site has levelled off at ~50,000 per month. This means that the % of successful journeys has increased to 50% of our user usage in March, compared to 44% in January. Unfortunately, this indicates that whilst our user volumes spiked in January, relatively speaking, this did not convert to successful journeys.

  This may be indicative of a number of root causes, notably: campaign pushes resulting in an increase in people 'just having a look' or the 'new year, new me'user equally trying to satisfy their desire for change by exploring different avenues. This is behaviour of exploration is supported by a similar spike in usage on the Get into Teaching service over the same period, both this recruitment cycle and in the previous.

  ### Conversion - trending downwards or levelling off... what's the difference?
  If we look at the service from the other side (how are users converting from Find to UCAS), we'll see that UCAS registrant figures are currently dropping at a faster rate than the number of users on Find.

  Since January, Find user volumes have dropped by a monthly rate of 13%. Comparatively, UCAS registrants have been dropping at a rate of ~30% *(March registrant figures forecasted out at a multiple of 1.5x from 17/03/2019)*.

  This indicates that, whilst users may be successfully moving on from Find at a steady rate, increasingly, the next step does not involve UCAS registration. This may mean that users are instead opting to source more information, looking to provider websites and get into teacher to find out more information or, for a subset of users, this is the point at which they have decided teaching is not for them.

  ## Conclusion
  ### What does good look like?
  This year is all about building up the picture, getting a better sense of how Find can play a part in the journey to become a teacher and identifying where we might be able to make improvements to the service in the future.

  From our usage reports and success measures, we're already starting to get a sense of what we should be expecting by way of usage each month. However, this report has only provided a high level overview of some of the services key objectives.

  In future weeks, we'll start reporting on some of the more behavioural trends coming out of our analytics. This should hopefully start to give you some insight, not only into whether users are successful in their journey, but also how they navigate the service. For example, where they are looking to train, in which subjects and at what pace.

  In the meantime, feel free to keep an eye on our dashboards or start familiarising yourself with some of the ways we're looking at service performance [here](https://datastudio.google.com/open/1M4DgevUBtTVwS09bEpWbkhPxxFqNOBjt).
  {% endset %}

  {{ designHistory.screenshot('Success measures', 'success-measures', '/public/images/performance-test/thumbnails/success-measures.png', '/public/images/performance-test/success-measures.png', markdown(successContent)) }}

{% endblock %}
