{% extends "layout.html" %}
{% set title = 'New course wizard – Further education' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>After selecting ‘Further education’ as a course type, the wizard goes down a different path.</p>

      <p><a href="https://docs.google.com/drawings/d/1DAhz464j1XDyQPoOH0adIwAceUwuGU1rqsWkVn8ZQ8I/edit">Google diagram of new course workflow</a></p>

      <p>Further education courses do not have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>subjects (or languages)</li>
        <li>accredited bodies</li>
        <li>minimum GCSE requirements (there is no legal requirement)</li>
        <li>a fee or salary choice</li>
      </ul>

      <p>Some screens need to differ:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Title – there is no subject to generate a title from, we must ask for the title</li>
        <li>Outcome – the outcomes listed are PGCE or PGDE, there is no QTS option</li>
      </ul>

      <p>Some pages can be reused:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>training locations (if applicable, though no current providers need this screen)</li>
        <li>full time or part time</li>
        <li>course start date</li>
      </ul>

      <h2 class="govuk-heading-l">User research</h2>
      <p>
        <a href="https://docs.google.com/presentation/d/17wz2ZWJCNbbqsaywigok-fHv07IUjjiLRSaffCuim64/edit">Research playback presentation</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/oDwREDkfjwjW5SpCi?t=18m55.28s">Canterbury Christ Church University</a></li>
        <li><a href="https://lookback.io/watch/uCv5RfwkKAcyad3fJ?t=7m16.01s">Sheffield Hallam University</a></li>
        <li><a href="https://lookback.io/watch/pWYBvEpr8YfeF7pAx?t=2m6.58s">University of Huddersfield</a></li>
      </ul>

      <h3 class="govuk-heading-m">Expertise</h3>
      <p>Not everyone who enters a further education course knows exactly what their FE courses offer. Some providers weren’t sure if their courses offered QTS or not (they don’t). They have contacts in their organisation who can give more detail.</p>

      <h3 class="govuk-heading-m">Titles</h3>
      <p>FE course titles are vague: Lifelong Learning, Further Education, FE Teacher Training. One provider explained that their FE course represented many possible subjects, from business to beauty, and that which subject would be taken would be discussed at interview.</p>

      <h3 class="govuk-heading-m">Pre-service and post-service</h3>
      <p>We’d seen these terms in some courses. We weren’t sure what they meant.</p>

      <p>Post-service, or in-service is aimed at people already working or volunteering in a school as it does not include school placements. (<a href="https://lookback.io/watch/pWYBvEpr8YfeF7pAx?t=5m4s">video</a>)</p>

      <p>Pre-service courses will include work placements.</p>

      <h3 class="govuk-heading-m">Is Find right for FE courses?</h3>

      <p>Should FE course be with all the others? “Yes - the application process is the same as those that result in QTS and managed in the same way. They’re getting the same treatment as someone who is applying for QTS” (<a href="https://lookback.io/watch/pWYBvEpr8YfeF7pAx?t=12m36.1s">video</a>)</p>

      <p>How school placements work should be renamed to How placements work for FE courses, placements aren’t in schools.</p>

      <p>As courses aren’t tied to allocations, the opening date for applications is arbitrary. “because this course is not subject to allocation restrictions, we know the course is going to run.” (<a href="https://lookback.io/watch/pWYBvEpr8YfeF7pAx?t=15m25.7s">video</a>)</p>
    </div>
  </div>

  {% set contents = [
    { text: 'What type of course?', id: 'what-type-of-course' },
    { text: 'What is the course title?', id: 'what-is-the-course-title' },
    { text: 'Pick a course outcome', id: 'pick-a-course-outcome' },
    { text: 'Full time or part time?', id: 'full-time-or-part-time' },
    { text: 'Pick training locations', id: 'pick-training-locations' },
    { text: 'When does the course start?', id: 'when-does-the-course-start' },
    { text: 'Check your answers', id: 'check-your-answers' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('What type of course?', 'what-type-of-course', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/01-what-type-of-course.png', '/public/images/publish-teacher-training/new-further-education-course/01-what-type-of-course.png', '') }}

  {{ designHistory.screenshot('What is the course title?', 'what-is-the-course-title', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/02-what-is-the-course-title.png', '/public/images/publish-teacher-training/new-further-education-course/02-what-is-the-course-title.png', '') }}

  {{ designHistory.screenshot('Pick a course outcome', 'pick-a-course-outcome', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/03-pick-a-course-outcome.png', '/public/images/publish-teacher-training/new-further-education-course/03-pick-a-course-outcome.png', '') }}

  {{ designHistory.screenshot('Full time or part time?', 'full-time-or-part-time', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/04-full-time-or-part-time.png', '/public/images/publish-teacher-training/new-further-education-course/04-full-time-or-part-time.png', '') }}

  {{ designHistory.screenshot('Pick training locations', 'pick-training-locations', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/05-pick-training-locations.png', '/public/images/publish-teacher-training/new-further-education-course/05-pick-training-locations.png', '') }}

  {{ designHistory.screenshot('When does the course start?', 'when-does-the-course-start', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/06-when-does-the-course-start.png', '/public/images/publish-teacher-training/new-further-education-course/06-when-does-the-course-start.png', '') }}

  {{ designHistory.screenshot('Check your answers', 'check-your-answers', '/public/images/publish-teacher-training/new-further-education-course/thumbnails/07-check-your-answers.png', '/public/images/publish-teacher-training/new-further-education-course/07-check-your-answers.png', '') }}

{% endblock %}
