{% extends "layout.html" %}
{% set title = 'New course wizard' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>As part of the <a href="https://docs.google.com/document/d/1H8ecdKnrJ2nJbc87Lgx5t-gx2_jnt0NLYLKf1Y_G9zg/edit#">UCAS Transition work</a> (<a href="https://trello.com/b/O0RjGYkw/ucas-transition-story-map">Trello story map</a>) we need to bring course creation into Publish. We <a href="/publish-teacher-training/new-course-wizard">looked at this briefly in May</a> before we knew we’d have UCAS data.</p>

      <p>This is a best guess first pass at the process which we expect users to question substantially. It recreates the fields UCAS asks for using the ‘<a href="https://design-system.service.gov.uk/patterns/question-pages/">page-per-thing</a>’ pattern and ending with a ‘<a href="https://design-system.service.gov.uk/patterns/check-answers/">check your answers</a>’ page. </p>

      <p>The current UCAS process puts all fields on one page, asks users for a course title and uses string matching and manual checks to assign subjects. This wizard flips that around, asking for details about a course to generate a standardised and comparable title.</p>

      <h2 class="govuk-heading-l">Proposed logic for generating titles</h2>
      <p>These titles are largely inline with existing course titles.</p>

      <p>For most courses the title will be the subject:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mathematics</li>
        <li>Primary with mathematics</li>
        <li>Biology</li>
      </ul>

      <p>For modern languages the languages are appended to the title:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Modern languages (French and German)</li>
        <li>Modern languages (French, German, Spanish)</li>
        <li>Modern languages (French)</li>
      </ul>

      <p>If the course is marked as a special educational needs one, it’s appended to the title:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mathematics (Special educational needs)</li>
        <li>Primary with mathematics (Special educational needs)</li>
        <li>Biology (Special educational needs)</li>
      </ul>

      <h2 class="govuk-heading-l">Missing from this design</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Training location assignment</li>
        <li>Course start month</li>
        <li>Applications open date</li>
        <li>Apply eligibility settings</li>
      </ul>

      <h2 class="govuk-heading-l" id="user-research">User research</h2>

      <p>
        <a href="/publish-teacher-training/new-course-2#user-research">We tested the next iteration</a>
      </p>
    </div>
  </div>

  {% set contents = [
    { text: 'Workflow diagram', id: 'workflow-diagram' },
    { text: 'Type of course', id: 'type-of-course' },
    { text: 'Pick a subject', id: 'pick-a-subject' },
    { text: 'Pick languages', id: 'pick-languages' },
    { text: 'Pick outcome', id: 'pick-outcome' },
    { text: 'Full time or part time', id: 'full-time-or-part-time' },
    { text: 'Accredited provider', id: 'accredited-provider' },
    { text: 'Confirm', id: 'confirm' },
    { text: 'Customise title', id: 'customise-title' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Workflow diagram', 'workflow-diagram', '/public/images/publish-teacher-training/new-course/00-new-course-workflow.png', '/public/images/publish-teacher-training/new-course/00-new-course-workflow.png', '
    <p><a href="https://docs.google.com/drawings/d/1DAhz464j1XDyQPoOH0adIwAceUwuGU1rqsWkVn8ZQ8I/edit">Google diagram</a></p>

    <p>Diagram showing which screens are applicable to which journey.</p>
  ') }}

  {{ designHistory.screenshot('Type of course', 'type-of-course', '/public/images/publish-teacher-training/new-course/thumbnails/01-type-of-course.png', '/public/images/publish-teacher-training/new-course/01-type-of-course.png', '
    <p>Start by choosing a level, whether the course is SEN and if it’s salaried or fee paying.</p>

    <p>The last part could be split onto its own page (<a href="/publish-teacher-training/new-course-2#fee-or-salary">updated design</a>). Only School Direct providers have a choice between fee paying and salary. We believe that the apprenticeship option is also only applicable to School Direct providers. Universities and SCITTs won’t see this question.</p>
  ') }}

  {{ designHistory.screenshot('Pick a subject', 'pick-a-subject', '/public/images/publish-teacher-training/new-course/thumbnails/02-pick-a-subject.png', '/public/images/publish-teacher-training/new-course/02-pick-a-subject.png', '
    <p>If a user chooses:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Primary, they see a list of all primary subjects</li>
      <li>Secondary, they see only secondary subjects</li>
      <li>Further education, they go on a different journey (not yet designed), they won’t see this page</li>
    </ul>

    <p>If a user chooses Secondary and then Modern languages, we need to know which languages the course is in.</p>
  ') }}

  {{ designHistory.screenshot('Pick languages', 'pick-languages', '/public/images/publish-teacher-training/new-course/thumbnails/03-pick-languages.png', '/public/images/publish-teacher-training/new-course/03-pick-languages.png', '
    <p>We’ve heard that modern foreign language courses need a minimum of two languages. This needs fact checking. Some of the courses in Find show only one, eg they are titled "French" and don’t allude to another language in their description.</p>

    <p>We need to know which language is the main one, and which are secondary. There may be more than two languages.</p>
  ') }}

  {{ designHistory.screenshot('Pick outcome', 'pick-outcome', '/public/images/publish-teacher-training/new-course/thumbnails/04-pick-outcome.png', '/public/images/publish-teacher-training/new-course/04-pick-outcome.png', '
    <p>Design appropriated from ‘<a href="/publish-teacher-training/choose-outcome">Choose a course outcome</a>’ with some modifications.</p>

    <p>The further education options (ie those without QTS) are not shown – this page is for Primary and Secondary courses only, FE courses will go on a different journey.</p>

    <p>The ‘PGDE’ option is no longer behind a disclosure because it’d be the only hidden option. Instead it’s placed last in the list.</p>
  ') }}

  {{ designHistory.screenshot('Full time or part time', 'full-time-or-part-time', '/public/images/publish-teacher-training/new-course/thumbnails/05-full-time-or-part-time.png', '/public/images/publish-teacher-training/new-course/05-full-time-or-part-time.png', '
    <p>As per the UCAS model, a course can be full time, part time, or offered as either.</p>
  ') }}

  {{ designHistory.screenshot('Accredited provider', 'accredited-provider', '/public/images/publish-teacher-training/new-course/thumbnails/06-accredited-provider.png', '/public/images/publish-teacher-training/new-course/06-accredited-provider.png', '
    <p>If the course has an accredited provider, they can select it.</p>

    <p>The list of accredited providers uses an autocomplete for ease. If the provider has previously used one or more accredited providers, they should be highlighted somehow and made easy to pick – perhaps as a radio group.</p>

    <p>Universities and SCITTs will not need to see this page.</p>

    <p><a href="https://find-postgraduate-teacher-training.education.gov.uk/course/2CG/2Z4L">QTS only courses</a> can still have an accredited provider.</p>
  ') }}

  {{ designHistory.screenshot('Confirm', 'confirm', '/public/images/publish-teacher-training/new-course/thumbnails/07-confirm.png', '/public/images/publish-teacher-training/new-course/07-confirm.png', '
    <p>Use a check your answers page to summarise answers to questions.</p>

    <p>From the answers we can also preview how the course will look on Find. We show the generated:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>title</li>
      <li>course description</li>
      <li>course code</li>
    </ul>

    <p>Not all generated titles will be suitable. The title can be edited using the ‘Change’ link.</p>
  ') }}

  {{ designHistory.screenshot('Customise title', 'customise-title', '/public/images/publish-teacher-training/new-course/thumbnails/08-customise-title.png', '/public/images/publish-teacher-training/new-course/08-customise-title.png', '
    <p>A way of editing the generated title. We want to discourage use of this, but for some cases it’ll reduce the burden on support.</p>

    <p>Because this field is free text any edits made will need some sort of quality check.</p>

    <p>The suggested process is:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>Provider alters a course name from the default</li>
    <li>The system flags that course as having a non-standard name</li>
    <li>There is a report in the support app which shows all non-standard names</li>
    <li>
      An ops team-member looks at the entry in the support app:
      <ul class="govuk-list govuk-list--bullet">
        <li>If the proposed name is fine, they acknowledge the change in the support app</li>
        <li>
          If the proposed name isn’t fine, they:
          <ul class="govuk-list govuk-list--bullet">
            <li>Go into Publish as a god user and update the course name</li>
            <li>Notify the provider over Zendesk</li>
            <li>Acknowledge the change in the support app</li>
          </ul>
        </li>
      </ul>
    </li>
</ul>
  ') }}


{% endblock %}
