{% extends "layout.html" %}
{% set title = 'Support for Apply' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Prototype:<br>
        <a href="https://support-for-apply-prototype.herokuapp.com/">https://support-for-apply-prototype.herokuapp.com/</a>
      </p>
      <!-- The password is only to stop people stumbling on it and thinking it’s real. There is no sensitive information -->
      <p>
        Username: apply<br>
        Password: bat
      </p>

      <h2 class="govuk-heading-l">November 2019</h2>

      {{ bat.item (
        '/support-for-apply/as-launched-26-nov-2019',
        'As launched on 26 November 2019',
        'An MVP support tool, showing essential application information'
      )}}

      {{ bat.item (
        '/support-for-apply/as-designed-for-26-nov-2019-pilot',
        'As designed for pilot (26 November 2019)',
        'The initial pilot designs'
      )}}

    </div>
  </div>
{% endblock %}
