{% extends "layout.html" %}
{% set title = 'UCAS course status' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>We show all UCAS courses rather than just the published ones. This means we are displaying courses that should go live but also those which have been suspended. Users need to see the status of their courses so they know what will be shown to candidates. The status needs to match the UCAS status.</p>

      <p>Add a status column to the course table, and add a row to the metadata on the course detail page.</p>

      <p>Statuses can be one of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Running</li>
        <li>Suspended</li>
        <li>New</li>
        <li>Discontinued</li>
      </ul>

      <p>
        View design: <br/>
        <a href="https://publish-courses-check-ucas.herokuapp.com/courses">https://publish-courses-check-ucas.herokuapp.com/courses</a>
      </p>

      <h2 class="govuk-heading-m">UCAS guidance on status</h2>
      <p><a href="https://www.ucas.com/sites/default/files/utt-set-up-guide-2015.pdf">UCAS Teacher training set up guide</a></p>

      <h3 class="govuk-heading-s">Running</h3>
      <p>Running means the training programme is running and you are ready and able to receive applications. If combined with Yes as the setting in Publish, the training programme will appear in the search tool.</p>

      <h3 class="govuk-heading-s">New</h3>
      <p>New is used for a new training programme. The default is set to No in Publish and so will not appear in the search tool. If you are ready to start receiving applications then you should change the setting to Yes in Publish.</p>

      <h3 class="govuk-heading-s">Discontinued</h3>
      <p>Discontinued means that the training programme is no longer available or perhaps set up incorrectly. Discontinued training programmes will not be rolled over to the next application cycle in May each year.</p>

      <h3 class="govuk-heading-s">Suspended</h3>
      <p>Suspended means that you will not be running your training programme in the current cycle, for any reason, but may run it again the future. The programme will not be displayed in the search tool for applicants to research. Suspended training programmes will be rolled over to the next application cycle in May each year.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/ucas-course-status/thumbnails/01-courses.png', '/public/images/publish-teacher-training/ucas-course-status/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/ucas-course-status/thumbnails/02-course.png', '/public/images/publish-teacher-training/ucas-course-status/02-course.png', '') }}


{% endblock %}
