{% extends "layout.html" %}
{% set title = 'Templates' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>A first pass at providing users with a template function.</p>

      <p><a href="https://dfedigital.atlassian.net/browse/BATSA-402">BATSA-402</a></p>

      <h2 class="govuk-heading-l">Why use templates?</h2>
      <p>For many training providers there is great similarity between the courses they offer for different subjects. Users need an easy way to share information between these courses so they don't have to copy and paste content between them. Users also need to easily update all courses that share information, so that they all remain consistent, again without needing to copy and paste.</p>
      <p>We’ve observed in user research that without the ability to share information users are likely to use copy and paste.</p>

      <h2 class="govuk-heading-l">Template user research</h2>
      <p>To test templates we ran unmoderated remote research sessions with 4 training providers, and we visited 3 further providers.</p>

      <p>We attempted many more remote sessions but some users didn’t complete the exercise and others couldn’t record the session because of network firewalls or IT restrictions.</p>

      <p>More about our research in confluence: <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/440074245/Testing+templates+and+multiple+orgs">Confluence</a></p>

      <h3 class="govuk-heading-m">Unmoderated sessions</h3>

      <ul class="govuk-list">
        <li><a href="https://lookback.io/watch/Ww6yAHxHiNB95vLwR">University of Sunderland</a></li>
        <li><a href="https://lookback.io/watch/9nNasdJrSy7rJ4jYb">Surrey South Farnham</a></li>
        <li><a href="https://lookback.io/watch/PBqjHp7QFt65r5Q2x">Excalibur TSA</a></li>
        <li>
          <a href="https://lookback.io/watch/Der6yQKnYKaN3iuyS">University of Reading – 1</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/Yy7TNgYpKT6dXDWF6">University of Reading – 2</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/ziQcSNFCbY6gmKth6">University of Reading – 3</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/e4dYojoqk5ZMyEW56">University of Reading – 4</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">In-person moderated sessions</h3>

      <ul class="govuk-list">
        <li><a href="https://lookback.io/watch/6dwaSDCngbuPTiL4x">Catholic Teaching Alliance</a></li>
        <li><a href="https://lookback.io/watch/CCdNXjjh34amgbWzK">West London Teaching Schools Alliance</a></li>
        <li><a href="https://lookback.io/dfe-digital/bromley-multiple-orgs-and-templates">Bromley Schools Collegiate</a></li>
      </ul>

      <h2 class="govuk-heading-l">What goes into a template?</h2>
      <p>A template should have an identical structure to a course. eg About this course, course fees and length, and course requirements.</p>

      <p>A course either uses a template wholesale or is completely custom. Our hypothesis is that a middle-ground, where a user can pick and choose which fields to copy or use, will be too complex a concept to explain and build, especially regarding ongoing maintenance and consistency.</p>

      <h3 class="govuk-heading-m">Results</h3>
      <p>We found that users expect to be able to apply a template and then tweak it so they can add subject or course specific details. They also expect to be able to update a template and have that change apply to all courses using the template.</p>

      <p>For example we saw that a Primary course is very similar to Primary with special educational needs, but the latter needs some extra supporting text.</p>

      <p>Some users made their courses generic to use templates whereas others noted that they wouldn’t use templates without the ability to tweak – instead opting for the ‘Custom course’ every time. Users said they need ‘elements of templates’, or to ‘pick and choose’.</p>

      <p>Without changes we risk making it easy for providers to not communicate the differences between their courses.</p>

      <p>Follow-up design ticket: <a href="https://dfedigital.atlassian.net/browse/BATSA-459">BATSA-459</a></p>

      <h2 class="govuk-heading-l">Allowing multiple templates</h2>
      <p>Training providers can have similarity between courses in many ways. All of their PGCE courses might be the same, while their QTS all follow a different pattern. The same could be true for secondary vs primary. If a provider uses multiple accrediting providers then an accrediting provider template could work.</p>

      <h3 class="govuk-heading-m">Results</h3>
      <p>Multiple templates were largely useful and understood by users.</p>

      <h2 class="govuk-heading-l">Template limits and risks</h2>
      <p>Because a template includes all course fields it might be inappropriate to use them across certain courses. For example, by setting the fees on a template to those of a PGCE course (£9,000), this template shouldn’t then be applied to a QTS course – which costs less. There's a risk that users could apply these templates wrongly and show incorrect information to users.</p>

      <h3 class="govuk-heading-m">Results</h3>
      <p>We saw one user incorrectly apply a template, meaning a course showed the wrong fees. This may have been a symptom of the research as they didn’t spend too long checking their course information during the session.</p>

      <p>Follow-up ticket to look at template validation, warnings and QA: <a href="https://dfedigital.atlassian.net/browse/BATSA-452">BATSA-452</a></p>

      <p>We saw 2 users misunderstand templates, they created subject specific course templates that could only ever apply to one course. However these users also did not fully engage with the exercise and did not complete the task set. We expected to see more users struggle with the concept of templates but were encouraged to see that the idea was largely well understood.</p>

      <h2 class="govuk-heading-l">Templates in UCAS</h2>
      <p>There’s some concept of a template in the tool provided by UCAS. Users can select a training programme from which they can copy fields. Though once a copy has been made no subsequent edits are updated – users must resort to copy and paste again.</p>

      <p><a href="https://www.ucas.com/file/115116/download?token=Du-edwFy">UCAS documentation for ‘Entry profiles’</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Templates', id: 'templates' },
  { text: 'New template', id: 'new-template' },
  { text: 'Template', id: 'template' },
  { text: 'Set fields for a template', id: 'set-fields-for-a-template' },
  { text: 'Template preview', id: 'template-preview' },
  { text: 'Apply template to courses', id: 'apply-template-to-courses' },
  { text: 'Pick a template for a course', id: 'pick-a-template-for-a-course' },
  { text: 'Template selected for a course', id: 'template-selected-for-a-course' },
  { text: 'Don’t use a template', id: 'dont-use-a-template' },
  { text: 'Course preview', id: 'course-preview' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/templates/thumbnails/01-courses.png', '/public/images/publish-teacher-training/templates/01-courses.png', '
    <p>The courses view (unfolded, showing each variant of a course) with a column showing which template each course uses. If the course doesn’t use a template then ‘Custom course’ is displayed.</p>
  ') }}

  {{ designHistory.screenshot('Templates', 'templates', '/public/images/publish-teacher-training/templates/thumbnails/02-templates.png', '/public/images/publish-teacher-training/templates/02-templates.png', '
    <p>A tab for templates showing all templates an organisation has made. This table might be expanded to include how many courses each one is applied to.</p>

    <h3 class="govuk-heading-s">Results</h3>
    <p>Users navigated to and from this list easily. One user expected the table of templates to eventually show state – eg published or approved.</p>
  ') }}

  {{ designHistory.screenshot('New template', 'new-template', '/public/images/publish-teacher-training/templates/thumbnails/03-new-template.png', '/public/images/publish-teacher-training/templates/03-new-template.png', '
    <p>Create a template by choosing a name.</p>

    <h3 class="govuk-heading-s">Results</h3>
    <p>Users followed our guidance and experimented with template names similar to the one suggested. Names used were:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Secondary PGCE courses</li>
      <li>Primary PGCE courses</li>
      <li>Tuition fee</li>
      <li>Secondary PGCE information</li>
      <li>Secondary PGCE - core</li>
      <li>History Secondary PGCE course</li>
      <li>Secondary French PGCE</li>
      <li>Primary Non-Salaried</li>
      <li>English</li>
      <li>Secondary PGCE (M) QTS</li>
      <li>Secondary St Marys Unsalaried</li>
      <li>SCITT</li>
      <li>Darrick Wood SDS (SDS means ‘school direct salaried’)</li>
    </ul>
  ') }}

  {{ designHistory.screenshot('Template', 'template', '/public/images/publish-teacher-training/templates/thumbnails/04-template.png', '/public/images/publish-teacher-training/templates/04-template.png', '
    <p>A template looks the same as a course. It can be edited in parts and previewed.</p>

    <h3 class="govuk-heading-s">Results</h3>

    <p>Sometimes users couldn’t tell if they were looking at a template or a course.</p>

    <p>After entering information it is summarised on this page, some users then mistook this page to be a preview of the course, thinking that this might be what candidates would see.</p>

    <p>We might want to switch this to the simpler <a href="https://design-system.service.gov.uk/patterns/task-list-pages/">task-list pattern</a> that shows ‘completed’ badges, maybe indicating word counts too.</p>
  ') }}

  {{ designHistory.screenshot('Set fields for a template', 'set-fields-for-a-template', '/public/images/publish-teacher-training/templates/thumbnails/05-set-fields-for-a-template.png', '/public/images/publish-teacher-training/templates/05-set-fields-for-a-template.png', '
    <p>An example of fields available for a template.</p>
  ') }}

  {{ designHistory.screenshot('Template preview', 'template-preview', '/public/images/publish-teacher-training/templates/thumbnails/06-template-preview.png', '/public/images/publish-teacher-training/templates/06-template-preview.png', '
    <p>A template preview needs to indicate:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that it’s a template</li>
      <li>which bits will vary by course</li>
    </ul>

    <p>Hypothesis: There might be a need to indicate where each field can be edited.</p>

    <h3 class="govuk-heading-s">Results</h3>

    <p>Users were confused about the missing “about your organisation” and “training with a disability” fields. Most did find where to add these fields eventually but the section previews should point to where information can be entered.</p>
  ') }}

  {{ designHistory.screenshot('Apply template to courses', 'apply-template-to-courses', '/public/images/publish-teacher-training/templates/thumbnails/07-apply-template-to-courses.png', '/public/images/publish-teacher-training/templates/07-apply-template-to-courses.png', '
    <p>A bulk editing screen to apply a template to many courses at once. This could be delivered in a later iteration of templates.</p>

    <h3 class="govuk-heading-s">Results</h3>

    <p>Users who found this page were able to apply templates to courses. Most users however applied courses one by one through the course view (below).</p>
  ') }}

  {{ designHistory.screenshot('Pick a template for a course', 'pick-a-template-for-a-course', '/public/images/publish-teacher-training/templates/thumbnails/08-pick-a-template-for-a-course.png', '/public/images/publish-teacher-training/templates/08-pick-a-template-for-a-course.png', '
    <p>When navigating to a course users are presented with a choice on how to proceed. They can pick a template or choose to write a custom course description.</p>

    <h3 class="govuk-heading-s">Results</h3>

    <p>Users often clicked through to one of these pages as their first action. A prompt asking them to create their first template worked well.</p>

    <p>When presented with a list of templates users were able to make a choice easily and understood the outcome. Some users were distracted or confused by the ‘View template’ link in the form.</p>

    <p>Writing custom course content was also understood.</p>
  ') }}

  {{ designHistory.screenshot('Template selected for a course', 'template-selected-for-a-course', '/public/images/publish-teacher-training/templates/thumbnails/09-template-selected-for-a-course.png', '/public/images/publish-teacher-training/templates/09-template-selected-for-a-course.png', '
    <p>Once a template is selected a user can preview the course or click through to the template itself. No other fields are needed.</p>

    <h3 class="govuk-heading-s">Results</h3>
    <p>Users searched this page to find a way to tweak or modify a template for a specific course. Some did this on the preview too.</p>
  ') }}

  {{ designHistory.screenshot('Don’t use a template', 'dont-use-a-template', '/public/images/publish-teacher-training/templates/thumbnails/10-dont-use-a-template.png', '/public/images/publish-teacher-training/templates/10-dont-use-a-template.png', '
    <p>If a custom course is selected the course fields will appear and the course can be previewed and submitted to DfE for the QA process.</p>
  ') }}

  {{ designHistory.screenshot('Course preview', 'course-preview', '/public/images/publish-teacher-training/templates/thumbnails/11-course-preview.png', '/public/images/publish-teacher-training/templates/11-course-preview.png', '') }}


{% endblock %}
