{% extends "layout.html" %}
{% set title = 'Course folding and UCAS course details' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Course content we will receive in a feed from UCAS</h2>
      <p>Assumptions about content we will receive from UCAS based on <a href="/publish-teacher-training/ucas-course-examples">existing course data</a>.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Course title, QAd by UCAS to meet their standards (eg subject)</li>
        <li>A list of subjects the course is associated with</li>
        <li>Whether there are part time or full time vacancies</li>
        <li>The route – school direct, school direct salaried, SCITT or higher education</li>
        <li>The qualification but <a href="/publish-teacher-training/course-with-variants#course">with caveats</a> (QTS, Postgraduate, Professional)</li>
        <li>Campuses/locations associated with each course:
          <ul class="govuk-list govuk-list--bullet">
            <li>Name</li>
            <li>Campus code</li>
            <li>Full or part time vacancies</li>
            <li>Address or region</li>
            <li>Applications open date</li>
          </ul>
        </li>
        <li>Course start month (not day)</li>
        <li>Accrediting provider</li>
        <li>Training provider name</li>
        <li>Training provider contact details – address, email, website</li>
        <li>Age range (primary, secondary or middle years only)</li>
      </ul>

      <h3 class="govuk-heading-m">Further information required</h3>

      <p>Excluding free text fields, we also need, for each course:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Fees</li>
        <li>Salary (if salaried)</li>
        <li>Confirmation of QTS/PGCE with QTS status</li>
        <li>Precise age range</li>
        <li>Any schools not listed</li>
        <li>Length of full time and part time courses</li>
        <li>The name of the main site (first campus) if it differs from the provider name</li>
        <li>Do SCITTs use universities to accredit PGCE aspect of course</li>
      </ul>

      <h2 class="govuk-heading-l">Folding multiple UCAS courses into&nbsp;one</h2>
      <p>Try having one page per subject/provider combination. One search result and page per provider gives a space to explain the different preferences or options available for that provider. <a href="https://trello.com/c/RmjRaDkC/8-one-search-result-and-page-per-provider-gives-a-space-to-explain-the-different-preferences-or-options-available-for-that-provide">Untested hypothesis</a>: Users are making a choice about who will provide their course. Then expressing a preference.</p>

      <div class="body-text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Route</th>
              <th class="govuk-table__header" scope="col">Needs folding into single course</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Higher Education</td>
              <td class="govuk-table__cell">Nothing</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SCITT</td>
              <td class="govuk-table__cell">Qualification</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">School Direct</td>
              <td class="govuk-table__cell">
                <ul class="govuk-list remove-bottom-margin">
                  <li>Qualification</li>
                  <li>Salary</li>
                  <li>Schools</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="govuk-heading-m">Folding courses in the SCITT and higher education routes</h3>
      <p>Higher education courses are almost all PGCE. There is one course per subject already. No folding is required.</p>

      <p>SCITT courses are self-accrediting, they may partner with a university for PGCE aspects of a course but this doesn't appear to be classified as accreditation. A few duplicate courses around qualification, these should be easy to fold into a single course.</p>

      <h3 class="govuk-heading-m">Folding School Direct courses</h3>
      <p>All the folding complexity lives within this route.</p>

      <p>Fold on school, then on salary, then on qualification.</p>

      <h4 class="govuk-heading-s">Folding on salary</h4>
      <p>Salaried courses are always presented as their own course on UCAS. Considering a school that has 8 places available, 4 funded with salary and 4 not – it would seem appropriate to merge these two courses into one.</p>

      <h4 class="govuk-heading-s" id="folding-on-schools">Folding on schools</h4>
      <p>Where schools have been given their own subject course by their training provider, these can be combined into a single course – as though they were one course on UCAS with multiple campus options.</p>

      <h4 class="govuk-heading-s">Salaries and schools</h4>
      <p>If there are schools for a salaried course and different schools for unsalaried, how can that be represented? When we show "4 miles to nearest school" in search results, that may not be for a salaried school – prescient if a user has filtered by salary.</p>

      <h3 class="govuk-heading-m">Unfolding for apply</h3>
      <p>We need to communicate how to apply to a variant accurately. eg Which school is available for what, what does and does not have vacancies, what the course codes are – if the choice is represented on UCAS as a separate course.</p>
    </div>
  </div>

{% endblock %}
