{% extends "layout.html" %}
{% set title = 'Publish teacher training courses' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        Prototype:<br />
        <a href="https://manage-courses-prototype.herokuapp.com/">https://manage-courses-prototype.herokuapp.com/</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--l" />

      <h2 class="govuk-heading-l">March 2019</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/deleting-and-withdrawing">Deleting and withdrawing courses</a>
      </h3>
      <p>
        And why there are both.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/ucas-contacts">UCAS contacts</a>
      </h3>
      <p>
        Problems sharing contact information, and how we get around them.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/email-transition-first-batch">Email asking for providers who are available 15-18 April for our first UCAS transition group</a>
      </h3>
      <p>
        Sent on Thursday 7 March.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/transition-explainer">Explaining transition</a>
      </h3>
      <p>
        A page transitioned organisations will see when they first log in.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/postcodes">Postcodes</a>
      </h3>
      <p>
        Asking for, validating and storing postcodes
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/ucas-apply-preferences-2">UCAS Apply preferences: Letters and alerts</a>
      </h3>
      <p>
        Only the GT12 letter and email alert preferences are needed.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">February 2019</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/apply-preferences">UCAS Apply preferences</a>
      </h3>
      <p>
        Settings such as GT12 letters, Star J, Star X and other requirements.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/onboarding-wizard">Onboarding workflow and wizard</a>
      </h3>
      <p>
        How does the onboarding process look after UCAS transition?
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/rollover-wizard">Rollover wizard</a>
      </h3>
      <p>
        A full rollover wizard, ending in a page with current and next cycles.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/first-transition-comms">Email announcing UCAS transition</a>
      </h3>
      <p>
        Sent 20 February.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/mvp-add-location-iteration">Add a location – Iteration 13 February</a>
      </h3>
      <p>
        Clarify the purpose of locations
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/rollover-reckons">Rollover reckons</a>
      </h3>
      <p>
        Thoughts on what rollover might look like. And notes on what rollover is right now.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/status-logic-before-transition">Status logic before UCAS transition</a>
      </h3>
      <p>
        How vacancies, applications and whether a course is on Find is derived from a set of training locations.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/languages-iteration">New course wizard: Languages – Iteration 5 February</a>
      </h3>
      <p>
        Simplify the fields for languages
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/accredited-body-iteration">New course wizard: Accredited body – Iteration 5 February</a>
      </h3>
      <p>
        Remove one of the choices, and minimise the chance of error.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/minimum-requirements-iterations">Minimum course requirements – iterations</a>
      </h3>
      <p>
        A view of how the minimum requirements design has been iterated since December.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/mvp-add-location">Minimum viable Add training location</a>
      </h3>
      <p>
        A replication of what’s available on UCAS. For if we don’t have time to build school autocompletes and other features, with everything else.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-training-location-region">Add training location wizard: Region</a>
      </h3>
      <p>
        Add a region or area, rather than a school or university.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">January 2019</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-training-location">Add training location wizard</a>
      </h3>
      <p>
        Add a training location in Publish rather than UCAS.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/preparing-for-locations">Preparing for more features</a>
      </h3>
      <p>
        Updating the organisation and courses pages to accommodate new features being added as part of UCAS transition.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/edit-course-workflow">Edit course information workflow</a>
      </h3>
      <p>
        Workflow diagram for editing course information
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-further-education-course">New course wizard – Further education</a>
      </h3>
      <p>
        Designs for the further education path in the new course wizard
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/vacancies-iteration-14-jan">Vacancies – Iteration 14 January</a>
      </h3>
      <p>
        Updates to button styles, messaging and validation
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-course-iteration-14-jan">New course wizard – Iteration 14 January</a>
      </h3>
      <p>
        Updates to subjects, minimum requirements and course titles
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/edit-course-information">Course page – Iteration 11 January</a>
      </h3>
      <p>
        Edit course information, update the status column
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/migrating-publish-statuses">Migrating publish statuses</a>
      </h3>
      <p>
        How old UCAS status and enrichment status should map to a single new status.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">December 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/vacancies">Vacancies</a>
      </h3>
      <p>
        First design for changing vacancies at each training location on a course.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/publish-states">Rethinking the publish workflow</a>
      </h3>
      <p>
        What does the publish workflow look like after UCAS transition?
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/edit-title">New course wizard – Confirming course title</a>
      </h3>
      <p>
        Moving the course title fields into the wizard
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/minimum-course-requirements">New course wizard – Minimum course requirements</a>
      </h3>
      <p>
        Choose the minimum course requirements from the new course wizard
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/specific-requirements">UCAS – Specific course requirements</a>
      </h3>
      <p>
        Documentation on minimum qualifications settings in UCAS web-link and apply
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-course-locations">New course wizard – Training locations</a>
      </h3>
      <p>
        Choosing training locations from the new course wizard
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-course-2">New course wizard – Iteration 6 December</a>
      </h3>
      <p>
        Consider route into and out of wizard
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-course">New course wizard</a>
      </h3>
      <p>
        Create a new course in Publish rather than UCAS.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">November 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/ucas-onboarding-form">UCAS training provider onboarding form</a>
      </h3>
      <p>
        Reference: The form completed by new training providers when they begin offering initial teacher training courses.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/schools-autocomplete">Schools autocomplete</a>
      </h3>
      <p>
        An autocomplete for selecting partner schools quickly.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/location-research">Location labels and survey research</a>
      </h3>
      <p>
        First attempts to understand location with a classification exercise.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/the-location-problem">The location problem</a>
      </h3>
      <p>
        Location is a complex issue, we begin to break it down.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/hide-discontinued-locations">Hide discontinued training locations</a>
      </h3>
      <p>
        Don’t show these locations to avoid confusion.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">October 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/choose-outcome">Edit a course outcome</a>
      </h3>
      <p>
        Allow providers to choose an outcome, instead of using our inferred one.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/course-not-running-oct-15">Course statuses – Iteration 15 October</a>
      </h3>
      <p>
        We have uncovered more complexity around course statuses on UCAS.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">September 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/copy-content-from-another-course-14-sept">Copy content from another course – Iteration 14 September</a>
      </h3>
      <p>
        Make the copy feature easier to find.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/copy-content-from-another-course-live">Copy content from another course (Live version)</a>
      </h3>
      <p>
        We changed this feature when we built it.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/enrichment-sept-6">Enrichment release – 6 September</a>
      </h3>
      <p>
        Publish courses, as it was released with the course enrichment feature.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/welcome-email">Welcome email</a>
      </h3>
      <p>
        The email we send when users first log in.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">August 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/contact-details">Contact details</a>
      </h3>
      <p>
        Allow users to edit their contact details
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/organisation-iteration-aug-24">Iteration - 24 August</a>
      </h3>
      <p>
        Split homepage into tasks, Step 1 and Step 2
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/iteration-aug-23">Iteration - 23 August</a>
      </h3>
      <p>
        Trying to bring ‘About your organisation’ into the user journey
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/user-research-aug-22">User research - 22 August</a>
      </h3>
      <p>
        Testing markdown, SimpleMDE and publishing workflow
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/publish-changes/iteration-aug-15">Publishing workflow – Iteration 15 August</a>
      </h3>
      <p>
        Adding clearer status labels.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/who-did-what-when">Who did what and when</a>
      </h3>
      <p>
        The beginnings of an audit trail for content.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/preview-course">Preview course</a>
      </h3>
      <p>
        Screenshots showing different preview states depending on course type and state.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/needs-behind-fields">Fields we ask for and why</a>
      </h3>
      <p>
        Documentation of needs around each course field
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/copy-content-from-another-course">Copy content from another course</a>
      </h3>
      <p>
        Design for copying form values from one course to another
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/terms-agreement">Terms agreement</a>
      </h3>
      <p>
        A user must agree to terms before enriching.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/formatting">Formatting</a>
      </h3>
      <p>
        Paragraphs, lists and links.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/no-more-folding">No more course folding</a>
      </h3>
      <p>
        Reasoning behind not folding courses and unfolded course designs.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/success-messaging">Success messaging</a>
      </h3>
      <p>
        Messages we show after a successful save or publish.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/course-not-running">Course statuses – Iteration 3 August</a>
      </h3>
      <p>
        A more indepth look at UCAS course status and how it’ll affect publishing.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/story-map-aug-1">Story map – 1 August</a>
      </h3>
      <p>
        Screenshots of the end to end journey from publish courses to search and compare.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">July 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/validating-on-publish">Validating on publish</a>
      </h3>
      <p>
        How validation works when a user tries to publish without the required fields.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/publish-changes">Publishing workflow</a>
      </h3>
      <p>
        Workflow and designs for different publish states.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/ucas-course-status">Course statuses</a>
      </h3>
      <p>
        An iteration on the <a href="/publish-teacher-training/check-ucas-data">onboarding design</a> (read-only) to include course status.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/salary-and-fees">Salary and fees</a>
      </h3>
      <p>
        Designs for different fields for salaried and fee paying courses.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/no-known-organisation">When a user isn’t recognised</a>
      </h3>
      <p>
        Designs for when a user’s email isn’t in our whitelist.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/templates">Course templates</a>
      </h3>
      <p>
        Use templates to share information between courses.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/about-your-organisation">About your organisation</a>
      </h3>
      <p>
        Share organisation information between courses and split the organisation page across tabs.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/multiple-organisations">Managing multiple organisations</a>
      </h3>
      <p>
        Some users will be responsible for courses from multiple organisations. eg SCITT-schools.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/request-access-iteration-june-29">Request access</a>
      </h3>
      <p>
        Request access for users.
      </p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">June 2018</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/check-ucas-data">Check your UCAS data (Initial launch)</a>
      </h3>
      <p>
        A read-only version of the tool where users can validate their imported courses and request access for users.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/iteration-june-28">Iteration 28 June</a>
      </h3>
      <p>
        Add character counts and refine preview.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/iteration-june-26">Iteration 26 June</a>
      </h3>
      <p>
        Separate courses by accrediting provider. Provide explicit fields for each course offered.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/read-only">Draft of a read only version</a>
      </h3>
      <p>
        An initial pass at what a read only view of the service could have looked like.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/qa-draft">Draft of the QA process</a>
      </h3>
      <p>
        Submit to QA and example pass and fail emails
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/school-direct-view">School Direct view</a>
      </h3>
      <p>
        School Direct routes are the most complex. List schools, show multiple UCAS courses per subject, show folded course summary.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/simplified-university-view">A university’s view</a>
      </h3>
      <p>
        Universities are the simplest provider. There are no schools to apply to and <a href="/publish-teacher-training/imported-from-ucas">no course folding</a>.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/course-field-guidance">Contextual guidance for course fields</a>
      </h3>
      <p>
        A first pass at providing some guidance for each course field. Starting from the <a href="/publish-teacher-training/original-onboarding">original onboarding</a> guidance.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/details-from-ucas">Course page showing what’s been imported from UCAS</a>
      </h3>
      <p>
        Indicate the raw information we’ve received from UCAS, begin to explain where this must be edited and how we are handling that information.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/sign-in-pre-register-user">Sign-in: Invite a user</a>
      </h3>
      <p>This is the approach we attempted first. Because of limitations with the invite email and users ending up at a dead-end, we switched to self-registration.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/sign-in-self-serve-registration">Sign-in: User registers themself</a>
      </h3>
      <p>We send users a sign-up link so they can register and then be forwarded on to our service.</p>

      <hr class="govuk-section-break govuk-section-break--l" />
      <h2 class="govuk-heading-l">May 2018 and earlier</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/imported-from-ucas">Course folding and UCAS course details</a>
      </h3>
      <p>Following the definition of a course, documentation on how we might fold courses based on UCAS data.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/what-is-a-course">What is a course?</a>
      </h3>
      <p>Work to define our definition of a course.</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/course-with-variants">Course with variants and field guidance</a>
      </h3>
      <p>
        Based on UCAS course descriptions it’s often unclear how courses vary between qualification, funding, subject and accrediting provider – use fields on a course page to prompt providers to indicate these differences, helping candidates make an informed choice.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/courses-and-tabs">Courses and tabs</a>
      </h3>
      <p>
        Exploration of a home page view with tabs for courses, schools, default course and organisation details.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/original-onboarding">Original onboarding</a>
      </h3>
      <p>
        The spreadsheet sent to providers rendered as a single page form.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/course-with-parts">Course with parts</a>
      </h3>
      <p>
        A course listing and a course view where data is broken down into parts to complete.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/publish-teacher-training/new-course-wizard">Experimental new course wizard</a>
      </h3>
      <p>
        Breaking down data required for each course into a page-per-thing wizard.
      </p>
    </div>
  </div>

{% endblock %}
