{% extends "layout.html" %}
{% set title = 'Status logic before UCAS transition' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>How the Is it on Find?, Applications open, Vacancies and UCAS Statuses are derived from training locations.</p>

      <h2 class="govuk-heading-l">Training location: Is it on Find?</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 50%">UCAS Status</th>
            <th class="govuk-table__header" style="width: 25%">UCAS Publish flag</th>
            <th class="govuk-table__header" style="width: 25%">Is it on Find?</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">N (new), S (suspended), D (discontinued)</td>
            <td class="govuk-table__cell">No effect</td>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">R (running)</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">R (running)</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Training location: Applications open</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 25%">Is it on Find?</th>
            <th class="govuk-table__header" style="width: 25%">Application open date</th>
            <th class="govuk-table__header" style="width: 25%">Vacancies</th>
            <th class="govuk-table__header">Applications</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Today or earlier</td>
            <td class="govuk-table__cell">F (full time), P (part time), B (both)</td>
            <td class="govuk-table__cell">Open</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">No effect</td>
            <td class="govuk-table__cell">No effect</td>
            <td class="govuk-table__cell">Closed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">In the future</td>
            <td class="govuk-table__cell">No effect</td>
            <td class="govuk-table__cell">Opens on [date] (Closed)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Today or earlier</td>
            <td class="govuk-table__cell">N (none)</td>
            <td class="govuk-table__cell">Closed (no vacancies)</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Course: Is it on Find?</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 50%">Training location on find</th>
            <th class="govuk-table__header">Course on find</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">All no</td>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Any yes</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Course: Applications open</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 50%">Training location accepts applications</th>
            <th class="govuk-table__header">Course accepts applications</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">All no</td>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Any yes</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Course: Vacancy status</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" style="width: 50%">Training location vacancy status</th>
            <th class="govuk-table__header">Course vacancy status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Any has F (full time), P (part time), B (both)</td>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">All have N (no vacancies)</td>
            <td class="govuk-table__cell">No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
