{% extends "layout.html" %}
{% set title = 'Types of location' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs(breadcrumbItems()) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>We need to classify different types of location so we can improve the quality of search results and better communicate them to applicants.</p>

      <p>This is a first pass at trying to define the terms we should use.</p>

      <p><a href="https://docs.google.com/document/d/15PEl5XS3r0vGpwoTjrx_j70ZgF9qymoMripRDP2EcnI/edit">Discussion is on the Google Document</a></p>

      <h2 class="govuk-heading-l">Host school</h2>
      <p>A school where a student is based for most of their time. Also known as a parent school.</p>

      <h2 class="govuk-heading-l">University campus</h2>
      <p>A university campus where a student will be based for a large part of their training, when not on school placements.</p>

      <h2 class="govuk-heading-l">Administrative address</h2>
      <p>No training takes place here. Students do not need to go to this location. This might be the headquarters or registered address of your organisation.</p>

      <h2 class="govuk-heading-l">Training centre</h2>
      <p>Students will spend some time training here, but it is not their main location. This can be a school.</p>

      <h2 class="govuk-heading-l">Regional hub</h2>
      <p>It represents many locations in an area, students apply to a region. It is not a physical address that students visit.</p>

      <h2 class="govuk-heading-l">School (other)</h2>
      <p>Catch-all?</p>

      <h2 class="govuk-heading-l">University campus (accredited provider)</h2>
      <p>A university campus where a student will study for the PGCE parts of their course.</p>
    </div>
  </div>

{% endblock %}
