{% extends "layout.html" %}
{% set title = 'What is a course?' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <li><a href="https://docs.google.com/presentation/d/1QgjOu_xpzZGDP_ylMIKzDL8CgW1TvtVKICb0P8YiTWQ/edit?usp=sharing">Slide deck</a></li>
        <li><a href="https://dfedigital.atlassian.net/browse/BATSA-287">BATSA-287</a></li>
        <li><a href="https://docs.google.com/document/d/1mhfEWuCosHZYPAsJkrYnFUHfule8mLrA9yMpTXg4Gco/edit?usp=sharing">Initial UCAS analysis</a></li>
        <li><a href="https://docs.google.com/document/d/1AoXjU4hh56ql_YgS1NonMvT60laBtNx_vW7TiIo14vE/edit?usp=sharing">Hypotheses by Ray Khan</a></li>
      </ul>

      <h2 class="govuk-heading-l">Why are we questioning this?</h2>
      <p>We asked providers for their business studies courses using a spreadsheet.</p>
      <p>What we got back from	 providers was inconsistent. Providers had different ideas about what a course was.</p>
      <p>When we looked at UCAS course data we found a similar picture.</p>
      <p>When we asked providers about this, we found that they wanted a clear definition from us.</p>
      <p>Our definition will affect what we show to candidates and what providers need to manage.</p>

      <h2 class="govuk-heading-l">Questions we asked</h2>

      <p>Should this be one search result or two?</p>
      <p>What will training providers manage?</p>
      <p>What’s the difference between:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>A full time course vs a part time one</li>
        <li>A course from the same provider, for the same subject but with a different accrediting provider</li>
        <li>A course with a salary vs one without</li>
        <li>A course offering a PGCE with QTS vs one with only a QTS</li>
      </ul>

      <h2 class="govuk-heading-l">Examples of the problem</h2>
    </div>
  </div>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <img class="doc-image" src="/public/images/misc/private-beta-problem-01.png" alt="Screenshot of private beta search results. Two very similar search results in private beta. One is full time and one is part time." width="630" />
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Two very similar search results in private beta. One is full time and one is part time.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <img class="doc-image" src="/public/images/misc/private-beta-problem-02.png" alt="Screenshot of private beta search results. Two identical search results in private beta. One is PGCE with QTS, the other is QTS only." width="630" />
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Two identical search results in private beta. One is PGCE with QTS, the other is QTS only.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <img class="doc-image" src="/public/images/misc/ucas-problem-01.png" alt="Screenshot of UCAS search results. A similar problem with UCAS – 6 courses, one per school." width="630" />
    </div>
    <div class="govuk-grid-column-one-third">
      <p>A similar problem with UCAS – 6 courses, one per school.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <img class="doc-image" src="/public/images/misc/ucas-problem-02.png" alt="Screenshot of UCAS search results. Another UCAS example – four courses, different accrediting providers, two salaried and two unsalaried." width="630" />
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Another UCAS example – four courses, different accrediting providers, two salaried and two unsalaried.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">What makes a good search result?</h2>

      <p>Users compare search results to find courses that meet their needs.</p>
      <p>Search results must be distinct, and the differences between them must be clear.</p>

      <h2 class="govuk-heading-l">A search result is…</h2>

      <p>A [subject] and a [training provider].</p>

      <p>For example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Chemistry at UCL</li>
        <li>Chemistry at Calthorpe Park Fleet</li>
        <li>Chemistry at University of Sussex</li>
      </ul>
      <p>It’s a decision about what to study and who delivers the training.</p>
      <p>Further decisions are options that relate to what that provider offers.</p>

      <h3 class="govuk-heading-m">Make options clear</h3>

      <p>Each search result must show what options are available.</p>
      <p>The course page becomes a space for providers to explain to candidates the differences between those options.</p>
      <p>When applying for a course the options decision becomes explicit and candidates can make an informed choice.</p>

      <p><a href="https://search-and-compare-beta.herokuapp.com/history/variants">Example search results</a></p>

      <h2 class="govuk-heading-l">What this means</h2>

      <p>We will have one page representing many UCAS courses.</p>
      <p>We need to map UCAS course data to our definition.</p>
      <p>We will have fewer courses, meaning fewer results for candidates to look through and fewer courses for providers to manage in our tool.</p>

      <h2 class="govuk-heading-l">What next</h2>

      <p>We’ve created these designs based on UCAS course data and existing user research.</p>
      <p>We need to validate and iterate them with users and training providers.</p>
      <p>We will use our course definition to create the data models and user interface for managing courses. </p>
      <p>This will inform iterations to our candidate course page.</p>
    </div>
  </div>

{% endblock %}
