{% extends "layout.html" %}
{% set title = 'Becoming a teacher design history' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-4">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Find</h2>

      <ul class="govuk-list">
        <li><a href="/find-teacher-training">Find postgraduate teacher training</a></li>
        <li><a href="/publish-teacher-training">Publish teacher training courses</a></li>
        <li><a href="/performance">Find performance reports</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l" />

      <h2 class="govuk-heading-l">Apply</h2>

      <ul class="govuk-list">
        <li><a href="/apply-teacher-training">Apply for teacher training</a></li>
        <li><a href="/manage-applications">Manage teacher training applications</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
