{% extends "layout.html" %}
{% set title = 'Design history' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>Design history is a <a href="https://github.com/fofr/govuk-design-history">repository on Github</a>. It is built using the <a href="https://github.com/alphagov/govuk-prototype-kit">GOV.UK prototyping kit</a>.</p>

      <p>Fork this repository to use its tools and begin documenting your designs.</p>

      <h2 class="govuk-heading-l">Document your designs</h2>
      <p>
         This repository makes it easy to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>screenshot your designs</li>
        <li>create pages of screenshots to document designs</li>
        <li>document designs using the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a></li>
        <li>print pages of designs</li>
        <li>make designs shareable and linkable</li>
      </ul>

      <p>
        <a href="https://github.com/fofr/govuk-design-history">View the README to see how to take screenshots</a>
      </p>

      <h2 class="govuk-heading-l">Example</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://bat-design-history.herokuapp.com/">Become a teacher – Design history</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
