{% extends "layout.html" %}
{% set title = 'Publishing workflow – Iteration 15 August' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>An iteration on <a href="/publish-teacher-training/publish-changes">the original</a></p>
      <p>There was <a href="/publish-teacher-training/user-research-aug-22#workflow-states">earlier iteration of this design</a> that highlighted the ‘unpublished changes’ aspect of the publish sidebar, which was replaced with new/draft/published statuses.</p>
      <p>We also <a href="/publish-teacher-training/who-did-what-when">added a user and timestamp</a>.</p>

      <h2 class="govuk-heading-l" id="about-your-organisation-heading">About your organisation</h2>
    </div>
  </div>

  <div class="govuk-grid-row" style="margin-left: -165px; margin-right: -165px">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">
        New
      </h2>
      <p>Fields are empty</p>
      <div class="add-double-bottom-margin status-box">
        <span class="govuk-tag phase-tag-no-content govuk-!-margin-bottom-4">Empty</span>
        <p>You need to complete and publish this information.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <h3 class="govuk-heading-m">Preview on a course</h3>
        <p>This information will show on all your courses.</p>
        <p>Preview any course to see how it will look to applicants.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <h3 class="govuk-heading-m">Publish</h3>
        <p>You can make changes to this after publishing it.</p>
        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">First draft</h2>
      <p>Edits have been made</p>

      <div class="add-double-bottom-margin status-box">
        <div class="unpublished-changes">
          <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
          <p>You have unpublished changes.</p>
          <p class="add-top-margin">Last saved:<br>12 Jan 2019 by Jane Doe</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <h3 class="govuk-heading-m">Preview on a course</h3>
        <p>This information will show on all your courses.</p>
        <p>Preview any course to see how it will look to applicants.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
        <h3 class="govuk-heading-m">Publish</h3>
        <p>You can make changes to this after publishing it.</p>
        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Published</h2>
      <p>No subsequent edits made</p>
      <div class="add-double-bottom-margin status-box">
          <span class="govuk-tag phase-tag-published govuk-!-margin-bottom-4">Published</span>
          <p>Last published:<br>12 Jan 2019 by Rita Cosca</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Second draft</h2>
      <p>Edits made after publishing</p>

      <div class="add-double-bottom-margin status-box">
        <div class="unpublished-changes">
          <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
          <p>You have unpublished changes.</p>
          <p class="add-top-margin">Last saved:<br>12 Jan 2019 by Jane Doe</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <p>Last published:<br>12 Jan 2019 by Rita Cosca</p>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Preview on a course</h3>
        <p>This information will show on all your courses.</p>
        <p>Preview any course to see how it will look to applicants.</p>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Publish</h3>
        <p>You can make changes to this after publishing it.</p>
        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-l" id="course-heading">Course</h2>

  <div class="govuk-grid-row" style="margin-left: -165px; margin-right: -165px">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">
        New
      </h2>
      <p>Fields are empty</p>

      <div class="add-double-bottom-margin status-box">
        <span class="govuk-tag phase-tag-no-content govuk-!-margin-bottom-4">Empty</span>
        <p>You need to complete and publish this information.</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Preview</h3>
        <p>See how this course looks with your changes.</p>
        <p>Preview your course to check for mistakes before publishing.</p>
        <p>
          <a href="#">Preview course</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Publish</h3>
        <p>Publish your changes.</p>

        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">View on website</h3>
        <p>See how this course currently looks to applicants:</p>
        <p class="govuk-!-margin-bottom-0">
          <a href="#">View on website</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">First draft</h2>
      <p>Edits have been made</p>

      <div class="add-double-bottom-margin status-box">
        <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
        <p>You have unpublished changes.</p>
        <p class="add-top-margin">Last saved:<br>12 Jan 2019 by Jane Doe</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Preview</h3>
        <p>See how this course looks with your changes.</p>
        <p>Preview your course to check for mistakes before publishing.</p>
        <p>
          <a href="#">Preview course</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Publish</h3>
        <p>Publish your changes.</p>

        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">View on website</h3>
        <p>See how this course currently looks to applicants:</p>
        <p class="govuk-!-margin-bottom-0">
          <a href="#">View on website</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Published</h2>
      <p>No subsequent edits made</p>

      <div class="add-double-bottom-margin status-box">
        <span class="govuk-tag phase-tag-published govuk-!-margin-bottom-4">Published</span>

        <p>Last published:<br>12 Jan 2019 by Rita Cosca</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">View on website</h3>
        <p>See how this course currently looks to applicants:</p>
        <p class="govuk-!-margin-bottom-0">
          <a href="#">View on website</a>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">Second draft</h2>
      <p>Edits made after publishing</p>

      <div class="add-double-bottom-margin status-box">
        <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
        <p>You have unpublished changes.</p>
        <p class="add-top-margin">Last saved:<br>12 Jan 2019 by Jane Doe</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <p>Last published:<br>12 Jan 2019 by Rita Cosca</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Preview</h3>
        <p>See how this course looks with your changes.</p>
        <p>Preview your course to check for mistakes before publishing.</p>
        <p>
          <a href="#">Preview course</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">Publish</h3>
        <p>Publish your changes.</p>

        <a href="#" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

        <h3 class="govuk-heading-m">View on website</h3>
        <p>See how this course currently looks to applicants:</p>
        <p class="govuk-!-margin-bottom-0">
          <a href="#">View on website</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
