{% extends "layout.html" %}
{% set title = 'Add location – Iteration 13 February' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The term ‘training locations’ is ambiguous.</p>

      <p>Providers can misinterpret what ‘training locations’ should mean. The data we want to capture is specifically a set of locations that candidates will choose between when they apply.</p>

      <p>Training locations is used in the UCAS application and on Find.</p>

      <p>This design tries to fix this by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>renaming ‘training locations’ to ‘locations’</li>
        <li>adding content about candidates selecting these locations</li>
        <li>providing a definition with a link to further guidance</li>
        <li>checking the meaning is understood at the point of adding a location (using a checkbox)</li>
      </ul>

      <p>Success messages after saving and edited have been added, these reinforce the message and give routes to editing courses.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' },
    { text: 'Locations', id: 'locations' },
    { text: 'Add a location', id: 'add-a-location' },
    { text: 'Location added', id: 'location-added' },
    { text: 'Location edited', id: 'location-edited' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/mvp-add-location-iteration/thumbnails/01-organisation.png', '/public/images/publish-teacher-training/mvp-add-location-iteration/01-organisation.png', '') }}

  {{ designHistory.screenshot('Locations', 'locations', '/public/images/publish-teacher-training/mvp-add-location-iteration/thumbnails/02-locations.png', '/public/images/publish-teacher-training/mvp-add-location-iteration/02-locations.png', '') }}

  {{ designHistory.screenshot('Add a location', 'add-a-location', '/public/images/publish-teacher-training/mvp-add-location-iteration/thumbnails/03-add-a-location.png', '/public/images/publish-teacher-training/mvp-add-location-iteration/03-add-a-location.png', '') }}

  {{ designHistory.screenshot('Location added', 'location-added', '/public/images/publish-teacher-training/mvp-add-location-iteration/thumbnails/04-location-added.png', '/public/images/publish-teacher-training/mvp-add-location-iteration/04-location-added.png', '') }}

  {{ designHistory.screenshot('Location edited', 'location-edited', '/public/images/publish-teacher-training/mvp-add-location-iteration/thumbnails/05-location-edited.png', '/public/images/publish-teacher-training/mvp-add-location-iteration/05-location-edited.png', '') }}

{% endblock %}
