{% extends "layout.html" %}
{% set title = 'School direct view' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        School Direct routes are the most complex. List schools, show multiple UCAS courses per subject, show folded course summary.
      </p>

      <p>We tested this with West London Teaching School Alliance:<br /><a href="https://lookback.io/watch/mbc9BNqBJjoRkinAE">research session</a>. We also demoed it to groups of School Direct and SCITT providers in Brighton and Reading. Some provider user needs have been derived from these sessions: <a href="https://docs.google.com/document/d/1Jb5uDZBnSFGcCdl3gAF9ggAo1klsEWL-KeSIGGLJpBE/edit">provider user needs</a></p>

      <p>An iteration of this was tested with <a href="/publish-teacher-training/kingston-school-direct">Kingston School Direct</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course details from ucas', id: 'course-details-from-ucas' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'About this training provider', id: 'about-this-training-provider' },
  { text: 'Course requirements', id: 'course-requirements' },
  { text: 'Qualification', id: 'qualification' },
  { text: 'Salary', id: 'salary' },
  { text: 'Preview', id: 'preview' },
  { text: 'Schools', id: 'schools' },
  { text: 'Organisation', id: 'organisation' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Courses', 'courses', '/public/images/publish-teacher-training/school-direct-view/thumbnails/01-courses.png', '/public/images/publish-teacher-training/school-direct-view/01-courses.png', '') }}

  {{ designHistory.screenshot('Course', 'course', '/public/images/publish-teacher-training/school-direct-view/thumbnails/02-course.png', '/public/images/publish-teacher-training/school-direct-view/02-course.png', '') }}

  {{ designHistory.screenshot('Course details from ucas', 'course-details-from-ucas', '/public/images/publish-teacher-training/school-direct-view/thumbnails/03-course-details-from-ucas.png', '/public/images/publish-teacher-training/school-direct-view/03-course-details-from-ucas.png', '') }}

  {{ designHistory.screenshot('About this course', 'about-this-course', '/public/images/publish-teacher-training/school-direct-view/thumbnails/04-about-this-course.png', '/public/images/publish-teacher-training/school-direct-view/04-about-this-course.png', '') }}

  {{ designHistory.screenshot('About this training provider', 'about-this-training-provider', '/public/images/publish-teacher-training/school-direct-view/thumbnails/05-about-this-training-provider.png', '/public/images/publish-teacher-training/school-direct-view/05-about-this-training-provider.png', '
    <h3 class="govuk-heading-s remove-top-margin">Interview process</h3>
    <p>Depending on the course the interview can be different. For a salaried course the school you’ll be training in will have a greater say over the applicant.</p>

    <h3 class="govuk-heading-s">Placement schools</h3>
    <p>This box is universally hated. It’s perhaps doing too much – combining pattern of placements, course structure and how you are placed.</p>
    <p>Possible alternatives: "When you’ll spend time in a different school", "Schools you’ll train in"</p>
  ') }}

  {{ designHistory.screenshot('Course requirements', 'course-requirements', '/public/images/publish-teacher-training/school-direct-view/thumbnails/06-course-requirements.png', '/public/images/publish-teacher-training/school-direct-view/06-course-requirements.png', '') }}

  {{ designHistory.screenshot('Qualification', 'qualification', '/public/images/publish-teacher-training/school-direct-view/thumbnails/07-qualification.png', '/public/images/publish-teacher-training/school-direct-view/07-qualification.png', '
    <p>Qualification outcomes are more complex than this. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>QTS with a PGCE top-up – top-ups can vary, eg alumni PGCE, this also affects fees</li>
      <li>PGCE can vary, some have masters credits others don’t – sometimes you don’t get the PGCE if you fail the masters bit, sometimes that doesn’t matter</li>
    </ul>
  ') }}

  {{ designHistory.screenshot('Salary', 'salary', '/public/images/publish-teacher-training/school-direct-view/thumbnails/08-salary.png', '/public/images/publish-teacher-training/school-direct-view/08-salary.png', '
    <p>The salary isn’t available. It’s based on the national teacher’s pay scale that isn’t published until later in the year.</p>
    <p>Schools have also been applying that scale differently, eg prorata based on time in schools vs full time. Rules around this are unclear.</p>
    <p>We need to remove the salary field and add guidance around how much salary there will be in existing box (eg setting against pay scale).</p>
  ') }}

  {{ designHistory.screenshot('Preview', 'preview', '/public/images/publish-teacher-training/school-direct-view/thumbnails/09-preview.png', '/public/images/publish-teacher-training/school-direct-view/09-preview.png', '') }}

  {{ designHistory.screenshot('Schools', 'schools', '/public/images/publish-teacher-training/school-direct-view/thumbnails/10-schools.png', '/public/images/publish-teacher-training/school-direct-view/10-schools.png', '') }}

  {{ designHistory.screenshot('Organisation', 'organisation', '/public/images/publish-teacher-training/school-direct-view/thumbnails/11-organisation.png', '/public/images/publish-teacher-training/school-direct-view/11-organisation.png', '') }}


{% endblock %}
