{% extends "layout.html" %}
{% set title = 'Terms agreement' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ designHistory.breadcrumbs() }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Before each user can begin enriching their course data we need them to agree to our terms and conditions.</p>

      <p>If a user isn’t part of an organisation, they will still see the <a href="/publish-teacher-training/no-known-organisation">no organisation page</a>.</p>

      <p>Once a user has logged in, if they have access to an organisation and if they haven’t already agreed to the terms, they will see the page below.</p>

      <p>While a user hasn’t agree to the terms, the only pages they can access are this one, terms and conditions, privacy policy and cookies (ie the footer links). Access to any other valid URL should redirect them back to here.</p>

      <p>
        <a href="/accept-terms">View design in prototype</a>
      </p>

      <p><a href="https://trello.com/c/fnReQwNM/121-dont-allow-publishing-until-a-publisher-has-accepted-terms-and-conditions">Story map</a>, <a href="https://trello.com/c/QVVSINV5/135-design-terms-and-conditions-acceptance-flow-when-a-user-signs-in-to-publish-courses">Trello ticket</a></p>
    </div>
  </div>

  {% set contents = [
    { text: 'Before you begin', id: 'before-you-begin' },
    { text: 'Before you begin with error', id: 'before-you-begin-with-error' }
  ] %}
  {{ designHistory.screenshotContents(contents) }}

  {{ designHistory.screenshot('Before you begin', 'before-you-begin', '/public/images/publish-teacher-training/terms-agreement/thumbnails/01-before-you-begin.png', '/public/images/publish-teacher-training/terms-agreement/01-before-you-begin.png', '') }}

  {{ designHistory.screenshot('Before you begin with error', 'before-you-begin-with-error', '/public/images/publish-teacher-training/terms-agreement/thumbnails/01-before-you-begin-with-error.png', '/public/images/publish-teacher-training/terms-agreement/01-before-you-begin-with-error.png', '') }}


{% endblock %}
